﻿

<form id="customer" name="frmCustomer" data-ng-submit="frmCustomer.$valid" class="col-md-12" style="border: groove; border-radius: 15px; padding: 15px">
    <div style="padding-bottom: 20px; margin-bottom: 20px;">
        <h4>The Insured - {{customerDetailscontroller.quoteReference}}</h4>

        <div class="col-md-12 form-group" style="padding: 0; margin: 0;">
            <label style="width: 15%; float: left;" class="control-label">Insured Entity</label>
            <select class="form-control btn btn-default dropdown-toggle"
                    style="width: 280px; float: left;"
                    data-ng-model="customerDetailscontroller.entityTypeSelected"
                    data-ng-options="opts.EntityTypeString for opts in customerDetailscontroller.entityTypes"
                    required>
                <option value="">Please Select</option>
                <!--<option value="1">The person name below</option>
                <option value="2">Limited Company</option>
                <option value="3">Trading As</option>
                <option value="4">Committee</option>
                <option value="5">Charity</option>-->
            </select>
        </div>
        <div class="col-md-12 form-group" data-ng-switch="customerDetailscontroller.customer[0].entityTypeSeleced" data-ng-if="customerDetailscontroller.customer[0].entityTypeSeleced > 1" style="padding: 0; margin: 0;">

            <label style="width: 15%; float: left;" data-ng-switch-when="2" class="control-label">Company Name</label>
            <label style="width: 15%; float: left;" data-ng-switch-when="3" class="control-label">Trading As Name</label>
            <label style="width: 15%; float: left;" data-ng-switch-when="4" class="control-label">Committee Name</label>
            <label style="width: 15%; float: left;" data-ng-switch-when="5" class="control-label">Charity Name</label>
            <input type="text"
                   style="width: 280px; float: left;"
                   data-ng-model="customerDetailscontroller.customer[0].EntityTypeName">
        </div>
    </div>



    <div class="custHeader">
        <div class="col-md-12 custData" style="padding: 0; margin: 0; margin-bottom: 20px; width: 100%; max-height: 10em;">
            <div class="form-group">
                <label class="control-label">First Name</label>
                <input type="text"
                       placeholder="First Name"
                       class="form-control"
                       data-ng-model="customerDetailscontroller.customer[0].FirstName"
                       required />
            </div>
            <div class="form-group">

                <label class="control-label">Last Name</label>
                <input type="text"
                       class="form-control"
                       placeholder="Last Name"
                       data-ng-model="customerDetailscontroller.customer[0].LastName"
                       required />
            </div>
            <div class="form-group">
                <label class="control-label">Telephone</label>
                <input type="text"
                       placeholder="Telephone"
                       pattern="^\s*\(?(020[7,8]{1}\)?[ ]?[1-9]{1}[0-9{2}[ ]?[0-9]{4})|(0[1-8]{1}[0-9]{3}\)?[ ]?[1-9]{1}[0-9]{2}[ ]?[0-9]{3})\s*$"
                       title="Area code + Phone Number"
                       class="form-control"
                       data-ng-model="customerDetailscontroller.customer[0].Telephone"
                       required />
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <input type="email"
                       placeholder="Email"
                       title="Email@.com"
                       class="form-control"
                       data-ng-model="customerDetailscontroller.customer[0].Email"
                       required />
            </div>
        </div>

        <div data-ng-if="range().length > 1">
            <h4>Additional Parties Covered under this policy</h4>
            <label class="control-label">First Name</label>
            <label class="control-label">Last Name</label>
            <label class="control-label">Telephone</label>
            <label class="control-label">Email</label>
            <input id="Text1"
                   class="form-control"
                   name="Contact.QuoteFK"
                   data-ng-show="false"
                   data-ng-model="customer.quotePK" />
            <div data-ng-repeat="i in range() track by $index" style="padding: 0; margin: 0;" class="col-md-12 custData" data-ng-if="$index > 0">
                <div class="col-md-12" style="padding: 0; margin: 0; width: 100%; display:inline-flex;">
                    <div class="form-group">
                        <input type="text"
                               placeholder="First Name"
                               class="form-control"
                               data-ng-model="customerDetailscontroller.customer[$index].FirstName"
                               required />
                    </div>
                    <div class="form-group">
                        <input type="text"
                               class="form-control"
                               placeholder="Last Name"
                               data-ng-model="customerDetailscontroller.customer[$index].LastName"
                               required />
                    </div>
                    <div class="form-group">
                        <input type=hidden
                               class="form-control"
                               pattern="^\s*\(?(020[7,8]{1}\)?[ ]?[1-9]{1}[0-9{2}[ ]?[0-9]{4})|(0[1-8]{1}[0-9]{3}\)?[ ]?[1-9]{1}[0-9]{2}[ ]?[0-9]{3})\s*$"
                               data-ng-model="customerDetailscontroller.customer[$index].Telephone"
                               title="Area code + Phone Number"
                               required />
                    </div>
                    <div class="form-group">
                        <input type=hidden
                               class="form-control"
                               value=""
                               data-ng-model="customerDetailscontroller.customer[$index].Email"
                               required />
                    </div>
                </div>
            </div>
        </div>
    </div>

    <h4>Address</h4>

    <div class="addressPanel">
        <div style="width: 100%">
            <div class="form-group">
                <label class="control-label">PostCode</label>
                <input type="text"
                       style="width: 20%;"
                       placeholder="Post Code"
                       pattern="[A-Za-z]{1,2}[0-9Rr][0-9A-Za-z]? [0-9][ABD-HJLNP-UW-Zabd-hjlnp-uw-z]{2}"
                       class="form-control"
                       data-ng-model="customerDetailscontroller.address[0].PostCode"
                       data-ng-change="getAddresses()"
                       data-ng-model-options="{ updateOn: 'blur', debounce: { default: 500, blur: 0 } }" 
                       required/>

            </div>
            <div class="form-group">
                <label class="control-label"></label>
                <select class="form-control btn btn-default dropdown-toggle"
                        style="width: 280px; float: left;"
                        data-ng-change="selectedAdd(add.id)"
                        data-ng-model="add"
                        data-ng-options="add.name for add in addresses track by add.id">
                    <option value="">Select Address</option>
                </select>
            </div>
            <div class="form-group">
                <label class="control-label">Address1</label>
                <input style="width: 100%;"
                       type="text"
                       placeholder="Address1"
                       title="Please complete"
                       class="form-control"
                       data-ng-model="customerDetailscontroller.address[0].Address1" 
                       required/>
            </div>
            <div class="form-group">
                <label class="control-label">Address2</label>
                <input type="text"
                       style="width: 100%;"
                       placeholder="Address2"
                       class="form-control"
                       data-ng-model="customerDetailscontroller.address[0].Address2" 
                       required/>
            </div>
            <div class="form-group">
                <label class="control-label">Address3</label>
                <input type="text"
                       style="width: 100%;"
                       placeholder="Address3"
                       class="form-control"
                       data-ng-model="customerDetailscontroller.address[0].Address3" />
            </div>
            <div class="form-group">
                <label class="control-label">Town</label>
                <input type="text"
                       style="width: 100%;"
                       placeholder="Town"
                       class="form-control"
                       data-ng-model="customerDetailscontroller.address[0].Town" 
                       required/>
            </div>
            <div class="form-group">
                <label class="control-label">County</label>
                <input type="text"
                       style="width: 100%;"
                       placeholder="County"
                       class="form-control"
                       data-ng-model="customerDetailscontroller.address[0].County" 
                       required/>
            </div>
            <div>
                <label class="control-label">Country</label>
                <input type="text"
                       style="width: 100%;"
                       placeholder="{{customerDetailscontroller.selectedLocale.country}}"
                       class="form-control"
                       disabled="disabled" />
            </div>
        </div>

    </div>
    <div>{{iris.actionLink}}</div>
    <div class="form-group">
        <button type="submit" class="btn btn-primary" data-ng-disabled="frmCustomer.$invalid ||frmCustomer.pristine" data-ng-click="customerDetailscontroller.submitCustomer(customer,_Address);">Submit</button>

        <button  data-ng-click="customerDetailscontroller.customerLoadTest()" class="btn btn-success">Load Test Customer</button>
    </div>
</form>


