﻿<h2 class="center-block text-center" style="padding-top:15px !important">Insurance Specialists for Sport, Leisure & Entertainment</h2>
<div class="row homepage-annual">
    <div class="homepage-heading"><h2 class="text-center">A Selection of our Most Popular Annual Insurance Policies</h2></div>
    <data-owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: true, rewindNav : true}">
        <div class="carousel-item" owl-carousel-item="" data-ng-repeat="product in ::homepageController.annualProducts">
            <div data-ng-click="homepageController.LoadPolicy(product.link)" style="cursor:pointer">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <a class="">
                                <img data-ng-src="{{::product.image}}" alt="{{::product.altText}}" />
                            </a>
                        </div>
                        <a class="btn-more2 hover-effect">Insurance for</a>
                        <a class="btn-more hover-effect">{{::product.name}}</a>
                    </div>
                </div>
            </div>
        </div>
    </data-owl-carousel>
</div>
<div class="row homepage-events">
    <div class="homepage-heading"><h2 class="text-center">A Selection of our Most Popular Event Insurance Policies</h2></div>

    <data-owl-carousel class="owl-carousel" data-options="{navigation: true, pagination: true, rewindNav : true}">

        <div class="carousel-item" owl-carousel-item="" data-ng-repeat="product in ::homepageController.eventProducts">
            <div data-ng-click="homepageController.LoadPolicy(product.link)" style="cursor:pointer">
                <div class="thumbnails thumbnail-style thumbnail-kenburn">
                    <div class="thumbnail-img">
                        <div class="overflow-hidden">
                            <a class="">
                                <img data-ng-src="{{::product.image}}" alt="{{::product.altText}}" data-ng-click="homepageController.disableLocationBtn" />
                            </a>
                        </div>
                        <a class="btn-more2 hover-effect">Insurance for</a>
                        <a class="btn-more hover-effect">{{::product.name}}</a>
                    </div>
                </div>
            </div>

        </div>
    </data-owl-carousel>
</div>

<div class="bg-image-v2 bg-image-v2-dark parallaxBg1">
    <div class="headline-center-v2">
        <h2 class="text-center">Search our insurance policies</h2>
    </div>
    <div data-ng-controller="CallsToActionController as callsToActionController" class="text-nowrap search-box">
        <div class="">
            <div class="input-group">
                <span class="input-group-addon"><i class="fa fa-search search-btn"></i></span>
                <input type="text" ng-model="callsToActionController.search"
                       uib-typeahead="product as product.title for product in callsToActionController.async | filter:{keywords:$viewValue} "
                       class="form-control" typeahead-show-hint="true" typeahead-min-length="1" typeahead-on-select="callsToActionController.searchSelected()"
                       placeholder="Type what you're looking for'" />
            </div>
        </div>
    </div>
</div>
<div class="homepage-attributes bg-grey">
    <div class="container content-md">
        <div class="row">
            <div class="col-sm-4 md-margin-bottom-50">
                <div class="service-block-v7 equal-height-column">
                    <i class="fa fa-diamond"></i>
                    <h3 class="title-v3-bg text-uppercase">Specialists!</h3>
                    <h5><a data-ng-click="homepageController.showMore()">read more...</a></h5>
                    <p style="color:black">Welcome to Leisureinsure</p>
                    <p style="color:black">We are specialists in providing insurance for Sport, Leisure & Entertainment </p><br />
                    <p style="color:black">We have been trading for more than 20 years and have a dedicated<br /> team of expert underwriters here to help you</p>

                </div>
            </div>
            <div class="col-sm-4 md-margin-bottom-50">
                <div class="service-block-v7 equal-height-column">
                    <i class="fa fa-university"></i>
                    <h3 class="title-v3-bg text-uppercase">Affordable & Reliable!</h3>
                    <h5><a data-ng-click="homepageController.showMore()">read more...</a></h5>
                    <p style="color:black">Due to our experience in this sector we are able to provide you with Insurance solutions that are both, affordable and reliable</p>
                    <p style="color:black">We can tailor the cover and terms and conditions to specifically match your demands & needs,</p>
                    <p style="color:black"> all at a price which we trust you will find to be most affordable</p>
                </div>
            </div>
            <div class="col-sm-4 md-margin-bottom-50">
                <div class="service-block-v7 equal-height-column">
                    <i class="fa fa-check-square-o"></i>
                    <h3 class="title-v3-bg text-uppercase">Peace of mind!</h3>
                    <h5><a data-ng-click="homepageController.showMore()">read more...</a></h5>
                    <p style="color:black">Insurance policies sold on this website are backed by carefully selected, niche insurance companies</p>
                    <p style="color:black">Why? Because we know they provide a 1st Class claims service, they are based in the UK,</p>
                    <p style="color:black">and they have excellent credit ratings and their policy wordings were specifically written for this type of Insurance</p>
                </div>
            </div>
        </div>
    </div>
</div>