﻿<div class="panel panel-sea">
    <div class="panel-heading">
        <h2>Update Broker Details</h2>
    </div>
    <div class="panel-body">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" class="alert" close="broker.closeAlert($index)"><p>{{alert.msg}}</p></div>
        <form class="form form-with-validation form-horizontal"  name="addBroker">
            <div class="form-group">
                <label class="control-label col-md-3">Broker Code</label>
                <div class="col-md-6">
                    <input type="text" data-ng-model="broker.tamCode" class="form-control" required />
                </div>
                <div class="form-group">
                    <button class="btn btn-u btn-u-dark-blue" ng-click="broker.findBroker()">Find Broker</button>
                    <button class="btn btn-u btn-u-dark-blue" ng-click="broker.clearBroker()">New Broker</button>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-md-3">Tam Code</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="broker.generatedTamCode" class="form-control" disabled="disabled"/>
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Brokerage Name</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="broker.brokerName" class="form-control"  />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">First Name</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="broker.firstName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Last Name</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="broker.surname" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-md-3">Email</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="broker.email" class="form-control"  />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">FCA Number</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="broker.fsaNumber" class="form-control"  />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Comments</label>
                <div class="col-md-9">
                    <textarea rows="4"  data-ng-model="broker.comments" class="form-control control-sm" ></textarea>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-md-3">Telephone</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="broker.telephone" class="form-control control-sm"  />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Address Line 1</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="broker.address1" class="form-control control-sm"  />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Address Line 2</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="broker.address2" class="form-control control-sm"  />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">City</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="broker.city" class="form-control control-sm"  />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">County</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="broker.county" class="form-control control-sm" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Postcode</label>
                <div class="col-md-9">
                    <input type="text" data-ng-model="broker.postcode" class="form-control control-sm"  />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-3">Your territory</label>
                <div class="col-md-9">
                    <select class="form-control" data-ng-model="broker.location" ng-init="broker.location = broker.location || '1'">
                        <option value="1">UK</option>
                        <option value="2">Eire</option>
                    </select>
                </div>
            </div>
            
            <div class="form-group">
                <label class="control-label col-md-3">Locked:</label>
                <div class="col-md-3">
                    <input style="float:left;" type="checkbox" data-ng-model="broker.locked" class="form-control control-sm"  />

                </div>
                <input type="button" class="btn-u btn-u-dark-blue" style="float:right;margin-right:20px;" data-ng-click="broker.addBrokerLive()" value="Add/Update Broker" />
            </div>

        </form>
    </div>
 </div>

