﻿
@model LeisureInsure.DB.ViewModels.vmCertHazardList

@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}

<div class="col-xs-12 sectHeader" style="margin-bottom:10px;margin-top:10px;margin-left:0;margin-right:0;">Information provided during your application</div>

<div class="col-xs-12 noPadding">
    <i>
        The following are a list of questions we have asked you during the application process,
        and the response you have given. It is imperative that you check that this information is correct as it forms the basis of this contract, and any inaccuracies could result in a claim not being met.
    </i>
</div>


<div class="col-xs-12 noPadding">
    <table class="hazardTable" cellpadding="10">
        <tr style="border:groove;">
            <th class="col-xs-11" style="padding-left:4px;">Question</th>
            <th class="col-xs-1" style="padding-left:4px;">Answer</th>
        </tr>
        @foreach (var h in Model.Hazards)
        {
            <tr style="border:groove">
                <td class="col-xs-11">@h.Question</td>
                <td class="col-xs-1">@h.Answer</td>
            </tr>
        }
    </table>
</div>