﻿@model LeisureInsure.DB.ViewModels.vmCert

@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}


<div class="col-xs-12 breakhere" style="margin-top:0px;margin-bottom:0px">
    <div class="col-xs-8 certHeadLeft" style="padding:10px;">
        <img src="../../Content/Images/Logo.png" />
        <div class="col-xs-8 certHeadLeft" style="margin:0">
            <p>Company Number OC311741</p>
            <p>Authorised & regulated by the Financial Conduct Authority</p>
            <p>Registration number 430849</p>
        </div>
    </div>
    <div class="col-xs-4 certHeadRight" style="margin:0;padding:0;">
        <p>Leisureinsure LLP</p>
        <p>Network Point</p>
        <p>Range Road</p>
        <p>Witney OX29 0YN</p>
        <p>Telephone: 01993 700761</p>
        <p>Facsimile: 0870 766 8392</p>
        <p style="color: blue !important;"><u>www.leisureinsure.co.uk</u></p>
    </div>

    <div class="col-xs-12 certtext" style="padding: 20px;">
        <div class="centre" style="border: groove; padding: 10px;">

            @if (Model.Schedule.Purchased == 1)
            {
                <p>Thank you for purchasing insurance from Leisureinsure LLP</p>

                <p>This document includes:</p>

                <p>1. <u>Your schedule of Insurance</u></p>
                <p>
                    This contains details of what you are insured for. It is important that you read this carefully to ensure that you have the correct cover for your needs.
                    If you have any queries whatsoever regarding your cover please contact us.
                </p>
            }
            else
            {
                <p>This document includes:</p>

                <p>1. <u>Your Insurance Quotation</u></p>
                <p>
                    This contains details of what you are insured for. It is important that you read this carefully to ensure that you have the correct cover for your needs.
                    If you have any queries whatsoever regarding your cover please contact us.
                </p>

                <p>This Quote is valid for 30 days from <span>@DateTime.Now.ToString("dd/MM/yyyy")</span></p>
            }
            <p>2. <u>Statement of Fact</u></p>
            <p>
                Please make sure that you can comply with this as failure to do so <b><i>may invalidate this policy and your cover.</i></b>
            </p>
            <p>3. <u>Information provided during your application (if applicable)</u></p>
            <p>
                If this policy was purchased without you completing a proposal form (i.e. if you purchased it on our website or over the phone),
                details of every question you were asked and every response you provided is listed.
            </p>
            <p>
                It is <b><i>very important</i></b> that you please check the answers you provided to the questions
                we asked to make sure they are correct as any inaccuracies therein <b><i>could invalidate this policy and your cover</i></b>.
            </p>
        </div>
    </div>
</div>

<div class="breakhere">
    &nbsp
</div>

<div class="page col-xs-12 certtext breakhere">
    @if (Model.Schedule.Purchased == 1)
    {
        <div class="col-xs-12 sectHeader noPadding clearfix" style="text-align:center !important;">Schedule of Insurance</div>
    }
    else
    {
        <div class="col-xs-12 sectHeader noPadding clearfix" style="text-align:center !important;">Quotation</div>
    }
    <div class="sections noPadding" style="margin-bottom:20px">
        <p class="noPadding clearfix"><span class="col-xs-4">Policy Wording:</span><span class="col-xs-8">@Html.ValueFor(x => x.Schedule.PolicyWording)</span></p>
        <p class="noPadding clearfix">
            <span class="col-xs-4">
                @if (Model.Schedule.Purchased == 1)
            {<span>Policy Number:</span>}
            else
            {<span>Quote Number:</span> }
            </span><span class="col-xs-8">@Html.ValueFor(x => x.CertificatePK)</span>
        </p>
        @if (Model.Schedule.PolicyType == "A" || Model.Schedule.PolicyPK == 10 || Model.Schedule.PolicyPK == 11)
        {
            if (Model.Schedule.PolicyPK == 10 || Model.Schedule.PolicyPK == 11)
            {
                <p class="noPadding clearfix">
                    <span class="col-xs-4">Period of Insurance:</span>
                    <span class="col-xs-2">From: @Html.ValueFor(model => model.Schedule.TimeFrom)</span>
                    <span class="col-xs-6"><span class="col-xs-1"></span>On: @DateTime.Now.ToString("dd/MM/yyyy")</span>
                </p>
            }
            else
            {

                <p class="noPadding clearfix">
                    <span class="col-xs-4">Period of Insurance:</span>
                    <span class="col-xs-2">From: @Html.ValueFor(model => model.Schedule.TimeFrom)</span>
                    <span class="col-xs-6"><span class="col-xs-1"></span>On: @Html.ValueFor(model => model.Schedule.StartDate, "{0:dd/MM/yyyy}")</span>
                </p>
            }
            if (Model.Schedule.PolicyPK == 10 || Model.Schedule.PolicyPK == 11)
            {
                <p class="noPadding clearfix">
                    <label class="col-xs-4"></label>
                    <span class="col-xs-2">To: 23:59</span>
                    <span class="col-xs-6"><span class="col-xs-1"></span>On: @Html.ValueFor(model => model.Schedule.EndDate, "{0:dd/MM/yyyy}")</span>
                </p>
            }
            else
            {
                <p class="noPadding clearfix">
                    <label class="col-xs-4"></label>
                    <span class="col-xs-2">To: 00:00</span>
                    <span class="col-xs-6"><span class="col-xs-1"></span>On: @Html.ValueFor(model => model.Schedule.EndDate, "{0:dd/MM/yyyy}")</span>
                </p>
            }

        }
        @if (Model.Schedule.PolicyType == "E" && Model.Schedule.PolicyPK != 10 && Model.Schedule.PolicyPK != 11)
        {
            <p class="noPadding clearfix">
                <label class="col-xs-12"></label>

                <label class="col-xs-4">Start Date of Event:</label>
                <span class="col-xs-2">Time: <span>@Html.ValueFor(model => model.Schedule.TimeFrom)</span></span>
                <span class="col-xs-6"><span class="col-xs-1"></span>Date: @Html.ValueFor(model => model.Schedule.StartDate, "{0:dd/MM/yyyy}")</span>
            </p>
            <p class="noPadding clearfix">
                <label class="col-xs-4">End Date of Event:</label>
                <span class="col-xs-2">Time: @Html.ValueFor(model => model.Schedule.TimeTo)</span>
                <span class="col-xs-6"><span class="col-xs-1"></span>Date: @Html.ValueFor(model => model.Schedule.EndDate, "{0:dd/MM/yyyy}")</span>
            </p>
        }
        @if (Model.Schedule.PolicyType == "A")
        {
            <div class="noPadding clearfix">
                <label class="col-xs-12"></label>
                <label class="col-xs-4"></label>
                <div class="col-xs-8">
                    <p>Local standard time at the Insured's address stated below.</p>
                </div>
                @if (Model.Schedule.Purchased == 1)
                {
                    <p>This policy will not automatically renew: notice is hereby given that cover will terminate and not be renewed at the expiry date unless a new agreement is reached between the Insurer and the Insured.</p>
                }
            </div>

        }
        @if (Model.Schedule.PolicyType == "E" && Model.Schedule.Contingency == 1)
            {
            <p class="noPadding clearfix">
                <label class="col-xs-4">Contingency Section Operative:</label>
                <span class="col-xs-2">Time: @Html.ValueFor(model => model.Schedule.PurchasedDate, "{0:HH:mm}")</span>
                <span class="col-xs-6"><span class="col-xs-1"></span>Date: @Html.ValueFor(model => model.Schedule.PurchasedDate, "{0:dd/MM/yyyy}")</span>
            </p>
        }
    </div>
    <div class="col-xs-12 sectHeader clearfix">The Insured</div>
    <div class="sections noPadding" style="margin-bottom:20px !important;">
        <p class="noPadding clearfix">
            <span class="col-xs-4">Name:</span><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.InsuredName)</span>
        </p>
        <p class="noPadding clearfix">
            <span class="col-xs-4">Correspondence Address:</span><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.CorrespondenceAddress)</span>
        </p>
        @if (Model.Schedule.PolicyType == "A" && @Model.Schedule.Premises != "")
            {
            <p class="noPadding clearfix">
                <span class="col-xs-4">Premises:</span><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.Premises)</span>
            </p>
        }

        @if (Model.Schedule.PolicyType == "E" && Model.Schedule.EventName.Length > 0)
        {
            <p class="noPadding clearfix">
                <span class="col-xs-4">Event Name/Type:</span><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.EventName)</span>
            </p>
        }
        @if (Model.Schedule.PolicyType == "E" && Model.Schedule.Premises.Length > 0 && Model.Schedule.PolicyPK != 10 && Model.Schedule.PolicyPK != 11)
            {
            <p class="noPadding clearfix">
                <span class="col-xs-4">Event Address:</span><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.Premises)</span>
            </p>
        }
        @if (Model.Schedule.PolicyType == "E" && Model.Schedule.Premises.Length > 0 && (Model.Schedule.PolicyPK == 10 || Model.Schedule.PolicyPK == 11))
        {

            <p class="noPadding clearfix">
                <label class="col-xs-4">Ceremony Venue:</label><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.Premises)</span>
            </p>
            <p class="noPadding clearfix">
                <label class="col-xs-4">Reception Venue:</label><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.Venue)</span>
            </p>
            <p class="noPadding clearfix">
                <label class="col-xs-4">Ceremony Date:</label><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.StartDate, "{0:dd/MM/yyyy}")</span>
            </p>
        }

        @if (Model.Schedule.Contingency == 1)
        {
            <p class="noPadding clearfix">
                <label class="col-xs-4">Estimated Attendance:</label><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.Attendance)</span>
            </p>
        }

        @if (Model.Schedule.PolicyPK == 10 || Model.Schedule.PolicyPK == 11)
        {
            <p class="noPadding clearfix">
                <label class="col-xs-4">Event Type:</label><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.Business)</span>
            </p>
        }
        else
        {
            <p class="noPadding clearfix">
                <span class="col-xs-4">Business:</span><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.Business)</span>
            </p>
        }

        <p class="noPadding clearfix">
            <span class="col-xs-4">Territory:</span><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.TerritorialLimits)</span>
        </p>
    </div>


    <div class="col-xs-12 sectHeader clearfix">The Premium</div>
    <div class="sections noPadding">
        <p class="noPadding clearfix">
            <span class="col-xs-4">Premium:</span><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.NetPremium)</span>
        </p>
        <p class="noPadding clearfix">
            <span class="col-xs-4">@Html.ValueFor(model => model.Schedule.TaxType):</span><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.Tax)</span>
        </p>
        @if (Model.Schedule.Purchased == 0)
        {
            <p class="noPadding clearfix">
                <span class="col-xs-4">Arrangement Fee:</span><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.Fee)</span>
            </p>
        }
        <p class="noPadding clearfix">
            <span class="col-xs-4" style="float: left;">Total Premium:</span><span class="col-xs-8">@Html.ValueFor(model => model.Schedule.GrossPremium)</span>
        </p>
        @if (Model.Schedule.Purchased == 0 && Model.Schedule.PolicyPK != 10 && Model.Schedule.PolicyPK != 11 && Model.Schedule.LocalePK == 1)
        {
            <p class="noPadding clearfix">
                <span>
                    Add Legal Cover for only @Html.ValueFor(model => model.Schedule.GrossLegal)
                    including @Html.ValueFor(model => model.Schedule.TaxType). Please refer to the attached Legal
                    Care Policy Summary and Wording.
                </span>
            </p>
        }



    </div>

    <div class="col-xs-12 sectHeader clearfix">Security</div>
    <div class="sections noPadding">
        <label class="col-xs-12">Catlin Insurance Company (UK) Ltd</label>
    </div>
</div>

<div class="breakhere">
    &nbsp
</div>


@foreach (var header in Model.Sections)
{
    <div class="col-xs-12 donotbreak noPadding certtext">

        <div class="col-xs-12 sectHeader clearfix">@Html.DisplayFor(t => header.Header)</div>

        @if (header.SectionDetail.Count() > 0 && header.Insured > 0)
        {
            foreach (var detail in header.SectionDetail)
            {

                // Indent the text (no header) 1
                if (detail.ParagraphType == 1)
                {
                    <div class="certcol1">
                        <span></span>
                    </div>

                    <div class="certcol2">
                        <span>@Html.Raw(detail.LineValue1)</span>
                    </div>

                }

                // Indent the text and show line2 after line 1 (no header)   2
                if (detail.ParagraphType == 2)
                {

                    <div class="certcol1">
                        <span></span>
                    </div>

                    <div class="certcol2">
                        <div class="certcol2Extra">
                            <span>@Html.Raw(detail.LineValue1)</span>
                            <span>@Html.Raw(detail.LineValue2)</span>
                        </div>
                    </div>

                }

                //Show header (label1) then indent main text in   3
                if (detail.ParagraphType == 3)
                {

                    <div class="certcol1">
                        <span>
                            @Html.Raw(detail.Label1)
                        </span>
                    </div>
                    <div class="certcol2">
                        <span>@Html.Raw(detail.LineValue1)</span>
                    </div>

                }

                //No header just show text normally (MD) -->  4
                if (detail.ParagraphType == 4)
                {
                    <p>
                        <span>@Html.Raw(detail.LineValue1)</span>
                    </p>
                }

                //Show header (label1) but dont indent text in (like on MD)-->   5
                if (detail.ParagraphType == 5)
                {

                    <div>
                        <label class="clearfix">@Html.Raw(detail.Label1)</label>
                        <span>@Html.Raw(detail.LineValue1)</span>
                    </div>

                }

                if (detail.Para == 1)
                {
                    <p class="col-xs-12 lineBreak">x</p>
                }
            }

            if (Model.Schedule.additionalInsured.Count() > 0 && header.Section == 2)
            {
                <div class="col-xs-12 noPadding clearfix" style="margin-bottom:20px;">
                    <label class="col-xs-3">Named Instructors:</label>
                    <span class="col-xs-9">The <b>Business</b> is carried on by the following named Coaches/Instructors and no others for the purposes of this policy:</span>
                    <table class="col-xs-12">

                        @foreach (var m in Model.Schedule.additionalInsured)
                        {

                            <tr>
                                <td class="col-xs-3 noPadding" style="padding-left:4px;"></td>
                                <td class="col-xs-9 noPadding" style="padding-left:4px;">@m.FirstName @m.LastName</td>
                            </tr>
                        }
                    </table>
                </div>

            }
        }


        <div class="clearfix"></div>
        @if (header.SectionLists.Count() > 0 && header.Insured > 0)
        {
            <!--Public Liability Items-->
            if (header.Section == 38)
            {

                <table class="plTable" cellpadding="10">
                    <tr>
                        <th>Item No.</th>
                        <th>Item Description (including ancillary equipment)</th>
                    </tr>
                    @foreach (var list in header.SectionLists)
                        {
                        <tr>
                            <td>@list.RowNo</td>
                            <td>@list.LineType</td>
                        </tr>
                    }
                </table>

            }
            <!--Employee Liability Items-->
            if (header.Section == 32)
            {

                <table class="elTable" cellpadding="10">
                    <tr>
                        <th>Employee Category</th>
                        <th>Wage Roll</th>
                    </tr>
                    @foreach (var list in header.SectionLists)
                        {
                        <tr>
                            <td>@list.LineType</td>
                            <td>@list.WageRoll</td>
                        </tr>
                    }
                </table>

            }
            <!--Material Damage Items-->
            if (header.Section == 30)
            {

                <table class="mdTable" cellpadding="10">
                    <tr>

                        <th>Item No.</th>
                        <th>Item Description (including ancillary equipment)</th>
                        <th>Specification</th>
                        <th>Territory</th>
                        <th>Sum Insured</th>
                    </tr>
                    @foreach (var list in header.SectionLists)
                        {
                        <tr>
                            <td>@list.RowNo</td>
                            <td>
                                @list.LineType@if (@list.Specification == "5.2.13")
                            {<span> Capital Sum Insured</span> }
                            </td>
                            <td>@list.Specification</td>
                            <td>@list.Territory</td>
                            <td>
                                @list.SumInsured
                            </td>
                        </tr>
                    }
                </table>

            }

            <!--Business Interruption Items-->
            if (header.Section == 31)
            {

                <table class="mdTable" cellpadding="10">
                    <tr>

                        <th>Item No.</th>
                        <th>Item Description </th>
                        <th>Specification</th>
                        <th>Indemnity Period</th>
                        <th>Sum Insured</th>
                    </tr>
                    @foreach (var list in header.SectionLists)
                        {
                        <tr>
                            <td>@list.RowNo</td>
                            <td>
                                @list.LineType@if (@list.Specification == "5.2.13")
                            {<span> Capital Sum Insured</span> }
                            </td>
                            <td>@list.Specification</td>
                            <td>@list.IndemnityPeriod</td>
                            <td>
                                @list.SumInsured
                            </td>
                        </tr>
                    }
                </table>

            }

        }
    </div>
}

<div class="breakhere">
</div>


@if (Model.Schedule.Purchased == 1)
{
    <div class="col-xs-12 donotbreak certtext" style="margin:0;padding:0">
        <div style="margin-top:20px;">
            &nbsp
        </div>

        <div style="display:block;" class="col-xs-4 noPadding">
            <img style="height: 100px;margin-left:50px;" src="~/Content/Images/signature.png" />
            <p class="col-xs-12">Signed: Authorised Signatory</p>
            <p class="col-xs-12">Date of issue: @Html.ValueFor(model => model.Schedule.PurchasedDate, "{0:dd/MM/yyyy}")</p>
            <p></p>

        </div>
    </div>
}