﻿@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";   
}
<!DOCTYPE html>
<div style="margin-left: auto; margin-right: auto; text-align: center; align-content: center;padding: 0; margin: 0;">
    <div style="display: inline-block">
        <img src="~/Content/Images/LiLogo.jpg" style="height: 50px" />
        <p style="font-size: 8px">Network Point, Range Road, Witney, OX29 OYN</p>
    </div>
</div>
