﻿@model LeisureInsure.DB.ViewModels.vmCertSchedule
@{
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}

<!DOCTYPE html>
<div class="col-xs-12" style="margin-left:10px;margin-right:10px;">
    <div style="margin-left: auto; margin-right: auto; text-align: center; align-content: center;padding: 0; margin: 0;">
        <div style="display: inline-block">
            <img src="../../Content/Images/Logo.png" style="height: 50px" />
        </div>
    </div>
    <h3 style="margin-bottom:10px;margin-top:20px;"><b>Legal Care Policy Schedule</b></h3>
    <div>This Schedule should be read in conjunction with the attached Policy Wording.</div>

    <div class="col-xs-12 noPadding"><label class="col-xs-4">The Insured:</label><span class="col-xs-6">@Html.ValueFor(model => model.InsuredName)</span></div>
    <div class="col-xs-12 noPadding"><label class="col-xs-4">Policy Number:</label><span class="col-xs-6">CS/0802/@Html.ValueFor(x => x.PolicyNumber)/CLE</span></div>
    <div class="col-xs-12 noPadding"><label class="col-xs-4">Territorial Limits:</label><span class="col-xs-6">United Kingdom only unless otherwise agreed with The Coverholder.</span></div>

    <div class="col-xs-12 noPadding"><label class="col-xs-4">Date of Commencement of Insurance:</label><span class="col-xs-6">@Html.ValueFor(model => model.StartDate, "{0:dd/MM/yyyy}")</span></div>
    <div class="col-xs-12 noPadding"><label class="col-xs-4">Date of Expiry of Insurance:</label><span class="col-xs-6">@Html.ValueFor(model => model.EndDate, "{0:dd/MM/yyyy}")</span></div>




    <div class="col-xs-12 noPadding"><label class="col-xs-4">Premium:</label><span class="col-xs-6">@Html.ValueFor(model => model.GrossLegal)</span></div>
    <div class="col-xs-12 noPadding"><label class="col-xs-4">Limit of Indemnity:</label><span class="col-xs-8">£50,000 per head of cover per annum and £400,000 in the aggregate.</span></div>


    <div class="col-xs-4 noPadding clearfix" style="margin-top:16px;float:left;">
        <img class="col-xs-12 nopadding clearfix" style="height: 50px" src="~/Content/CertificateDocuments/LegalSignature.png" />
        <p class="col-xs-12 nopadding">Signed: Authorised Signatory</p>
        <p class="col-xs-12 nopadding">Date of issue: @Html.ValueFor(model => model.StartDate, "{0:dd/MM/yyyy}")</p>
    </div>


    <div class="col-xs-12 noPadding" style="margin-top:20px;">
        <div class="col-xs-4 divblock" style="margin:0;padding:0;">
            <p>Leisureinsure LLP</p>
            <p>Network Point</p>
            <p>Range Road</p>
            <p>Witney OX29 0YN</p>
            <p>Telephone: 01993 700761</p>
            <p>Facsimile: 0870 766 8392</p>
            <p style="color: blue !important;"><u>www.leisureinsure.co.uk</u></p>
        </div>
    </div>
</div>