﻿@model LeisureInsure.DB.ViewModels.vmBrokerAddress
@{
    ViewBag.Title = "Signature";
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}


<div class="divblock">
    @if (Model.ContactPK > 0)
    {  <p>Your agent, to whom you should address any enquiries, is: </p>
    <br />
    <p>@Html.ValueFor(model => model.EntityName)</p>
    <p>@Html.ValueFor(model => model.Address1)</p>
        if (@Model.Address2 != null)
        {
            <p>@Html.ValueFor(model => model.Address2)</p>
        }
        if (@Model.Address3 != null)
        {
            <p>@Html.ValueFor(model => model.Address3)</p>
        }
        <p>@Html.ValueFor(model => model.Town)</p>
        <p>@Html.ValueFor(model => model.County)</p>
        <p>@Html.ValueFor(model => model.Country)</p>
        <p>@Html.ValueFor(model => model.Postcode)</p>
        <p>@Html.ValueFor(model => model.Telephone)</p>
    }

    <br />
    <label><b><u>Notification of Claims and Circumstances to:</u></b> </label>
    <br />
    <p>Leisureinsure LLP</p>
    <p>Network Point</p>
    <p>Range Road</p>
    <p>Witney</p>
    <p>Oxon</p>
    <p>OX29 0YN</p>
    <p>Email: <span style="color:blue;"><u>info@leisureinsure.co.uk</u></span></p>
    <p>Phone: +44 (0)1993 700761</p>

</div>
