﻿@model LeisureInsure.DB.ViewModels.vmCertSchedule
@{
    ViewBag.Title = "StatementofFact";
    Layout = "~/Views/Shared/_PdfLayout.cshtml";
}

<div class="col-xs-12 certificate">
    <div class="col-xs-12 sectHeader" style="text-align:center;">Statement of Fact</div>
    <p class="col-xs-12 noPadding" style="margin-bottom:10px;"><b><i>Failure to comply with this statement of fact will invalidate the policy and will result in any claim being declined.</i></b></p>
    @if (Model.Purchased == 1)
    {
        <div class="col-xs-12 noPadding">
            <p><label class="col-xs-3 noPadding clearfix">Insured:</label><div class="col-xs-9">@Html.ValueFor(model => model.InsuredName)</div></p>
            <p><label class="col-xs-3 noPadding clearfix">@if (Model.Purchased == 1)
            {<span>Policy Number:</span>}
            else
            {<span> Quote Number:</span> }</label><div class="col-xs-9">@Html.ValueFor(x => x.QuoteReference)</div></p>
            <p><label class="col-xs-3 noPadding clearfix">Reference:</label><div class="col-xs-9">@Html.ValueFor(x => x.PolicyNumber)</div></p>
            
        </div>
    }
        <p class="col-xs-12 noPadding" style="margin-top:16px;">I/we</p>
        <div style="margin-left:10px !important;">
            <ol class="listRoman col-xs-12">
                <li>Confirm that the following statements apply to any company/organisation I/we have been involved in the management of. e.g. a director/member/owner/principal etc.</li>
                <li>Comply with the terms and conditions contained in the written quotation provided by Leisureinsure LLP</li>
                <li>Confirm that the Insured (unless a Body Corporate) is over the age of 18 years.</li>
                <li>Confirm that during the last 5 years I/we have not had any claim made against me/us nor had any accident or loss which would have resulted in a claim being made had insurance been in force, other than those advised to, and acknowledged in writing by, Leisureinsure LLP.</li>
                <li>Confirm that no Insurer has refused to accept a proposal from me/us, nor refused to continue a Policy of Insurance held by me/us.</li>
                <li>Confirm that no Insurer has imposed any special terms on any Policy of Insurance held by me/us.</li>
                <li>Confirm neither I, nor any of my Business Partners or Directors have been convicted (or charged with but not yet convicted) of any criminal offence other than minor driving offences not resulting in disqualification (this statement does not apply to any conviction which is spent under the Rehabilitation of Offenders Act 1974).</li>
                <li>Confirm that I/we have never been prosecuted under the Health and Safety at Work Act or other Statute or regulation.</li>
                <li>Have not been the subject of any insolvency proceedings (including bankruptcy, liquidation or voluntary arrangements), any director disqualification proceedings, any County Court Judgment.</li>
                <li>Confirm that to the best of my knowledge and belief the information provided in connection with this insurance, whether in my own hand or not, is true and I have not withheld any important information.</li>

            </ol>
        </div>

        <p class="noPadding"><b>Duty of Fair Presentation</b></p>
        <p class="noPadding">The rules governing what information you must disclose to your insurers before the insurance policy is taken out have changed. This new requirement is called the ‘Duty of Fair Presentation’</p>

        <p class="noPadding"><b>How to Comply?</b></p>
        <p class="noPadding">To comply with the ‘Duty of Fair Presentation’, prior to the start of the Policy you must:</p>
        <ol class="listAlpha col-xs-12">
            <li>Disclose “every material circumstance which the you/senior management knows or ought to know” (this can include disclosing the limits of the information you are able to provide); or</li>
            <li>“failing that, [provide] disclosure which gives the us/insurer sufficient information to put a prudent insurer on notice that it needs to make further enquiries for the purposes of revealing those material circumstances”.</li>
        </ol>

        <p class="noPadding">A material circumstance is one which “would influence the judgement of a prudent insurer in determining whether to take the risk and, if so, on what terms”. If you fail to disclose a material circumstance that could invalidate this policy, which could result in your claim being rejected. If you are any doubt about what to disclose, or indeed whether to disclose something, please contact us immediately.</p>

        <p class="noPadding">We have also produced a Briefing Note which you may find to be of some use. It can be viewed by following this link: https://leisureinsure.co.uk/content/certificatedocuments/Leisureinsure-Insurance_Act_2015-v3_24-05-17.pdf</p>

        <p class="col-xs-12 noPadding" style="margin-top:16px;margin-bottom:16px;">
            <b>Data Protection Act 1998.</b> It is understood by the Insured and/or the Insured Persons that any information provided to Leisureinsure LLP regarding the Insured and / or the Insured Person will be processed by Leisureinsure LLP, in compliance with the provisions of the Data Protection Act 1998, for the purpose of providing insurance and handling of claims, if any, which may necessitate providing such information to third parties.
        </p>
        <div>
            <p class="col-xs-12 noPadding"><b>I/we understand that:</b></p>
            <div style="margin-left:10px !important;">
                <ol class="listAlpha col-xs-12">
                    <li>If any of the information above is incorrect I/we will notify Leisureinsure immediately</li>
                    <li>It is my/our responsibility to ensure that Leisureinsure are aware of any reason why I/we cannot comply with the above</li>
                </ol>
            </div>
        </div>
        <p class="col-xs-12 noPadding" style="margin-top:10px;">Date of Issue: @DateTime.Now.ToString("dd/MM/yyyy")</p>
    </div>

