﻿<div class="panel panel-sea">
    <div class="panel-heading">
        <h2>Add a new CSR</h2>
    </div>
    <div class="panel-body">
        <form class="form form-with-validation" name="addUser">
            <div class="form-group">
                <label class="control-label">User Name</label>
                <div>
                    <input type="text" data-ng-model="csr.userName" class="form-control" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <div>
                    <input type="text" data-ng-model="csr.password" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label">Email</label>
                <div>
                    <input type="email" data-ng-model="csr.email" class="form-control" />
                </div>
            </div>

            <div><a class="btn btn-success pull-right fullwidth" data-ng-click="csr.addCsr()">Add CSR</a></div>

        </form>
    </div>
</div>
