﻿<div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" class="alert" close="paymentController.closeAlert($index, 'alerts')"><p>{{alert.msg}}</p></div>

<div data-ng-if="paymentController.chargeSummary.referralType === 1" class="panel panel-dark-blue">
    <div class="panel-heading">
        <h2>We need to review your quote</h2>
    </div>
    <div class="panel-body">
        <div class="form form-horizontal form-with-validation">
            <div style="padding-bottom: 20px;">
                <h4>
                    Thank you for your application, due to the information you have provided an underwriter will need to review
                    this application then will contact you by phone asap to discuss this further.
                </h4>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">
                    Reference Number:
                </label>
                <div class="col-xs-9">
                    <input type="text" data-ng-model="paymentController.quoteReference" value="paymentController.quoteReference" disabled="disabled" class="form-control" required />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-xs-3">
                    Contact Name
                </label>
                <div class="col-xs-9">
                    <input type="text" data-ng-model="paymentController.name" class="form-control" required />
                </div>
            </div>
            <div class="form-group" data-ng-if="paymentController.chargeSummary.isAgent">
                <label class="control-label col-xs-3">
                    Client Name
                </label>
                <div class="col-xs-9">
                    <input type="text" data-ng-model="paymentController.clientName" class="form-control" required />
                </div>
            </div>


            <div class="form-group">
                <label class="control-label col-xs-3">
                    Email To
                </label>
                <div class="col-xs-9">
                    <input type="email" data-ng-model="paymentController.email" class="form-control" />
                </div>
            </div>

            <div class="form-group">
                <label class="control-label col-xs-3">
                    Contact Number
                </label>
                <div class="col-xs-9">
                    <input type="text" data-ng-model="paymentController.phone" class="form-control" />
                </div>
            </div>

            <div class="control-group">
                <button ladda-button="sendRefferalButton" class="ladda-button btn btn-u btn-u-green pull-right" data-style="expand-right" data-ng-click="paymentController.sendReferral()" data-ng-valid="''">Proceed</button>
            </div>
        </div>
    </div>
</div>

<div data-ng-show="paymentController.chargeSummary.renewal === 0">
    <div data-ng-if="paymentController.chargeSummary && paymentController.chargeSummary.referralType !== 1">

        <!-- Refine your quote -->
        <div class="panel panel-dark-blue">
            <div class="panel-heading">
                <h2>Refine your quote</h2>
            </div>

            <div class="panel-body">
                <table class="table table-responsive table-striped table-hover">
                    <tr>
                        <td colspan="3">
                            <table style="width:100%">
                                <tr data-ng-repeat="cshaz in paymentController.chargeService.sortedHazards" repeat-end="onEnd()">
                                    <td colspan="3">
                                        <table style="width:100%">
                                            <tr data-ng-if="cshaz.sectiondescription != ''">
                                                <th colspan="3">{{cshaz.sectiondescription}}</th>
                                                <td></td>
                                                <td></td>
                                            </tr>
                                            <tr>
                                                <td>{{cshaz.lineDescription}}</td>
                                                <td data-ng-if="paymentController.chargeSummary.brokerName == null && cshaz.price > 0" style="text-align:right">{{paymentController.selectedLocale.currencySymbol}}{{cshaz.price |number:2}}</td>
                                                <td data-ng-if="cshaz.price == 0" style="text-align:right">Included</td>
                                                <td data-ng-if="cshaz.price == -10" style="text-align:right">{{cshaz.sectionTypeDescription}}</td>
                                                <td data-ng-if="paymentController.chargeSummary.brokerName != null && cshaz.price > 0" style="text-align:right">{{paymentController.selectedLocale.currencySymbol}}{{cshaz.net + cshaz.tax |number:2}}</td>
                                                <td></td>
                                            </tr>
                                        </table>
                                    </td>
                                    <td></td>
                                </tr>
                            </table>
                        </td>
                    </tr>
                    <!-- Non hazard covers eg Public Liability etc  -->
                    <tr data-ng-repeat="cs in paymentController.chargeSummary.chargeSummaryItems" data-ng-if="cs.sectionTypeDescription == null && cs.showInSummary === true">
                        <td data-ng-if="cs.sectionTypeDescription !== null">{{cs.sectionTypeDescription}}</td>
                        <td data-ng-if="cs.sectionTypeDescription == null">{{cs.lineDescription}}</td>
                        <td></td>
                        <td class="text-right" data-ng-if="cs.price === 0">Included</td>
                        <td class="currency" data-ng-if="cs.price !== 0 && paymentController.chargeSummary.brokerName == null">{{paymentController.selectedLocale.currencySymbol}}{{cs.price |number:2}}</td>
                        <td class="currency" data-ng-if="cs.net !== 0 && paymentController.chargeSummary.brokerName != null">{{paymentController.selectedLocale.currencySymbol}} {{cs.net + cs.tax |number:2}}</td>
                        <td class="text-right" data-ng-if="cs.price == -2">{{cs.extraInfo}}</td>
                        <td class="text-right" data-ng-if="cs.excess > 0">{{paymentController.selectedLocale.currencySymbol}}{{cs.excess}}</td>
                    </tr>

                    <tr data-ng-repeat="item in paymentController.chargeSummary.discounts">
                        <td data-ng-if="item.price !== 0" class="discount">{{item.lineDescription}}</td>
                        <td data-ng-if="item.price !== 0"></td>
                        <td data-ng-if="item.price !== 0" class="discount currency">- {{paymentController.locationService.selectedLocale.currencySymbol}}{{item.price |number:2}}</td>
                    </tr>
                    <tr data-ng-if="paymentController.chargeSummary.leisureInsureFees > 0 && paymentController.chargeSummary.brokerName != null">
                        <td>LeisureInsure Fees</td>
                        <td></td>
                        <td class="currency">{{paymentController.locationService.selectedLocale.currencySymbol}}{{paymentController.chargeSummary.leisureInsureFees |number:2}}</td>
                    </tr>
                    <tr data-ng-if="paymentController.chargeSummary.legalFeesAdded && paymentController.locationService.selectedLocale.localePK == 1 && paymentController.chargeSummary.policyType == 'A' ">
                        <td>Legal Care</td>
                        <td><button type="button" class="btn btn-u btn-u-red pull-right" data-ng-click="paymentController.toggleLegalCare()">Remove</button></td>
                        <td class="currency">{{paymentController.locationService.selectedLocale.currencySymbol}}{{paymentController.chargeSummary.legalFees |number:2}}</td>
                    </tr>

                    <tr>
                        <td colspan="3">Please note that you will be charged a card handling fee dependant on the card that you use</td>
                    </tr>
                    <tr class="total">
                        <td>
                            <h3>
                                <span>Total</span>
                            </h3>
                        </td>
                        <td></td>
                        <td class="currency">
                            <h3>
                                <span class="pull-right">{{paymentController.selectedLocale.currencySymbol}}{{paymentController.chargeSummary.total |number:2}}</span>
                            </h3>
                        </td>
                    </tr>
                </table>


                <div data-ng-if="((!paymentController.chargeSummary.legalFeesAdded && paymentController.PolicyType != 'E') ||
                            (paymentController.chargeSummary.excessWaiverAllowed && !paymentController.chargeSummary.excessWaiverAdded))">
                    <div data-ng-if="paymentController.chargeSummary.policyId != 27 && paymentController.chargeSummary.policyId != 10 && paymentController.chargeSummary.policyId != 11">
                        <h4 style="padding-top: 20px">Optional Extras</h4>
                        <table class="table table-hover table-striped table-responsive">
                            <tr data-ng-if="!paymentController.chargeSummary.legalFeesAdded && paymentController.locationService.selectedLocale.localePK == 1 && paymentController.chargeSummary.policyType == 'A' ">
                                <td>Legal Care Cover</td>
                                <td><button type="button" class="btn btn-u btn-u-dark-blue pull-right" data-ng-click="paymentController.toggleLegalCare()">Add</button></td>
                                <td class="currency">{{paymentController.locationService.selectedLocale.currencySymbol}}{{paymentController.chargeSummary.legalFees |number:2}}</td>
                            </tr>
                            <tr data-ng-if="paymentController.chargeSummary.excessWaiverAllowed && !paymentController.chargeSummary.excessWaiverAdded">
                                <td>Waive excess on first public liability claim<button class="btn btn-success" data-ng-click="paymentController.addExcessWaiver()">Add</button></td>
                                <td class="currency">{{paymentController.locationService.selectedLocale.currencySymbol}}{{paymentController.chargeSummary.excessWaiver |number:2}}</td>
                            </tr>
                        </table>
                    </div>
                </div>
                <table colspan="12" class="table table-responsive table-striped table-hover" data-ng-if="paymentController.chargeSummary.policyId != 27">



                    <tr colspan="2" data-ng-repeat="cs in paymentController.chargeSummary.chargeSummaryItems" ng-if="cs.showInSummary === true">
                        <td colspan="2">Excess</td>
                        <td colspan="8"></td>
                        <td colspan="2" style="float:right;">{{cs.sectiondescription}} ({{paymentController.selectedLocale.currencySymbol}}{{cs.excess}})</td>
                    </tr>




                    <tr colspan="2" data-ng-if="paymentController.chargeSummary.isAgent">
                        <td colspan="2">Agent Commission</td>
                        <td colspan="8"></td>
                        <td colspan="2" class="currency">{{paymentController.selectedLocale.currencySymbol}}{{paymentController.chargeSummary.commission |number:2}}</td>
                    </tr>
                </table>
            </div>
        </div>
        <form class="form-horizontal" name="frmCustomer" novalidate ng-submit="paymentController.payNow(frmCustomer.$valid)">

            <!-- Review your documents -->
            <div class="panel panel-dark-blue" data-ng-if="paymentController.documents.length > 0">
                <div class="panel-heading">
                    <h2>Documents you may wish to read</h2>
                </div>
                <div class="panel-body passwordtext">
                    <p>Each link opens in a new window</p>
                    <ul class="plain" data-ng-repeat="document in paymentController.documents" ng-if="document.documentType != 'Clause' && document.documentType != 'SoF' && document.documentType != 'Terms'">

                        <li data-ng-if="document.description != 'Statement of Fact'"><a href="/Content/CertificateDocuments/{{document.url}}" target="_blank">{{document.description}}</a></li>
                        <li data-ng-if="document.description === 'Statement of Fact'"><a href="/{{document.url}}" target="_blank">{{document.description}}</a></li>
                    </ul>
                </div>
            </div>
            <div class="panel panel-dark-blue">
                <div class="panel-heading ">
                    <h2>Important documents that you must read</h2>
                </div>
                <div class="panel-body passwordtext">
                    <p>Each link opens in a new window</p>
                    <ul class="plain" data-ng-repeat="document in paymentController.documents" ng-if="document.documentType == 'Clause' || document.documentType == 'SoF' || document.documentType == 'Terms'">
                        <li data-ng-if="document.description != 'Statement of Fact'"><a href="/Content/CertificateDocuments/{{document.url}}" target="_blank">{{document.description}}</a></li>
                        <li data-ng-if="document.description === 'Statement of Fact'"><a href="/{{document.url}}" target="_blank">{{document.description}}</a></li>
                    </ul>

                    <p ng-if="paymentController.chargeSummary.endorsements.length">Additional endorsements</p>
                    <ul class="plain" data-ng-repeat="endorsement in paymentController.chargeSummary.endorsements">
                        <li class="boundhtml" ng-bind-html="endorsement.text"></li>
                    </ul>

                    <div>
                        <label ng-class="{'errorText': (frmCustomer.$submitted) && frmCustomer.termsAndCond.$invalid}">Please tick to confirm that you have read, agree to, and comply (where necessary) to the 'Important Documents' immediately above.</label>

                        <div ng-class="{'errorText': (frmCustomer.$submitted) && frmCustomer.termsAndCond.$invalid}" name="termsAndCond" ng-click="paymentController.TermsClicked(frmCustomer)" required="true" ng-model="termsAndCond" style="width:45px;height:40px;border:1px solid #000;">
                            <img id="termsTick" style="display:none" src="../../Content/Images/tick.png" alt="Alternate Text" />
                        </div>
                    </div>
                </div>
            </div>


            <div class="panel panel-dark-blue">
                <div class="panel-heading">
                    <h2>Complete your details</h2>
                </div>
                <div class="panel-body">

                    <div>
                        <h4>Your Reference - {{paymentController.quoteReference}}</h4>
                        <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.contactEmail.$touched || frmCustomer.$submitted) && frmCustomer.contactEmail.$invalid }">
                            <label class="control-label col-sm-2" style="color:blue;">Email Information To</label>
                            <div class="col-sm-10">
                                <input type="email" name="contactEmail" placeholder="Email that quote information will be sent to" title="Email@.com" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" class="form-control"
                                       data-ng-model="paymentController.contactEmail" required />
                                <div ng-show="frmCustomer.$submitted || frmCustomer.contactEmail.$touched">
                                    <p ng-show="frmCustomer.contactEmail.$error.required" class="help-block">Email is a required field</p>
                                    <p ng-show="frmCustomer.contactEmail.$error.pattern" class="help-block">Email should be in correct format</p>
                                </div>
                            </div>
                        </div>
                        <div data-ng-if="paymentController.chargeSummary.isAgent">

                            <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.contactName.$touched || frmCustomer.$submitted) && frmCustomer.contactName.$invalid }">
                                <label class="control-label col-sm-2" style="color:blue;">Contact Name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="contactName" placeholder="Contact Name" class="form-control"
                                           data-ng-model="paymentController.contactName" required />
                                    <div ng-show="frmCustomer.$submitted || frmCustomer.contactName.$touched">
                                        <p ng-show="frmCustomer.contactName.$error.required" class="help-block">
                                            First Name is a required field
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.insuredEntSelect.$touched || frmCustomer.$submitted) && frmCustomer.insuredEntSelect.$invalid }">
                            <label class="control-label col-sm-2">Insured Entity</label>
                            <div class="col-sm-10">
                                <select class="form-control"
                                        data-ng-model="paymentController.customers[0].entityType"
                                        required
                                        name="insuredEntSelect"
                                        data-ng-change="paymentController.setEntityNamePlaceHolder()">
                                    <option value="">Please Select</option>
                                    <option value="Customer">The person named below</option>
                                    <option value="Company">Limited Company</option>
                                    <option value="TradingAs">Trading As</option>
                                    <option value="Committee">Committee</option>
                                    <option value="Charity">Charity</option>
                                </select>
                                <div ng-show="frmCustomer.$submitted || frmCustomer.insuredEntSelect.$touched">
                                    <p ng-show="frmCustomer.insuredEntSelect.$error.required" class="help-block">Insured Entity is a required field</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" data-ng-switch="paymentController.customers[0].entityType" data-ng-if="paymentController.customers[0].entityType != 'Customer' && paymentController.customers[0].entityType != null" ng-class="{ 'has-error' : (frmCustomer.entityNameTxt.$touched || frmCustomer.$submitted) && frmCustomer.entityNameTxt.$invalid }">
                            <label data-ng-switch-when="Company" class="control-label col-sm-2">Company Name</label>
                            <label data-ng-switch-when="TradingAs" class="control-label col-sm-2">Trading As Name</label>
                            <label data-ng-switch-when="Committee" class="control-label col-sm-2">Committee Name</label>
                            <label data-ng-switch-when="Charity" class="control-label col-sm-2">Charity Name</label>
                            <div class="col-sm-10">
                                <input class="form-control" type="text" name="entityNameTxt" ng-required="true" data-ng-model="paymentController.customers[0].entityName" placeholder="{{paymentController.entityNamePlaceHolder}}">
                                <div ng-show="frmCustomer.$submitted || frmCustomer.entityNameTxt.$touched">
                                    <p ng-show="frmCustomer.entityNameTxt.$error.required" class="help-block">This is a required field</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="custHeader">
                        <div class="custData">
                            <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.firstNameTxt.$touched || frmCustomer.$submitted) && frmCustomer.firstNameTxt.$invalid }">
                                <label class="control-label col-sm-2">First Name</label>
                                <div class="col-sm-10">
                                    <input type="text" name="firstNameTxt" placeholder="First Name" class="form-control"
                                           data-ng-model="paymentController.customers[0].firstName" required />
                                    <div ng-show="frmCustomer.$submitted || frmCustomer.firstNameTxt.$touched">
                                        <p ng-show="frmCustomer.firstNameTxt.$error.required" class="help-block">
                                            First Name is a required field
                                        </p>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.lastNameTxt.$touched || frmCustomer.$submitted) && frmCustomer.lastNameTxt.$invalid }">
                            <label class="control-label col-sm-2">Last Name</label>
                            <div class="col-sm-10">
                                <input type="text" name="lastNameTxt" class="form-control" placeholder="Last Name"
                                       data-ng-model="paymentController.customers[0].lastName" required />
                                <div ng-show="frmCustomer.$submitted || frmCustomer.lastNameTxt.$touched">
                                    <p ng-show="frmCustomer.lastNameTxt.$error.required" class="help-block">Last Name is a required field</p>
                                </div>
                            </div>
                        </div>
                        <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.telephoneTxt.$touched || frmCustomer.$submitted) && frmCustomer.telephoneTxt.$invalid }">
                            <label class="control-label col-sm-2">Telephone</label>
                            <div class="col-sm-10">
                                <input type="text" name="telephoneTxt" placeholder="Telephone" title="Area code + Phone Number" class="form-control"
                                       data-ng-model="paymentController.customers[0].telephone" required pattern="^([0-9][ -]*){5,23}[^a-z]$" />
                                <div ng-show="frmCustomer.$submitted || frmCustomer.telephoneTxt.$touched">
                                    <p ng-show="frmCustomer.telephoneTxt.$error.required" class="help-block">Phone Number is a required field</p>
                                    <p ng-show="frmCustomer.telephoneTxt.$error.pattern" class="help-block">Phone Number should be in correct format</p>
                                </div>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-if="paymentController.locationService.selectedLocale.strLocale != 'ga-IE'" ng-class="{ 'has-error' : (frmCustomer.postCodeTxt.$touched || frmCustomer.$submitted) && frmCustomer.postCodeTxt.$invalid }">
                        <!--<input id="custQuote" class="form-control" name="customer.QuoteFK" data-ng-show="false" data-ng-model="customer.quotePK" />-->
                        <label class="control-label col-sm-2">PostCode</label>
                        <div class="col-sm-10">
                            <input type="text" style="width:85%;display:inline-block" placeholder="Post Code" name="postCodeTxt"
                                   class="form-control" data-ng-model="paymentController.addresses[0].postcode" data-ng-change="getAddresses()"
                                   data-ng-model-options="{ updateOn: 'blur', debounce: { default: 500, blur: 0 } }" required />
                            <input class="btn btn-primary" style="display:inline-block;" type="button" value="Search Address" data-ng-click="paymentController.getAddress()" />
                            <div ng-show="frmCustomer.$submitted || frmCustomer.postCodeTxt.$touched">
                                <p ng-show="frmCustomer.postCodeTxt.$error.required" class="help-block">Post Code is a required field</p>
                            </div>
                        </div>
                    </div>

                    <div ng-if="paymentController.addressLookups.length > 0" class="form-group" ng-if="paymentController.locationService.selectedLocale.strLocale != 'ga-IE'">
                        <label ng-if="paymentController.addressLookups.length > 0" class="control-label col-sm-2">Please Select An Address</label>
                        <div class="col-sm-10">
                            <select ng-if="paymentController.addressLookups.length > 0" ng-model="paymentController.selectedAddress"
                                    ng-change="paymentController.populateAddress()" id="postCodeSelect"
                                    size="1" class="form-control" style="width: 100%; margin-top: 5px;"
                                    ng-options="addy.address1 for addy in paymentController.addressLookups track by addy.addressID"></select>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.address1Txt.$touched || frmCustomer.$submitted) && frmCustomer.address1Txt.$invalid }">
                        <label class="control-label col-sm-2">Address1</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="address1Txt"
                                   placeholder="Address1"
                                   title="Please complete"
                                   class="form-control"
                                   data-ng-model="paymentController.addresses[0].address1"
                                   required />
                            <div ng-show="frmCustomer.$submitted || frmCustomer.address1Txt.$touched">
                                <p ng-show="frmCustomer.address1Txt.$error.required" class="help-block">Address1 is a required field</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Address2</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   placeholder="Address2"
                                   class="form-control"
                                   data-ng-model="paymentController.addresses[0].address2" />
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Address3</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   placeholder="Address3"
                                   class="form-control"
                                   data-ng-model="paymentController.addresses[0].address3" />
                        </div>
                    </div>
                    <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.townTxt.$touched || frmCustomer.$submitted) && frmCustomer.townTxt.$invalid }">
                        <label class="control-label col-sm-2">Town</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="townTxt"
                                   placeholder="Town"
                                   class="form-control"
                                   data-ng-model="paymentController.addresses[0].town"
                                   required />
                            <div ng-show="frmCustomer.$submitted || frmCustomer.townTxt.$touched">
                                <p ng-show="frmCustomer.townTxt.$error.required" class="help-block">Town is a required field</p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.countyTxt.$touched || frmCustomer.$submitted) && frmCustomer.countyTxt.$invalid }">
                        <label class="control-label col-sm-2">County</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   name="countyTxt"
                                   placeholder="County"
                                   class="form-control"
                                   data-ng-model="paymentController.addresses[0].county"
                                   required />
                            <div ng-show="frmCustomer.$submitted || frmCustomer.countyTxt.$touched">
                                <p ng-show="frmCustomer.countyTxt.$error.required" class="help-block">County is a required field</p>
                            </div>
                        </div>
                    </div>
                    <div class="form-group">
                        <label class="control-label col-sm-2">Country</label>
                        <div class="col-sm-10">
                            <input type="text"
                                   data-ng-model="paymentController.addresses[0].country"
                                   placeholder="{{paymentController.selectedLocale.country}}"
                                   class="form-control"
                                   disabled="disabled" />
                        </div>
                    </div>



                    <fieldset>
                        <legend>Please Select Dates  <span style="font-style:italic;font-size:13px">This will appear on your certificate</span></legend>
                        <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.datepicker.$touched || frmCustomer.$submitted) && frmCustomer.datepicker.$invalid}">
                            <label class="control-label col-sm-2">
                                <span ng-if="paymentController.chargeSummary.policyId != 10 &&  paymentController.chargeSummary.policyId != 11">Cover Required From</span>
                                <span ng-if="paymentController.chargeSummary.policyId == 10 || paymentController.chargeSummary.policyId == 11">Date of Ceremony</span>
                            </label>
                            <div class="col-sm-10">
                                <input data-li-date-picker
                                       data-dpName="datefrom"
                                       type="text"
                                       data-ng-pattern="ci.ngPattern"
                                       data-min-date="paymentController.dates.minDate"
                                       data-max-date="paymentController.dates.maxDate"
                                       data-min-exp-date="paymentController.dates.minExpDate"
                                       data-max-exp-date="paymentController.dates.maxExpDate"
                                       data-start-date="paymentController.dates.dateFrom"
                                       data-number-of-days="paymentController.dates.minToMaxDays" 
                                       
                                       />

                                <div ng-show="frmCustomer.$submitted || frmCustomer.datepicker.$touched">
                                    <p ng-show="frmCustomer.datepicker.$error.required" class="help-block">This is a required field</p>
                                </div>
                            </div>
                        </div>

                        <div class="form-group" ng-if="paymentController.dates.dateToRequired" ng-class="{ 'has-error' : (frmCustomer.datepickerto.$touched || frmCustomer.$submitted) && frmCustomer.datepickerto.$invalid}">
                            <label class="control-label col-sm-2">Cover Required To</label>
                            <div class="col-sm-10">
                                <input data-li-date-pickerto
                                       data-dpName="dateto"
                                       type="text"
                                       data-ng-pattern="ci.ngPattern"
                                       data-min-exp-date="paymentController.dates.minExpDate"
                                       data-max-exp-date="paymentController.dates.maxExpDate"
                                       data-min-date="paymentController.dates.minDate"
                                       data-max-date="paymentController.dates.maxDate"
                                       data-end-date="paymentController.dates.dateTo" />
                                <div ng-show="frmCustomer.$submitted || frmCustomer.datepickerto.$touched">
                                    <p ng-show="frmCustomer.datepickerto.$error.required" class="help-block">This is a required field</p>
                                </div>
                            </div>
                        </div>
                    </fieldset>

                    <fieldset ng-if="paymentController.dates.startTimeRequired">
                        <legend>Please Select Times <span style="font-style:italic;font-size:13px">This will appear on your certificate</span> </legend>

                        <time-Picker data-start-Date="paymentController.dates.dateFrom"
                                     data-end-Date="paymentController.dates.dateTo"
                                     data-starting-hour="paymentController.dates.startingHour"
                                     data-starting-minute="paymentController.dates.startingMinute"
                                     data-ending-hour="paymentController.dates.endingHour"
                                     data-ending-minute="paymentController.dates.endingMinute"
                                     data-end-Time-Required="paymentController.dates.endTimeRequired"
                                     data-time-settings="timesettings"
                                     timeEvent="{{coverInputsController.CallFromOutSide()}}">
                        </time-Picker>

                    </fieldset>

                    <div class="panel-body" style="margin-left:180px;margin-top:0;padding-top:0" data-ng-if="paymentController.inputInstructors.length > 1 && (paymentController.chargeSummary.policyId == 15 || paymentController.chargeSummary.policyId == 16)">
                        <h5 class="col-sm-12"><b>Names of all instructors to be covered under this policy (including directors, partners and principals)</b></h5>
                        <div class="col-md-12 noPadding" data-ng-repeat="i in paymentController.inputInstructors track by $index" data-ng-if="$index > 0">
                            <div class="form-group col-sm-3">
                                <input type="text" placeholder="First Name" name="firstNameTxt{{$index}}" class="form-control" ng-class="{ 'has-error' : (frmCustomer.firstNameTxt{{$index}}.$touched || frmCustomer.$submitted) && frmCustomer.firstNameTxt{{$index}}.$invalid }"
                                       data-ng-model="paymentController.customers[$index].firstName" required />
                            </div>
                            <div class="form-group col-sm-3">
                                <input type="text" class="form-control" name="lastNameTxt{{$index}}" placeholder="Last Name" ng-class="{ 'has-error' : (frmCustomer.lastName{{Txt$index}}.$touched || frmCustomer.$submitted) && frmCustomer.firstNameTxt{{$index}}.$invalid }"
                                       data-ng-model="paymentController.customers[$index].lastName" required />
                            </div>
                            <div ng-show="frmCustomer.$submitted">
                                <p ng-show="frmCustomer.firstNameTxt{{$index}}.$error.required" class="help-block" style="color:red">Named instructors are required</p>

                            </div>
                        </div>
                    </div>

                </div>

            </div>
            <div class="clearfix"></div>
            <div data-ng-if="paymentController.chargeSummary.isAgent" class="col-sm-12" style="margin-top:10px;margin-bottom:10px;">
                <input style="margin-right:10px;" type="button" ladda-button="ShowCert" class="ladda-button btn btn-u btn-u-green pull-right" data-style="expand-right" value="View Quote" data-ng-click="paymentController.ShowCert()" />
                <button ng-disabled="paymentController.quote.customerPK == 0" style="margin-right:10px;" class="ladda-button btn btn-u btn-u-red pull-right" data-ng-click="paymentController.submitCustomer()" type="button">Submit Customer Details</button>
            </div>
            <!--<button ng-click="paymentController.Debug()">Debug</button>-->
            <!-- Purchse the policy -->
            <div data-ng-if="paymentController.chargeSummary.isAgent" class="col-sm-12" style="margin:0;padding:0;">
                <div class="panel panel-dark-blue">
                    <div class="panel-heading">
                        <h2>Purchase the policy</h2>
                    </div>
                    <div class="panel-body">
                        <div class="form form-horizontal">
                            <div class="control-group">
                                <input type="submit" ladda-button="proceedAsAgent" class="ladda-button btn btn-u btn-u-green pull-right" data-style="expand-right" value="Purchase this policy" />

                            </div>

                        </div>
                    </div>
                </div>
            </div>


            <!-- Choose your payment method -->
            <div data-ng-if="!paymentController.chargeSummary.isAgent">
                <div class="panel panel-dark-blue">
                    <div class="panel-heading">
                        <h2>Choose your payment method </h2>
                    </div>
                    <div class="panel-body form form-horizontal" ng-class="{ 'has-error' : frmCustomer.$submitted && (frmCustomer.checkReqHidden.$invalid || frmCustomer.paymentCardSelect.$invalid)}">
                        <table class="table">
                            <tr>
                                <td><label class="control-label">Please select the card you'll be paying with</label></td>
                                <td>
                                    <select name="paymentCardSelect" required data-ng-model="paymentController.selectedPaymentCard" class="form-control" data-ng-options="card.name for card in paymentController.creditcards track by card.id"></select>
                                </td>
                            </tr>
                            <tr data-ng-repeat="paymentOption in paymentController.chargeSummary.paymentOptions">
                                <td><label class="control-label">{{paymentOption.name}}</label></td>
                                <td><input type="radio" name="paymentCardCheck" ng-click="paymentController.radioreq = 'x'" ng-required="true" class="form-control input-sm" data-ng-value="paymentOption" data-ng-model="paymentController.selectedPaymentOption" /></td>
                            </tr>
                        </table>

                        <input name="checkReqHidden" ng-required="true" required type="hidden" class="checkbox-inline" ng-model="paymentController.radioreq" />

                        <div ng-show="frmCustomer.$submitted && (frmCustomer.checkReqHidden.$invalid || frmCustomer.paymentCardSelect.$invalid)">
                            <p class="help-block">Please select payment option</p>
                        </div>
                    </div>
                </div>
            </div>

            <!-- Complete DD details -->
            <div class="panel panel-dark-blue bank-details" data-ng-show="paymentController.selectedPaymentOption.numberOfPayments > 1">
                <div class="panel-heading">
                    <h2>Complete your direct debit details</h2>
                </div>
                <div class="panel-body">
                    <div class="form form-horizontal animate">
                        <div class="form-group">
                            <label class="control-label col-xs-5">Total to Pay (Including Interest) </label>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" value="{{paymentController.locationService.selectedLocale.currencySymbol}}{{(paymentController.selectedPaymentOption.initialPayment + paymentController.selectedPaymentOption.numberOfPayments*paymentController.selectedPaymentOption.subsequentPayments) | number:2}}" disabled="disabled" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-5">Deposit to Pay Now </label>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" value="{{paymentController.locationService.selectedLocale.currencySymbol}}{{paymentController.selectedPaymentOption.initialPayment| number:2}}" disabled="disabled" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-5">Number of Direct Debit installments</label>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" value="{{paymentController.selectedPaymentOption.numberOfPayments| number:0}}" disabled="disabled" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-5">Each installment at </label>
                            <div class="col-xs-7">
                                <input type="text" class="form-control" value="{{paymentController.locationService.selectedLocale.currencySymbol}}{{paymentController.selectedPaymentOption.subsequentPayments| number:2}}" disabled="disabled" />
                            </div>
                        </div>


                        <div class="form-group">
                            <label class="control-label col-xs-5">Sort Code</label>
                            <div class="col-xs-7">
                                <input type="text" name="sortCodeTxt" class="form-control" data-ng-model="paymentController.sortCode" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1" />
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-5">Account Number:</label>
                            <div class="col-xs-7">
                                <input type="text" name="accNoTxt" class="form-control" data-ng-model="paymentController.account" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1">
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-5">Is the name of the account that the money will be taken from a business name or a person’s name?</label>
                            <div class="col-xs-7">
                                <select class="form-control" name="accountTypeSelect" data-ng-model="paymentController.accountType" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1">
                                    <option value="">Select</option>
                                    <option value="P">Personal Account</option>
                                    <option value="B">Business Account</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group" data-ng-if="paymentController.accountType == 'B'">
                            <label class="control-label col-xs-5">Business Name:</label>
                            <div class="col-xs-7">
                                <input type="text" name="businessNameTxt" class="form-control" data-ng-model="paymentController.businessName" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1" />
                            </div>
                        </div>

                        <div data-ng-if="paymentController.accountType == 'P'">
                            <div class="form-group ">
                                <label class="control-label  col-xs-5">Title:</label>
                                <div class="col-xs-7">
                                    <select class="form-control" name="titleTxt" data-ng-model="paymentController.title" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1">
                                        <option value="Mr">Mr</option>
                                        <option value="Mrs">Mrs</option>
                                    </select>
                                </div>
                            </div>

                            <div class="form-group">
                                <label class="control-label col-xs-5">Name:</label>
                                <div class="col-xs-7">
                                    <input type="text" name="bankNameTxt" class="form-control" data-ng-model="paymentController.name" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1" />
                                </div>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-9">You are the account holder on the above account and therefore the payer. You are the only person required to authorise debits from the account provided above</label>
                            <div class="col-xs-1">
                                <input type="checkbox" name="authDebitCheck" class="form-control input-sm" data-ng-model="paymentController.accountHolder" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1" />
                            </div>
                        </div>
                        <div class="form-group ">
                            <label class="control-label col-xs-9">I confirm that these bank details are correct</label>
                            <div class="col-xs-1">
                                <input type="checkbox" name="confirmDetailsCheck" class="form-control input-sm" data-ng-model="paymentController.accountConfirm" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1" />
                            </div>
                        </div>
                        <p class="center-block"><img class="center-block" src="/Content/Images/dd-guarantee.png" /></p>
                        <p>PLEASE NOTE THAT THIS CREDIT AGREEMENT IS PROVIDED BY LEISURE PREMIUM FINANCE TRADING AS FOX FINANCE, NOT LEISUREINSURE LLP.</p>

                    </div>
                </div>
            </div>

            <!-- button-->
            <div class="panel">
                <div uib-alert ng-repeat="alert in agentAlerts" ng-class="'alert-' + (alert.type || 'warning')" class="alert" close="paymentController.closeAlert($index, 'agentAlerts')">
                    <div class="quote-purchase">
                        <p>{{alert.msg}}</p>
                    </div>
                </div>
                <div class="purchaseSection">
                    <div class="form-group" ng-class="{ 'has-error' : frmCustomer.$submitted && frmCustomer.$invalid }">
                        <div data-ng-if="!paymentController.chargeSummary.isAgent">
                            <input type="submit" class="ladda-button btn btn-u btn-u-red pull-right" ladda-button="payNowButton" value="Purchase your policy" data-style="expand-right" />
                        </div>
                        <div class="clearfix"></div>
                        <p style="text-align:right" ng-show="frmCustomer.$submitted && frmCustomer.$invalid" class="help-block">Please check all fields</p>
                    </div>
                </div>

            </div>
        </form>
    </div>
</div>

<div data-ng-if="paymentController.chargeSummary.renewal > 0">
    <div class="panel panel-dark-blue">
        <div class="panel-heading">
            <h2>Renewal - QuoteReference: {{paymentController.quoteReference}}</h2>
        </div>

    </div>
    <div class="panel-body">
        <table class="table">
            <tr>
                <td><h3>Net Premium</h3></td>
                <td></td>
                <td class="currency">
                    <h3>
                        <span class="pull-right">{{paymentController.selectedLocale.currencySymbol}}{{paymentController.chargeSummary.netPremium |number:2}}</span>
                    </h3>
                </td>
            </tr>


            <tr>
                <td><h3>Tax: ({{paymentController.chargeSummary.taxRate * 100}}%)</h3></td>
                <td></td>
                <td class="currency">
                    <h3>
                        <span class="pull-right">{{paymentController.selectedLocale.currencySymbol}}{{paymentController.chargeSummary.tax |number:2}}</span>
                    </h3>
                </td>
            </tr>
            <tr>
                <td><h3>Leisure Insure Fees</h3></td>
                <td></td>
                <td class="currency">
                    <h3>
                        <span class="pull-right">{{paymentController.selectedLocale.currencySymbol}}{{paymentController.chargeSummary.leisureInsureFees |number:2}}</span>
                    </h3>
                </td>
            </tr>
            <tr data-ng-if="paymentController.chargeSummary.legalFeesAdded && paymentController.locationService.selectedLocale.localePK == 1 && paymentController.chargeSummary.policyType == 'A' ">
                <td><h3>Legal Care</h3></td>
                <td><button type="button" class="btn btn-u btn-u-red pull-right" data-ng-click="paymentController.toggleLegalCare()">Remove</button></td>
                <td class="currency">
                    <h3>
                        <span class="pull-right">{{paymentController.locationService.selectedLocale.currencySymbol}}{{paymentController.chargeSummary.legalFees |number:2}}</span>
                    </h3>
                </td>
            </tr>
            <tr class="total" style="border:solid;">
                <td>
                    <h3>
                        <span>Total</span>
                    </h3>
                </td>
                <td></td>
                <td class="currency">
                    <h3>
                        <span class="pull-right">{{paymentController.selectedLocale.currencySymbol}}{{paymentController.chargeSummary.total |number:2}}</span>
                    </h3>
                </td>
            </tr>
            <tr data-ng-if="!paymentController.chargeSummary.legalFeesAdded && paymentController.locationService.selectedLocale.localePK == 1 && paymentController.chargeSummary.policyType == 'A' ">
                <td><h3>Legal Care Cover</h3></td>
                <td><button type="button" class="btn btn-u btn-u-dark-blue pull-right" data-ng-click="paymentController.toggleLegalCare()">Add</button></td>
                <td class="currency"><h3>{{paymentController.locationService.selectedLocale.currencySymbol}}{{paymentController.chargeSummary.legalFees |number:2}}</h3></td>
            </tr>
            <tr data-ng-if="paymentController.chargeSummary.isAgent">
                <td><h3>Agent Commission</h3></td>
                <td></td>
                <td class="currency">
                    <h3>
                        <span class="pull-right">{{paymentController.selectedLocale.currencySymbol}}{{paymentController.chargeSummary.commission |number:2}}</span>
                    </h3>
                </td>
            </tr>

        </table>

        <!-- Purchse the policy -->
        <div data-ng-if="paymentController.chargeSummary.isAgent">
            <div class="panel panel-dark-blue">
                <div class="panel-heading">
                    <h2>Purchase the policy</h2>
                </div>
                <div class="panel-body">
                    <div class="form form-horizontal">
                        <div class="control-group">
                            <input type="submit" ladda-button="proceedAsAgent" class="ladda-button btn btn-u btn-u-green pull-right" data-style="expand-right" value="Purchase this policy" data-ng-click="paymentController.payNow(true)" />
                            <input style="margin-right:10px;" type="button" ladda-button="ShowCert" class="ladda-button btn btn-u btn-u-green pull-right" data-style="expand-right" value="View Quote" data-ng-click="paymentController.ShowCert()" />
                        </div>

                    </div>
                </div>
            </div>
        </div>

        <!-- Choose your payment method -->
        <div data-ng-if="!paymentController.chargeSummary.isAgent">
            <div class="panel panel-dark-blue">
                <div class="panel-heading">
                    <h2>Choose your payment method </h2>
                </div>
                <div class="panel-body form form-horizontal">
                    <table class="table">
                        <tr>
                            <td><label class="control-label">Please select the card you'll be paying with</label></td>
                            <td>
                                <select name="paymentCardSelect" required data-ng-model="paymentController.selectedPaymentCard" class="form-control" data-ng-options="card.name for card in paymentController.creditcards track by card.id"></select>
                            </td>
                        </tr>
                        <tr data-ng-repeat="paymentOption in paymentController.chargeSummary.paymentOptions">
                            <td><label class="control-label">{{paymentOption.name}}</label></td>
                            <td><input type="radio" name="paymentCardCheck" ng-click="paymentController.radioreq = 'x'" ng-required="true" class="form-control input-sm" data-ng-value="paymentOption" data-ng-model="paymentController.selectedPaymentOption" /></td>
                        </tr>
                    </table>

                    <input name="checkReqHidden" ng-required="true" required type="hidden" class="checkbox-inline" ng-model="paymentController.radioreq" />

                    <div ng-show="frmCustomer.$submitted && (frmCustomer.checkReqHidden.$invalid || frmCustomer.paymentCardSelect.$invalid)">
                        <p class="help-block">Please select payment option</p>
                    </div>
                </div>
            </div>
        </div>

        <!-- Complete DD details -->
        <div class="panel panel-dark-blue bank-details" data-ng-show="paymentController.selectedPaymentOption.numberOfPayments > 1">
            <div class="panel-heading">
                <h2>Complete your direct debit details</h2>
            </div>
            <div class="panel-body">
                <div class="form form-horizontal animate">
                    <div class="form-group">
                        <label class="control-label col-xs-5">Total to Pay (Including Interest) </label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" value="{{paymentController.locationService.selectedLocale.currencySymbol}}{{(paymentController.selectedPaymentOption.initialPayment + paymentController.selectedPaymentOption.numberOfPayments*paymentController.selectedPaymentOption.subsequentPayments) | number:2}}" disabled="disabled" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-5">Deposit to Pay Now </label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" value="{{paymentController.locationService.selectedLocale.currencySymbol}}{{paymentController.selectedPaymentOption.initialPayment| number:2}}" disabled="disabled" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-5">Number of Direct Debit installments</label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" value="{{paymentController.selectedPaymentOption.numberOfPayments| number:0}}" disabled="disabled" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-5">Each installment at </label>
                        <div class="col-xs-7">
                            <input type="text" class="form-control" value="{{paymentController.locationService.selectedLocale.currencySymbol}}{{paymentController.selectedPaymentOption.subsequentPayments| number:2}}" disabled="disabled" />
                        </div>
                    </div>


                    <div class="form-group">
                        <label class="control-label col-xs-5">Sort Code</label>
                        <div class="col-xs-7">
                            <input type="text" name="sortCodeTxt" class="form-control" data-ng-model="paymentController.sortCode" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-5">Account Number:</label>
                        <div class="col-xs-7">
                            <input type="text" name="accNoTxt" class="form-control" data-ng-model="paymentController.account" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1">
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-5">Is the name of the account that the money will be taken from a business name or a person’s name?</label>
                        <div class="col-xs-7">
                            <select class="form-control" name="accountTypeSelect" data-ng-model="paymentController.accountType" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1">
                                <option value="">Select</option>
                                <option value="P">Personal Account</option>
                                <option value="B">Business Account</option>
                            </select>
                        </div>
                    </div>

                    <div class="form-group" data-ng-if="paymentController.accountType == 'B'">
                        <label class="control-label col-xs-5">Business Name:</label>
                        <div class="col-xs-7">
                            <input type="text" name="businessNameTxt" class="form-control" data-ng-model="paymentController.businessName" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1" />
                        </div>
                    </div>

                    <div data-ng-if="paymentController.accountType == 'P'">
                        <div class="form-group ">
                            <label class="control-label  col-xs-5">Title:</label>
                            <div class="col-xs-7">
                                <select class="form-control" name="titleTxt" data-ng-model="paymentController.title" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1">
                                    <option value="Mr">Mr</option>
                                    <option value="Mrs">Mrs</option>
                                </select>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label col-xs-5">Name:</label>
                            <div class="col-xs-7">
                                <input type="text" name="bankNameTxt" class="form-control" data-ng-model="paymentController.name" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1" />
                            </div>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-xs-9">You are the account holder on the above account and therefore the payer. You are the only person required to authorise debits from the account provided above</label>
                        <div class="col-xs-1">
                            <input type="checkbox" name="authDebitCheck" class="form-control input-sm" data-ng-model="paymentController.accountHolder" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1" />
                        </div>
                    </div>
                    <div class="form-group ">
                        <label class="control-label col-xs-9">I confirm that these bank details are correct</label>
                        <div class="col-xs-1">
                            <input type="checkbox" name="confirmDetailsCheck" class="form-control input-sm" data-ng-model="paymentController.accountConfirm" ng-required="paymentController.selectedPaymentOption.numberOfPayments > 1" />
                        </div>
                    </div>
                    <p class="center-block"><img class="center-block" src="/Content/Images/dd-guarantee.png" /></p>
                    <p>PLEASE NOTE THAT THIS CREDIT AGREEMENT IS PROVIDED BY LEISURE PREMIUM FINANCE TRADING AS FOX FINANCE, NOT LEISUREINSURE LLP.</p>

                </div>
            </div>
        </div>

        <!-- button-->
        <div class="panel">
            <div uib-alert ng-repeat="alert in agentAlerts" ng-class="'alert-' + (alert.type || 'warning')" class="alert" close="paymentController.closeAlert($index, 'agentAlerts')">
                <div class="quote-purchase">
                    <p>{{alert.msg}}</p>
                </div>
            </div>
            <div class="purchaseSection">
                <div class="form-group" ng-class="{ 'has-error' : frmCustomer.$submitted && frmCustomer.$invalid }">
                    <div data-ng-if="!paymentController.chargeSummary.isAgent">
                        <input type="submit" class="ladda-button btn btn-u btn-u-red pull-right" ladda-button="payNowButton" value="Purchase your policy" data-style="expand-right" data-ng-click="paymentController.payNow(true)" />
                    </div>
                    <div class="clearfix"></div>
                    <p style="text-align:right" ng-show="frmCustomer.$submitted && frmCustomer.$invalid" class="help-block">Please check all fields</p>
                </div>
            </div>

        </div>
    </div>
</div>

<!-- Payment forms -->
<div style="display: none;">
    <div class="payment-summary" data-ng-if="paymentController.chargeSummary.paymentOptions.length > 0">
        <div class="col-md-4 pull-right" data-ng-repeat="option in paymentController.chargeSummary.paymentOptions">
            <form method="post" action="{{option.globalIrisFields.url | safeUrl}}" id="payment-{{option.numberOfPayments}}">
                <input type="hidden" name="MERCHANT_ID" value="{{option.globalIrisFields.merchantId}}">
                <input type="hidden" name="ORDER_ID" value="{{option.globalIrisFields.orderId}}">
                <input type="hidden" name="AMOUNT" value="{{option.globalIrisFields.amount}}">
                <input type="hidden" name="CURRENCY" value="{{option.globalIrisFields.currency}}">
                <input type="hidden" name="TIMESTAMP" value="{{option.globalIrisFields.timestamp}}">
                <input type="hidden" name="SHA1HASH" value="{{option.globalIrisFields.hash}}">
                <input type="hidden" name="AUTO_SETTLE_FLAG" value="{{option.globalIrisFields.autoSettleFlag}}">
                <input type="hidden" name="MERCHANT_RESPONSE_URL" value="{{option.globalIrisFields.responseUrl}}" />
                <input type="hidden" name="COMMENT2" value="{{option.globalIrisFields.quoteReference}}" />
                <input type="hidden" name="ACCOUNT" value="{{option.globalIrisFields.account}}" />
                <button type="submit" class="btn btn-success fullwidth">Proceed to payment</button>
            </form>
        </div>
    </div>
</div>





