﻿<div class="outer-quote row">
    <figure class="quote-banner" style="position: relative;margin-bottom:-95px">
        <div class="img" style="background-image: url('/Content/Images/landingpages/{{LandingController.navigationData.pictureUrl}}');"></div>
        <div class="overlay">
            <h1>{{LandingController.navigationData.title}}</h1>
        </div>
    </figure>
</div>


<hr />


<form id="policyForm"
      name="policyForm"
      novalidate
      ng-submit="LandingController.submitPolicyForm(policyForm,policyForm.$valid);"
      class="form-horizontal quoteform"
      role="form">

    <section class="col-md-12">
        <div class="header1">{{LandingController.navigationData.header1}}</div>

        <div class="paragraph1">{{LandingController.navigationData.paragraph1}}</div>
    </section>

    <div style="clear:both">
    </div>

    <section class="quotenow">
        <p>{{LandingController.navigationData.buyNow1}}</p>
        <input type="button" value="Instant Quote/Buy Now" ng-click="LandingController.Quote();" />
        <input type="button" value="Contact Us" ng-click="LandingController.ContactUs();" />
    </section>

    <section class="coverOptions">
        <header>
            Cover Options
        </header>

        <table >
            <tr ng-repeat="row in LandingController.coverTable.rows">
                <td ng-repeat="cell in row.cells">
                    <img src="../../Content/Images/tick.png" /> {{cell.description}}
                </td>
            </tr>
        </table>      
    </section>

    <div style="clear:both">
    </div>


    <section class="whyChooseUs">
        <header>
            Why Choose Us?
        </header>
        <div class="chooseus">
            <header>Industry Experts</header>
            <p>{{LandingController.navigationData.chooseUs1}}</p>
        </div>
        <div class="chooseus">
            <header>Excellent Claims Handling</header>
            <p>{{LandingController.navigationData.chooseUs2}}</p>
        </div>
        <div class="chooseus">
            <header>Simple</header>
            <p>{{LandingController.navigationData.chooseUs3}}</p>
        </div>
        <div class="chooseus">
            <header>Dependable</header>
            <p>{{LandingController.navigationData.chooseUs4}}</p>
        </div>
    </section>

    <section class="header2">
        <header>
            {{LandingController.navigationData.header2}}
        </header>

        <div ng-bind-html="LandingController.navigationData.paragraph2"></div>
    </section>

    <div style="clear:both">
    </div>
    <br />

</form>

<button data-ng-click="LandingController.Debug()">Debug</button>



    ﻿

