﻿<div class="outer-quote row">
    <figure class="quote-banner" style="position: relative;margin-bottom:-95px">
        <div class="img" style="background-image: url('/Content/Images/landingpages/{{DetailsController.navigationData.pictureUrl}}');"></div>
        <div class="overlay">
            <h1>{{DetailsController.policyData.policyName}}</h1>
        </div>
    </figure>
    <div class="breadrow">
        <div class="registration-breadcrumb">
            <div class="bc-circle">
                <span class="step-name">Quote</span>
            </div>
            <div class="bc-divide">
                <span></span>
            </div>
            <div class="bc-circle">
                <span class="current"></span>
                <span class="step-name">Personal Details</span>
            </div>
            <div class="bc-divide">
                <span></span>
            </div>
            <div class="bc-circle">
                <span class="step-name">Payment</span>
            </div>
            <div class="bc-divide">
                <span></span>
            </div>
            <div class="bc-circle">
                <span class="step-name">Confirmation</span>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="price-total-panel">
    <h2> Total Payable:  </h2> <h2>{{DetailsController.policyData.locale.currencySymbol}}{{ DetailsController.policyData.total | number : 2}} </h2>
    <span ng-if="DetailsController.policyData.brokerName != null && DetailsController.policyData.net > 0">
        Total Net: {{DetailsController.policyData.locale.currencySymbol}}{{DetailsController.policyData.net | number : 2}}
        LeisureInsure Fee: {{DetailsController.policyData.locale.currencySymbol}}{{DetailsController.policyData.leisureInsureFee | number : 2}}
        Tax: {{DetailsController.policyData.locale.currencySymbol}}{{DetailsController.policyData.tax | number : 2}}
        Agent Commission: {{DetailsController.policyData.locale.currencySymbol}}{{DetailsController.policyData.brokerCommission | number : 2}}
    </span>
    <div>
        <h5>All insurance taxes and fees, where applicable, are included in the above price</h5>
    </div>    
</div>

<form id="detailForm"
      name="detailForm"
      novalidate
      ng-submit="DetailsController.submitDetailsForm(detailForm,detailForm.$valid);"
      class="form-horizontal quoteform"
      role="form">

    <section class="col-md-12 container-fluid frmInputs">
        <div class="coverQuestion">
            <h3>Your quote reference - {{DetailsController.policyData.quoteReference}} </h3>
            <br />
            <h3>Please complete your personal details</h3>
        </div>


        <div class="form-group" ng-class="{ 'has-error' : (detailForm.$submitted) && detailForm.contactEmail.$invalid }">
            <label class="control-label col-sm-2" style="color:blue;">Email Information To</label>
            <div class="col-sm-10">
                <input type="email" name="contactEmail" placeholder="Email that quote information will be sent to"
                       title="Email@.com" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" class="form-control"
                       data-ng-model="DetailsController.selectedAddress.email" required />
                <div ng-show="detailForm.$submitted || detailForm.contactEmail.$touched">
                    <p ng-show="detailForm.contactEmail.$error.required" class="help-block">Email is a required field</p>
                    <p ng-show="detailForm.contactEmail.$error.pattern" class="help-block">Email should be in correct format</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div data-ng-if="DetailsController.policyData.isAgent">

            <div class="form-group" ng-class="{ 'has-error' : (detailForm.$submitted) && detailForm.contactName.$invalid }">
                <label class="control-label col-sm-2" style="color:blue;">Contact Name</label>
                <div class="col-sm-10">
                    <input type="text" name="contactName" placeholder="Contact Name" class="form-control"
                           data-ng-model="DetailsController.selectedAddress.contactName" required />
                    <div ng-show="detailForm.$submitted || detailForm.contactName.$touched">
                        <p ng-show="detailForm.contactName.$error.required" class="help-block">
                            First Name is a required field
                        </p>
                    </div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (detailForm.$submitted) && detailForm.insuredEntSelect.$invalid }">
            <label class="control-label col-sm-2">Insured Entity</label>
            <div class="col-sm-10">
                <select class="form-control"
                        data-ng-model="DetailsController.selectedAddress.entityType"
                        required
                        name="insuredEntSelect"
                        data-ng-change="DetailsController.setEntityNamePlaceHolder()">
                    <option value="">Please Select</option>
                    <option value="Customer">The person named below</option>
                    <option value="Company">Limited Company</option>
                    <option value="TradingAs">Trading As</option>
                    <option value="Committee">Committee</option>
                    <option value="Charity">Charity</option>
                </select>
                <div ng-show="detailForm.$submitted || detailForm.insuredEntSelect.$touched">
                    <p ng-show="detailForm.insuredEntSelect.$error.required" class="help-block">Insured Entity is a required field</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="form-group" data-ng-switch="DetailsController.selectedAddress.entityType"
             data-ng-if="DetailsController.selectedAddress.entityType != 'Customer' && DetailsController.selectedAddress.entityType != null"
             ng-class="{ 'has-error' : (detailForm.$submitted) && detailForm.entityNameTxt.$invalid }">
            <label data-ng-switch-when="Company" class="control-label col-sm-2">Company Name</label>
            <label data-ng-switch-when="TradingAs" class="control-label col-sm-2">Trading As Name</label>
            <label data-ng-switch-when="Committee" class="control-label col-sm-2">Committee Name</label>
            <label data-ng-switch-when="Charity" class="control-label col-sm-2">Charity Name</label>
            <div class="col-sm-10">
                <input class="form-control" type="text" name="entityNameTxt" ng-required="true"
                       data-ng-model="DetailsController.selectedAddress.entityName"
                       placeholder="{{DetailsController.entityNamePlaceHolder}}">
                <div ng-show="detailForm.$submitted || detailForm.entityNameTxt.$touched">
                    <p ng-show="detailForm.entityNameTxt.$error.required" class="help-block">This is a required field</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>


        <div class="form-group" ng-class="{ 'has-error' : (detailForm.$submitted) && detailForm.firstNameTxt.$invalid }">
            <label class="control-label col-sm-2">First Name</label>
            <div class="col-sm-10">
                <input type="text" name="firstNameTxt" placeholder="First Name" class="form-control"
                       data-ng-model="DetailsController.selectedAddress.firstName" required />
                <div ng-show="detailForm.$submitted || detailForm.firstNameTxt.$touched">
                    <p ng-show="detailForm.firstNameTxt.$error.required" class="help-block">
                        First Name is a required field
                    </p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (detailForm.$submitted) && detailForm.lastNameTxt.$invalid }">
            <label class="control-label col-sm-2">Last Name</label>
            <div class="col-sm-10">
                <input type="text" name="lastNameTxt" class="form-control" placeholder="Last Name"
                       data-ng-model="DetailsController.selectedAddress.lastName" required />
                <div ng-show="detailForm.$submitted || detailForm.lastNameTxt.$touched">
                    <p ng-show="detailForm.lastNameTxt.$error.required" class="help-block">Last Name is a required field</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : (detailForm.$submitted) && detailForm.telephoneTxt.$invalid }">
            <label class="control-label col-sm-2">Telephone</label>
            <div class="col-sm-10">
                <input type="text" name="telephoneTxt" placeholder="Telephone" title="Area code + Phone Number" class="form-control"
                       data-ng-model="DetailsController.selectedAddress.telephone" required pattern="^([0-9][ -]*){5,23}[^a-z]$" />
                <div ng-show="detailForm.$submitted || detailForm.telephoneTxt.$touched">
                    <p ng-show="detailForm.telephoneTxt.$error.required" class="help-block">Phone Number is a required field</p>
                    <p ng-show="detailForm.telephoneTxt.$error.pattern" class="help-block">Phone Number should be in correct format</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>


        <div class="form-group" ng-if="DetailsController.locationService.selectedLocale.strLocale != 'ga-IE'" ng-class="{ 'has-error' : (detailForm.$submitted) && detailForm.postCodeTxt.$invalid }">
            <label class="control-label col-sm-2">PostCode</label>
            <div class="col-sm-10">
                <input type="text" 
                       style="width:85%;display:inline-block" 
                       placeholder="Post Code" 
                       name="postCodeTxt"
                       class="form-control" 
                       data-ng-model="DetailsController.selectedAddress.postcode" 
                       data-ng-change="getAddresses()"
                       data-ng-model-options="{ updateOn: 'blur', debounce: { default: 500, blur: 0 } }" 
                       required />
                <input class="btn btn-primary" style="display:inline-block;" type="button" value="Search Address" data-ng-click="DetailsController.getAddress()" />
                <div ng-show="detailForm.$submitted || detailForm.postCodeTxt.$touched">
                    <p ng-show="detailForm.postCodeTxt.$error.required" class="help-block">Post Code is a required field</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div ng-if="DetailsController.addressLookups.length > 0 && DetailsController.locationService.selectedLocale.strLocale != 'ga-IE'" class="form-group">
            <label class="control-label col-sm-2">Please Select An Address</label>
            <div class="col-sm-10">
                <select ng-model="DetailsController.postCodeLookupAddress"
                        ng-change="DetailsController.populateAddress()" id="postCodeSelect"
                        ng-init="DetailsController.addressLookups[0]"
                        size="1" class="form-control" style="width: 100%; margin-top: 5px;"
                        ng-options="addy.address1 for addy in DetailsController.addressLookups track by addy.id"></select>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (detailForm.$submitted) && detailForm.address1Txt.$invalid }">
            <label class="control-label col-sm-2">Address1</label>
            <div class="col-sm-10">
                <input type="text"
                       name="address1Txt"
                       placeholder="Address1"
                       title="Please complete"
                       class="form-control"
                       data-ng-model="DetailsController.selectedAddress.address1"
                       required />
                <div ng-show="detailForm.$submitted || detailForm.address1Txt.$touched">
                    <p ng-show="detailForm.address1Txt.$error.required" class="help-block">Address1 is a required field</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Address2</label>
            <div class="col-sm-10">
                <input type="text"
                       placeholder="Address2"
                       class="form-control"
                       data-ng-model="DetailsController.selectedAddress.address2" />
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Address3</label>
            <div class="col-sm-10">
                <input type="text"
                       placeholder="Address3"
                       class="form-control"
                       data-ng-model="DetailsController.selectedAddress.address3" />
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : (detailForm.$submitted) && detailForm.townTxt.$invalid }">
            <label class="control-label col-sm-2">Town</label>
            <div class="col-sm-10">
                <input type="text"
                       name="townTxt"
                       placeholder="Town"
                       class="form-control"
                       data-ng-model="DetailsController.selectedAddress.town"
                       required />
                <div ng-show="detailForm.$submitted || detailForm.townTxt.$touched">
                    <p ng-show="detailForm.townTxt.$error.required" class="help-block">Town is a required field</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (detailForm.$submitted) && detailForm.countyTxt.$invalid }">
            <label class="control-label col-sm-2">County</label>
            <div class="col-sm-10">
                <input type="text"
                       name="countyTxt"
                       placeholder="County"
                       class="form-control"
                       data-ng-model="DetailsController.selectedAddress.county"
                       required />
                <div ng-show="detailForm.$submitted">
                    <p ng-show="detailForm.countyTxt.$error.required" class="help-block">County is a required field</p>
                </div>
            </div>
            <div class="clearfix"></div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Country</label>
            <div class="col-sm-10">
                <input type="text"
                       data-ng-model="DetailsController.selectedAddress.country"
                       placeholder="{{DetailsController.policyData.locale.country}}"
                       class="form-control"
                       disabled="disabled" />
            </div>
            <div class="clearfix"></div>
        </div>

        <section class="buttonSection col-sm-12">
            <div class="text-left prevBtn">
                <input type="button" value="Previous" ng-click="DetailsController.PreviousPage()" class="btn-u btn-u-blue" />
            </div>

            <div class="text-right">
                <input type="submit" value="Next" class="btn-u btn-u-blue" />
                <label style="text-align:right" ng-show="detailForm.$submitted && detailForm.$invalid" class="help-block errorText">Please check highlighted fields</label>
            </div>
        </section>

    </section>

</form>

<br />

<button data-ng-click="DetailsController.Debug()">Debug</button>



    ﻿

