﻿<h4>Freelance Sports Instructor</h4>
<p>This product is specifically designed to meet the demands and needs of a Freelance Adventure Activity Instructor. </p>
<p>What you will find here is:</p>
<ul class="custom-bullet">
    <li>
        A specialist Insurance package from a market leader – we’ve 25 years’ experience in insuring freelance sports Instructors
    </li>
    <li>
        Quote and Buy in minutes – Proof of cover by email, instantly
    </li>
    <li>
        14 day cooling-off period*
    </li>

    <li>
        The option to pay by monthly instalments
    </li>
    <li>
        Professional Liability cover included for free
    </li>
    <li>
        The Public Liability cover automatically covers any principal for whom you are working**
    </li>
</ul>
<p>
    Optional extensions include:

    <ul>
        <li>Multi party discounts – i.e. add other instructors to one policy</li>
        <li>Worldwide extensions</li>
    </ul>
</p>
<p>*You have the right to cancel your policy within 14 days without providing a reason. For cancellation charges please see our terms of business.</p>
<p>** Conditions do apply. For full details please see ‘Cover for Others’ on page 21 of the policy wording. </p>








