﻿    <!--MASTER TABLE START-->
    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;" bgcolor="#a4cfef">
        <tr>
            <td width="100%" align="center">
                <!--LAYOUT TABLE START-->
                <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;" bgcolor="#a4cfef">
                    <tr>
                        <td height="30" style="height:30px; line-height:30px;"></td>
                    </tr>
                    <tr>
                        <td>
                            <!--HEADER TABLE START-->
                            <table width="600" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;" bgcolor="#ffffff">

                                <tr>
                                    <td align="center" valign="top">
                                        <a style="text-decoration: none;" href="http://www.leisureinsure.co.uk/" title="Leisureinsure"><img src="~/Content/Email/header.jpg" alt="Leisuredinsure" width="600" height="100" border="0" style="display:block;" /></a>
                                    </td>
                                </tr>
                                <tr>
                                    <td align="center">
                                        <a style="text-decoration: none;" href="http://www.leisureinsure.co.uk/" title="Leisureinsure"><img src="http://localhost:20131/Content/Email/banner.jpg" alt="Leisuredinsure" width="600" height="300" border="0" style="display:block;" /></a>
                                    </td>
                                </tr>
                            </table>
                            <!--HEADER TABLE END-->
                            <!--BODY TABLE START-->
                            <table width="600" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;" bgcolor="#ffffff">
                                <tr>
                                    <td height="1" bgcolor="#ffffff" align="center" valign="top" style="font-size:1px; height:1px; line-height: 1px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="5" height="1" alt="" /></td>
                                </tr>
                                <tr>
                                    <td align="center" valign="top">
                                        <!--BUTTON TABLE START-->
                                        <table align="left" class="center" cellpadding="0" cellspacing="0" border="0" width="100%">
                                            <tr>
                                                <td align="center" valign="top" style="border: 1px solid #0750a4; overflow: hidden; background-color:#0750a4;">
                                                    <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                                                        <tr>
                                                            <td height="12" style="height: 12px; line-height:12px;"></td>
                                                        </tr>
                                                        <tr>
                                                            <td align="center" valign="top" style="padding: 0 24px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; mso-line-height-rule: exactly; line-height: 16px; font-weight: bold;color: #ffffff;">
                                                                <span style="color: #ffffff;">
                                                                    POLICY NUMBER: XXXXXXXXXXXX
                                                                </span>
                                                            </td>
                                                        </tr>
                                                        <tr>
                                                            <td height="12" style="height: 12px; line-height:12px;"></td>
                                                        </tr>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>
                                        <!--BUTTON TABLE END-->
                                    </td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top" style="padding:30px;">
                                        <!--INNER BODY TABLE START-->
                                        <table width="540" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;" bgcolor="#ffffff">
                                            <tr>
                                                <td align="left" valign="top" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; mso-line-height-rule: exactly; line-height: 13px; color: #000001;">
                                                    <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                        Dear {Client’s name},
                                                    </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20" style="font-size:20px; height:20px; line-height: 20px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="15" height="20" alt="" /></td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 18px; mso-line-height-rule: exactly; line-height: 18px; color: #000001; font-weight:bold;">
                                                    <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                        Your renewal Quotation is &pound;XXX
                                                    </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20" style="font-size:20px; height:20px; line-height: 20px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="15" height="20" alt="" /></td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; mso-line-height-rule: exactly; line-height: 16px; color: #000001;">
                                                    <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                        The above policy falls due for renewal on 00/00/0000 and as such we are pleased to inform you that we have reviewed your details on file and can offer the above premium with an insurance company who, in our experience, offers 1st Class claims service.
                                                        <br /><br />
                                                        Please follow the link below to review your quote in detail.
                                                    </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20" style="font-size:20px; height:20px; line-height: 20px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="15" height="20" alt="" /></td>
                                            </tr>
                                            <tr>
                                                <td align="center" valign="top">
                                                    <!--BUTTON TABLE START-->
                                                    <table align="left" class="center" cellpadding="0" cellspacing="0" border="0">
                                                        <tr>
                                                            <td align="center" valign="top" style="border: 1px solid #0750a4; border-radius: 8px; overflow: hidden; background-color:#0750a4;">
                                                                <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                                                                    <tr>
                                                                        <td height="12" style="height: 12px; line-height:12px;"></td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td align="center" valign="top" style="padding: 0 24px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; mso-line-height-rule: exactly; line-height: 16px; font-weight: bold;color: #ffffff;">
                                                                            <span style="color: #ffffff;">
                                                                                <a style="text-decoration: none; color: #ffffff;" href="#" target="_blank" title="BUY NOW">
                                                                                    <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                                                        BUY NOW
                                                                                    </font>
                                                                                </a>
                                                                            </span>
                                                                        </td>
                                                                    </tr>
                                                                    <tr>
                                                                        <td height="12" style="height: 12px; line-height:12px;"></td>
                                                                    </tr>
                                                                </table>
                                                            </td>
                                                        </tr>
                                                    </table>
                                                    <!--BUTTON TABLE END-->
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20" style="font-size:20px; height:20px; line-height: 20px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="15" height="20" alt="" /></td>
                                            </tr>

                                            <tr>
                                                <td align="left" valign="top" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; mso-line-height-rule: exactly; line-height: 16px; color: #000001;">
                                                    <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                        Regards,
                                                        <br /><br />
                                                        The Leisureinsure quote team.
                                                        <br /><br />
                                                        <a href="#" title="Terms of Business" target="_blank" style="color:#0750a4;"><font color="#0750a4">Terms of Business</font></a>
                                                    </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20" style="font-size:20px; height:20px; line-height: 20px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="15" height="20" alt="" /></td>
                                            </tr>
                                            <tr>
                                                <td height="1" bgcolor="#a4cfef" align="center" valign="top" style="font-size:1px; height:1px; line-height: 1px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="5" height="1" alt="" /></td>
                                            </tr>
                                            <tr>
                                                <td height="20" style="font-size:20px; height:20px; line-height: 20px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="15" height="20" alt="" /></td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 14px; mso-line-height-rule: exactly; line-height: 14px; color: #000001; font-weight:bold;">
                                                    <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                        Important Information
                                                    </font>
                                                </td>
                                            </tr>
                                            <tr>
                                                <td height="20" style="font-size:20px; height:20px; line-height: 20px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="15" height="20" alt="" /></td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 12px; mso-line-height-rule: exactly; line-height: 15px; color: #000001;">
                                                    <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                        The quote is for a 12 month contract and is based on the information we have on file which is detailed within the link. If any of this information is inaccurate it is imperative that you notify us by return as failure to do so may invalidate the cover.
                                                        <br /><br />
                                                        This renewal quotation should be read in conjunction with Policy Document, Policy Summary, Key Facts Initial Disclosure Document and our Terms of Business (all contained within the above link). Acceptance of this quotation constitutes acceptance of these terms.
                                                        <br /><br />
                                                        We would also take this opportunity to remind you that if there have been any changes in material circumstances which could affect this policy you should advise us by return in writing. Material non-disclosure could invalidate your policy cover. (A material fact is one likely to influence acceptance and assessment of this proposal by underwriters. If you are in any doubt as to whether a fact is material or not you must disclose it)
                                                        <br /><br />
                                                        Regrettably this policy will lapse on the expiry date shown above unless the quoted premium is paid on or before that date.
                                                        <br /><br />
                                                        In the event of any query, please do not hesitate to contact me personally.
                                                        <br /><br />
                                                        <strong>Mr Leigh Kendall</strong>
                                                        <br />
                                                        Chartered Insurance Practitioner
                                                        <br />
                                                        t: <span style="color:#000001"><font color="#000001">+44&#160;(0)1993&#160;700870</font></span>
                                                        <br />
                                                        f: <span style="color:#000001"><font color="#000001">+44&#160;(0)870&#160;766&#160;8392</font></span>
                                                        <br />
                                                        <a style="text-decoration: none; color: #000001;" href="mailto:leigh@leisureinsure.co.uk" title="leigh@leisureinsure.co.uk">
                                                            <font color="#000001" face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                                leigh@leisureinsure.co.uk
                                                            </font>
                                                        </a>
                                                    </font>
                                                    <br />
                                                    <a style="text-decoration: none; color: #000001;" href="http://www.leisureinsure.co.uk/" title="www.leisureinsure.co.uk">
                                                        <font color="#000001" face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                            www.leisureinsure.co.uk
                                                        </font>
                                                    </a>

                                                </td>
                                            </tr>
                                            <tr>
                                                <td align="left" valign="top">

                                                    <!--FOOTER TABLE START-->
                                                    <table width="100%" align="left" class="center" cellpadding="0" cellspacing="0" border="0">
                                                        <tr>
                                                            <td height="20" style="font-size:20px; height:20px; line-height: 20px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="15" height="20" alt="" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="1" bgcolor="#a4cfef" align="center" valign="top" style="font-size:1px; height:1px; line-height: 1px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="5" height="1" alt="" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20" style="font-size:20px; height:20px; line-height: 20px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="15" height="20" alt="" /></td>
                                                        </tr>
                                                        <td align="left" valign="top" bgcolor="#545c5e">
                                                            <!--INNER FOOTER TABLE START-->
                                                            <table width="100%" align="left" class="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#545c5e">
                                                                <tr>
                                                                    <td>
                                                                        <a style="text-decoration: none;" href="http://www.leisureinsure.co.uk/" title="Leisureinsure"><img src="http://localhost:20131/Content/Email/footer-banner.png" alt="Leisuredinsure" width="540" height="100" border="0" style="display:block;" /></a>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td align="left" valign="top" style="padding:15px;">
                                                                        <!--CONTACT TABLE START-->
                                                                        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td width="20" align="left" valign="middle" style="line-height: 0 !important;"><img src="http://localhost:20131/Content/Email/icon-phone.png" alt="phone" width="20" height="19" border="0" /></td>
                                                                                <td align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 14px; mso-line-height-rule: exactly; line-height: 16px; font-weight: 400;color: #ffffff;">
                                                                                    <a style="text-decoration: none; color: #ffffff;" href="tel:01993700761" title="01993 700761">
                                                                                        <font color="#ffffff" face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                                                            01993&#160;700761
                                                                                        </font>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="5" style="font-size:5px; height:5px; line-height: 5px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="15" height="5" alt="" /></td>
                                                                            </tr>
                                                                        </table>
                                                                        <!--CONTACT TABLE END-->
                                                                        <!--CONTACT TABLE START-->
                                                                        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td width="20" align="left" valign="middle" style="line-height: 0 !important;"><img src="http://localhost:20131/Content/Email/icon-email.png" alt="Email" width="20" height="19" border="0" /></td>
                                                                                <td align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 14px; mso-line-height-rule: exactly; line-height: 16px; font-weight: 400;color: #ffffff;">
                                                                                    <a style="text-decoration: none; color: #ffffff;" href="mailto:info@leisureinsure.co.uk" title="info@leisureinsure.co.uk">
                                                                                        <font color="#ffffff" face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                                                            info@leisureinsure.co.uk
                                                                                        </font>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="5" style="font-size:5px; height:5px; line-height: 5px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="15" height="5" alt="" /></td>
                                                                            </tr>
                                                                        </table>
                                                                        <!--CONTACT TABLE END-->
                                                                        <!--CONTACT TABLE START-->
                                                                        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td width="20" align="left" valign="middle" style="line-height: 0 !important;"><img src="http://localhost:20131/Content/Email/icon-web.png" alt="Email" width="20" height="19" border="0" /></td>
                                                                                <td align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 14px; mso-line-height-rule: exactly; line-height: 16px; font-weight: 400;color: #ffffff;">
                                                                                    <a style="text-decoration: none; color: #ffffff;" href="http://www.leisureinsure.co.uk/" title="www.leisureinsure.co.uk">
                                                                                        <font color="#ffffff" face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                                                            www.leisureinsure.co.uk
                                                                                        </font>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10" style="font-size:10px; height:10px; line-height: 10px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="15" height="10" alt="" /></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="3" align="left" valign="top">
                                                                                    <!--SOCIAL ICON TABLE START-->
                                                                                    <table width="80" align="left" border="0" cellspacing="0" cellpadding="0">
                                                                                        <tr>
                                                                                            <td align="left" valign="top" width="40">
                                                                                                <a href="https://www.facebook.com/Leisureinsure-277911396792/timeline/" title="Facebook" target="_blank">
                                                                                                    <img src="http://localhost:20131/Content/Email/facebook.png" alt="Facebook" width="40" height="40" border="0" />
                                                                                                </a>
                                                                                            </td>
                                                                                            <td align="left" valign="top" width="40">
                                                                                                <a href="https://twitter.com/leisureinsure" title="Twitter" target="_blank">
                                                                                                    <img src="http://localhost:20131/Content/Email/twitter.png" alt="Twitter" width="40" height="40" border="0" />
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                    <!--SOCIAL ICON TABLE END-->
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="3" height="20" style="font-size:20px; height:20px; line-height: 20px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="15" height="20" alt="" /></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="3" height="1" bgcolor="#a4cfef" align="center" valign="top" style="font-size:1px; height:1px; line-height: 1px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="5" height="1" alt="" /></td>
                                                                            </tr>
                                                                        </table>
                                                                        <!--CONTACT TABLE END-->
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td>
                                                                        <img src="http://localhost:20131/Content/Email/trustpilot-score.png" alt="Trustpilot 9.2 out of 10" width="540" height="107" border="0" style="display:block;" />
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="padding:20px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; mso-line-height-rule: exactly; line-height: 16px; color: #ffffff;">
                                                                        <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                                            <a href="https://uk.trustpilot.com/review/www.leisureinsure.co.uk/559702740000ff0002f35b8d" title="11 years of excellent service" target="_blank" style="color:#a4cfef;"><font color="#a4cfef">11 years of excellent service</font></a>
                                                                            <br />
                                                                            <span style="font-style:italic;">"We've used leisure insure for 11 years very happy with price and service. 5 stars from&#160;us."</span>
                                                                            <br />
                                                                            <br />
                                                                            <a href="https://uk.trustpilot.com/review/www.leisureinsure.co.uk/55a61b650000ff0002f669f5" title="Extremely helpful organisation" target="_blank" style="color:#a4cfef;"><font color="#a4cfef">Extremely helpful organisation</font></a>
                                                                            <br />
                                                                            <span style="font-style:italic;">
                                                                                "I appreciated the fact that Leisureinsure contacted me well in advance of the renewal date. However vigilant we are, dates get forgotten. 
                                                                                I also appreciated the fact that I had a quick response to my emails, with positive and helpful content."
                                                                            </span>

                                                                        </font>
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="left" valign="top" style="padding:0px 20px;">
                                                                        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td height="1" bgcolor="#a4cfef" align="center" valign="top" style="font-size:1px; height:1px; line-height: 1px !important; mso-line-height-rule: exactly;"><img src="http://localhost:20131/Content/Email/spacer.gif" width="5" height="1" alt="" /></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:20px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 8px; mso-line-height-rule: exactly; line-height: 10px; color: #ffffff;">
                                                                                    <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                                                        Leisureinsure LLP is Authorised and Regulated by the Financial Conduct Authority no 430849.This can be checked on the FCA's Register by visiting the FCA's website or by contacting the FCA on 0845 606 1234.
                                                                                        The Information contained in or attached to this email is intended only for the use of the individual or entity to which it is addressed.
                                                                                        If you are not the intended recipient, or a person responsible for delivering it to the intended recipient, you are not authorised to and must not disclose, copy, distribute, or retain this message or any part of it.
                                                                                        It may contain information that is confidential and/or covered by legal, professional or other privilege (or other rules or laws with similar effect in jurisdictions outside England and Wales).
                                                                                        Thank you for your compliance. Any opinions expressed in this email are those of the individual and not the&#160;Firm.
                                                                                    </font>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>
                                                            </table>
                                                            <!--INNER FOOTER TABLE END-->
                                                        </td>
                                                    </table>
                                                    <!--FOOTER TABLE END-->
                                                </td>
                                            </tr>
                                        </table>
                                        <!--INNER BODY TABLE END-->
                                    </td>
                                </tr>
                            </table>
                            <!--BODY TABLE START-->
                        </td>
                    </tr>
                </table>
                <!--LAYOUT TABLE END-->
            </td>
        </tr>
    </table>
    <!--MASTER TABLE END-->
@*</body>
</html>*@