﻿<div class="modal-content pdfModal">
    <div class="modal-header">
        <h4 class="modal-title">this</h4>
    </div>
            <iframe  width="100%" height="500" src="{{pdfUrl}}"></iframe>

    <div class="modal-footer">
        <div class="col-md-12" style="align-content: center; margin-top: 15px;">
            <button type="submit" value="submit" class="btn btn-primary col-md-5" data-ng-click="submit(user)">I Agree</button>
            <button class="btn btn-warning col-md-5" value="close" data-ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
