﻿<form data-ng-if="payOption ==3" name="frmBankDetails">
    <div class="container-fluid frmInputs">
        <h2 style="padding-bottom: 10px; border-bottom: 1px solid #cccccc">Bank Account Details</h2>

        <div style="text-align: justify;">
            You will receive a confirmation letter (by email or post), a copy of the Direct
            Debit Guarantee and Advance Notice of the amount and date of the first collection
            of your direct debit. This will be sent to you within 3 days but no later than 10
            days before the first instalment is due to be taken. The company name that will appear on your bank statement is "LPF"
        </div>

        <br />

        <div class="form-group lngLable60">
            <label class="control-label">Total to Pay (Including Interest){{navigation.locales.localeSelected.currencySymbol}}</label>
            <input type="text"
                   class="form-control"
                   data-ng-model="installment.fullPremium"
                   disabled="disabled"
                   required />
        </div>

        <div class="form-group lngLable60">
            <label class="control-label">Deposit to Pay Now {{navigation.locales.localeSelected.currencySymbol}}</label>
            <input type="text"
                   class="form-control"
                   data-ng-model="installment.deposit"
                   disabled="disabled" />
        </div>
        <div class="form-group lngLable60">
            <label class="control-label">Number of Direct Debit installments</label>
            <input type="text"
                   class="form-control"
                   data-ng-model="installment.noPayments"
                   disabled="disabled" />
        </div>
        <div class="form-group lngLable60">
            <label class="control-label">Each installment at {{navigation.locales.localeSelected.currencySymbol}}</label>
            <input type="text"
                   class="form-control"
                   data-ng-model="installment.flatRate"
                   disabled="disabled" />
        </div>


        <div class="form-group lngLable60">
            <label class="control-label">Sort Code</label>
            <input type="text"
                   class="form-control"
                   data-ng-model="installment.sortCode"
                   required />
        </div>
        <div class="form-group lngLable60">
            <label class="control-label">Account Number:</label>
            <input type="text"
                   class="form-control"
                   data-ng-model="installment.accountNo"
                   required>
        </div>
        <div class="form-group col-md-12 lngLable60" style="margin:0;">
            <label class="control-label">Is the name of the account that the money will be taken from a business name or a person’s name?</label>
            <select class="form-control btn btn-default dropdown-toggle"
                    style="float: left;"
                    data-ng-model="installment.accountType"
                    required>
                <option value="">Select</option>
                <option value="P">Personal Account</option>
                <option value="B">Business Account</option>
            </select>
        </div>
        <div class="form-group lngLable60" data-ng-if="installment.accountType == 'B'">
            <label class="control-label">Business Name:</label>
            <input type="text"
                   style="width:270px;"
                   class="form-control"
                   data-ng-model="installment.businessName"
                   required />
        </div>

        <div style="margin:0;" data-ng-if="installment.accountType == 'P'">
            <div class="form-group col-md-12 lngLable60" style="margin:0;">
                <label class="control-label">Title:</label>
                <select class="form-control btn btn-default dropdown-toggle"
                        style="float: left;"
                        data-ng-model="installment.title"
                        required>
                    <option value="">Select</option>
                    <option value="Mr">Mr</option>
                    <option value="Mrs">Mrs</option>
                </select>
            </div>
            <div class="form-group lngLable60">
                <label class="control-label">First Name:</label>
                <input type="text"
                       class="form-control"
                       data-ng-model="installment.firstName"
                       required />
            </div>
            <div class="form-group lngLable60">
                <label class="control-label">Last Name:</label>
                <input type="text"
                       class="form-control"
                       data-ng-model="installment.lastName"
                       required />
            </div>
        </div>
        <div class="form-group col-md-12 lngLable60" style="margin:0;">
            <label class="control-label">Would you prefer the direct debit to be collected on the 14th of the month or the 28th?</label>
            <select class="form-control btn btn-default dropdown-toggle"
                    style="float: left;"
                    data-ng-model="installment.dayOfMonth"
                    required>
                <option value="">Select</option>
                <option value="14">14th</option>
                <option value="28">28th</option>
            </select>
        </div>




        <div class="form-group col-md-12 lngLable60">
            <label class="control-label">You are the account holder on the above account and therefore the payer. You are the only person required to authorise debits from the account provided above</label>
            <input type="checkbox"
                   class="form-control"
                   data-ng-model="installment.accountHolder"
                   required />
        </div>
        <div class="form-group col-md-12 lngLable60">
            <label class="control-label">I confirm that these bank details are correct</label>
            <input type="checkbox"
                   class="form-control"
                   data-ng-model="installment.confirm"
                   required />
        </div>
        <p>PLEASE NOTE THAT THIS CREDIT AGREEMENT IS PROVIDED BY LEISURE PREMIUM FINANCE TRADING AS FOX FINANCE, NOT LEISUREINSURE LLP.</p>

    </div>
    <div class="col-md-12">
        <button type="button" class="btn btn-info" data-ng-mouseover="showPopover()" data-ng-mouseleave="hidePopover()">View the Direct Debit Guarantee</button>
        <div style="float:right">
            <input type="button" class="btn btn-success" value="Submit" data-ng-click="frmSubmitPaymentFromBD();" data-ng-if="iris.go == 0" data-ng-disabled="frmBankDetails.$invalid ||frmBankDetails.pristine">
            <button data-ng-if="iris.go == 1" data-ng-click="getIris()" class="btn btn-success">Proceed to Payment</button>


        </div>
    </div>
</form>

<div class="popoverx" data-ng-show="popoverIsVisible">
    <img src="../../Content/Images/dd-guarantee.png" data-ng-mouseleave="hidePopover()" />
</div>



