﻿@using System.Data.Entity.Infrastructure
@inherits RazorEngine.Templating.TemplateBase<ItOps.Endpoint.ViewModels.ViewModelBase>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>Your quote from Leisureinsure</title>
</head>
<body style="background-color:#a4cfef">
    <!--MASTER TABLE START-->
    <table width="100%" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;" bgcolor="#a4cfef">
        <tr>
            <td width="100%" align="center">
                <!--LAYOUT TABLE START-->
                <table width="600" cellspacing="0" cellpadding="0" border="0" style="border-collapse:collapse;" bgcolor="#a4cfef">
                    <tr>
                        <td height="30" style="height:30px; line-height:30px;"></td>
                    </tr>
                    <tr>
                        <td>
                            <!--HEADER TABLE START-->
                            <table width="600" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;" bgcolor="#ffffff">
                                <tr>
                                    <td align="center">
                                        <a style="text-decoration: none;" href="http://www.leisureinsure.co.uk/" title="Leisureinsure"><img src="https://leisureinsure.blob.core.windows.net/images/Email/banner.jpg" alt="Leisuredinsure" width="600" height="300" border="0" style="display:block;" /></a>
                                    </td>
                                </tr>
                            </table>
                            <!--HEADER TABLE END-->
                            <!--BODY TABLE START-->
                            <table width="600" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;" bgcolor="#ffffff">
                                <tr>
                                    <td height="1" bgcolor="#ffffff" align="center" valign="top" style="font-size:1px; height:1px; line-height: 1px !important; mso-line-height-rule: exactly;"><img src="https://leisureinsure.blob.core.windows.net/images/Email/spacer.gif" width="5" height="1" alt="" /></td>
                                </tr>
                                <tr>
                                    <td align="left" valign="top" style="padding:30px;">
                                        <!--INNER BODY TABLE START-->
                                        <table width="540" cellpadding="0" cellspacing="0" border="0" style="border-collapse:collapse;" bgcolor="#ffffff">
                                            <tr>
                                                <td align="left" valign="top" style="font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 13px; mso-line-height-rule: exactly; line-height: 13px; color: #000001;">
                                                    @RenderBody()
                                                </td>
                                            </tr>
                                            <tr>
                                                <td>

                                                    <table width="100%" align="left" class="center" cellpadding="0" cellspacing="0" border="0">
                                                        <tr>
                                                            <td height="20" style="font-size:20px; height:20px; line-height: 20px !important; mso-line-height-rule: exactly;"><img src="https://leisureinsure.blob.core.windows.net/images/Email/spacer.gif" width="15" height="20" alt="" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="1" bgcolor="#a4cfef" align="center" valign="top" style="font-size:1px; height:1px; line-height: 1px !important; mso-line-height-rule: exactly;"><img src="https://leisureinsure.blob.core.windows.net/images/Email/spacer.gif" width="5" height="1" alt="" /></td>
                                                        </tr>
                                                        <tr>
                                                            <td height="20" style="font-size:20px; height:20px; line-height: 20px !important; mso-line-height-rule: exactly;"><img src="https://leisureinsure.blob.core.windows.net/images/Email/spacer.gif" width="15" height="20" alt="" /></td>
                                                        </tr>
                                                        <td align="left" valign="top" bgcolor="#545c5e">
                                                            <!--INNER FOOTER TABLE START-->
                                                            <table width="100%" align="left" class="center" cellpadding="0" cellspacing="0" border="0" bgcolor="#545c5e">
                                                                <tr>
                                                                    <td>
                                                                        <a style="text-decoration: none;" href="http://www.leisureinsure.co.uk/" title="Leisureinsure"><img src="https://leisureinsure.blob.core.windows.net/images/Email/footer-banner.png" alt="Leisuredinsure" width="540" height="100" border="0" style="display:block;" /></a>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td align="left" valign="top" style="padding:15px;">
                                                                        <!--CONTACT TABLE START-->
                                                                        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td width="20" align="left" valign="middle" style="line-height: 0 !important;"><img src="https://leisureinsure.blob.core.windows.net/images/Email/icon-phone.png" alt="phone" width="20" height="19" border="0" /></td>
                                                                                <td align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 14px; mso-line-height-rule: exactly; line-height: 16px; font-weight: 400;color: #ffffff;">
                                                                                    <a style="text-decoration: none; color: #ffffff;" href="tel:01993700761" title="01993 700761">
                                                                                        <font color="#ffffff" face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                                                            01993&#160;700761
                                                                                        </font>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="5" style="font-size:5px; height:5px; line-height: 5px !important; mso-line-height-rule: exactly;"><img src="https://leisureinsure.blob.core.windows.net/images/Email/spacer.gif" width="15" height="5" alt="" /></td>
                                                                            </tr>
                                                                        </table>
                                                                        <!--CONTACT TABLE END-->
                                                                        <!--CONTACT TABLE START-->
                                                                        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td width="20" align="left" valign="middle" style="line-height: 0 !important;"><img src="https://leisureinsure.blob.core.windows.net/images/Email/icon-email.png" alt="Email" width="20" height="19" border="0" /></td>
                                                                                <td align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 14px; mso-line-height-rule: exactly; line-height: 16px; font-weight: 400;color: #ffffff;">
                                                                                    <a style="text-decoration: none; color: #ffffff;" href="mailto:info@leisureinsure.co.uk" title="info@leisureinsure.co.uk">
                                                                                        <font color="#ffffff" face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                                                            info@leisureinsure.co.uk
                                                                                        </font>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="5" style="font-size:5px; height:5px; line-height: 5px !important; mso-line-height-rule: exactly;"><img src="https://leisureinsure.blob.core.windows.net/images/Email/spacer.gif" width="15" height="5" alt="" /></td>
                                                                            </tr>
                                                                        </table>
                                                                        <!--CONTACT TABLE END-->
                                                                        <!--CONTACT TABLE START-->
                                                                        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td width="20" align="left" valign="middle" style="line-height: 0 !important;"><img src="https://leisureinsure.blob.core.windows.net/images/Email/icon-web.png" alt="Email" width="20" height="19" border="0" /></td>
                                                                                <td align="left" valign="top" style="font-family: Arial, sans-serif; font-size: 14px; mso-line-height-rule: exactly; line-height: 16px; font-weight: 400;color: #ffffff;">
                                                                                    <a style="text-decoration: none; color: #ffffff;" href="http://www.leisureinsure.co.uk/" title="www.leisureinsure.co.uk">
                                                                                        <font color="#ffffff" face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                                                            www.leisureinsure.co.uk
                                                                                        </font>
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td height="10" style="font-size:10px; height:10px; line-height: 10px !important; mso-line-height-rule: exactly;"><img src="https://leisureinsure.blob.core.windows.net/images/Email/spacer.gif" width="15" height="10" alt="" /></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="3" align="left" valign="top">
                                                                                    <!--SOCIAL ICON TABLE START-->
                                                                                    <table width="80" align="left" border="0" cellspacing="0" cellpadding="0">
                                                                                        <tr>
                                                                                            <td align="left" valign="top" width="40">
                                                                                                <a href="https://www.facebook.com/Leisureinsure-277911396792/timeline/" title="Facebook" target="_blank">
                                                                                                    <img src="https://leisureinsure.blob.core.windows.net/images/Email/facebook.png" alt="Facebook" width="40" height="40" border="0" />
                                                                                                </a>
                                                                                            </td>
                                                                                            <td align="left" valign="top" width="40">
                                                                                                <a href="https://twitter.com/leisureinsure" title="Twitter" target="_blank">
                                                                                                    <img src="https://leisureinsure.blob.core.windows.net/images/Email/twitter.png" alt="Twitter" width="40" height="40" border="0" />
                                                                                                </a>
                                                                                            </td>
                                                                                        </tr>
                                                                                    </table>
                                                                                    <!--SOCIAL ICON TABLE END-->
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="3" height="20" style="font-size:20px; height:20px; line-height: 20px !important; mso-line-height-rule: exactly;"><img src="https://leisureinsure.blob.core.windows.net/images/Email/spacer.gif" width="15" height="20" alt="" /></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td colspan="3" height="1" bgcolor="#a4cfef" align="center" valign="top" style="font-size:1px; height:1px; line-height: 1px !important; mso-line-height-rule: exactly;"><img src="https://leisureinsure.blob.core.windows.net/images/Email/spacer.gif" width="5" height="1" alt="" /></td>
                                                                            </tr>
                                                                        </table>
                                                                        <!--CONTACT TABLE END-->
                                                                    </td>
                                                                </tr>
                                                                <tr>
                                                                    <td align="center" >
                                                                        <table width="480">
                                                                            <tr>
                                                                                <td>
                                                                                    <a href="https://uk.trustpilot.com/review/www.leisureinsure.co.uk">
                                                                                        <img src="https://leisureinsure.blob.core.windows.net/images/Email/TrustPilotLogo.png" />
                                                                                    </a>
                                                                                </td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td>
                                                                                    <a href="https://uk.trustpilot.com/review/www.leisureinsure.co.uk">
                                                                                        <img src="@Model.TrustPilotStarLink" />

                                                                                    </a>
                                                                                </td>
                                                                                <td>
                                                                                    <a href="https://uk.trustpilot.com/review/www.leisureinsure.co.uk">
                                                                                        <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                                                            <p style="color: #ffffff; font-size: larger; font-weight: bold;">@Model.TrustPilotDescription</p>
                                                                                        </font>
</a>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>

                                                                <tr>
                                                                    <td align="left" valign="top" style="padding:0px 20px;">
                                                                        <table width="100%" align="center" border="0" cellspacing="0" cellpadding="0">
                                                                            <tr>
                                                                                <td height="1" bgcolor="#a4cfef" align="center" valign="top" style="font-size:1px; height:1px; line-height: 1px !important; mso-line-height-rule: exactly;"><img src="spacer.gif" width="5" height="1" alt="" /></td>
                                                                            </tr>
                                                                            <tr>
                                                                                <td align="left" valign="top" style="padding:20px; font-family: 'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 8px; mso-line-height-rule: exactly; line-height: 10px; color: #ffffff;">
                                                                                    <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                                                        Leisureinsure LLP is Authorised and Regulated by the Financial Conduct Authority no 430849.This can be checked on the FCA's Register by visiting the FCA's website or by contacting the FCA on 0845 606 1234.
                                                                                        The Information contained in or attached to this email is intended only for the use of the individual or entity to which it is addressed.
                                                                                        If you are not the intended recipient, or a person responsible for delivering it to the intended recipient, you are not authorised to and must not disclose, copy, distribute, or retain this message or any part of it.
                                                                                        It may contain information that is confidential and/or covered by legal, professional or other privilege (or other rules or laws with similar effect in jurisdictions outside England and Wales).
                                                                                        Thank you for your compliance. Any opinions expressed in this email are those of the individual and not the&#160;Firm.
                                                                                    </font>
                                                                                </td>
                                                                            </tr>
                                                                        </table>
                                                                    </td>
                                                                </tr>

                                                            </table>
                                                            <!--INNER FOOTER TABLE END-->
                                                        </td>
                                                    </table>
                                                </td>
                                            </tr>
                                        </table>

                                        <!--INNER BODY TABLE END-->
                                    </td>
                                </tr>

                            </table>
                            <!--BODY TABLE START-->
                        </td>
                    </tr>
                </table>
                <!--LAYOUT TABLE END-->
            </td>
        </tr>
    </table>
    <!--MASTER TABLE END-->


</body>
</html>