﻿@inherits RazorEngine.Templating.TemplateBase<ItOps.Endpoint.ViewModels.QuoteVm>
@using System.Net.Configuration
@using System.Runtime.InteropServices
@using ItOps.Endpoint.Services
@{
Layout = Template.Layout;
}



<table style="width: 100%; font-family: sans-serif;">

    <tr><td colspan="2"><p>Your LeisureInsure quote has been updated</p></td></tr>
    

    <tr>
        <td colspan="2">
            <table align="left" class="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td align="center" valign="top" style="border: 1px solid #0750a4; border-radius: 8px; overflow: hidden; background-color:#0750a4;">
                        <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td height="12" style="height: 12px; line-height:12px;"></td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding: 0 24px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; mso-line-height-rule: exactly; line-height: 16px; font-weight: bold;color: #ffffff;">
                                    <span style="color: #ffffff;">
                                        <a style="text-decoration: none; color: #ffffff;" href="@Model.BuyLink" target="_blank" title="BUY NOW">
                                            <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                GET QUOTE
                                            </font>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td height="12" style="height: 12px; line-height:12px;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
</table>
