﻿@inherits RazorEngine.Templating.TemplateBase<ItOps.Endpoint.ViewModels.QuoteVm>
@using System.Net.Configuration
@using System.Runtime.InteropServices
@using ItOps.Endpoint.Services
@{
    Layout = Template.Layout;
}



<table style="width: 100%; font-family: sans-serif;">
    <tr>
        <td colspan="2">
            <p>Thank you for taking the time to obtain a quotation from our website. The total price quoted (including all taxes and fee, where applicable), based on the information you provided, is @Model.Currency@Model.Quote.Total.ToString("F")</p></td>
    </tr>
    <tr><td colspan="2">
        <p>If you wish to view your quote in more detail please click on the 'View Quote" link, which will take you to your quote on our website.</p>
        </td>
    </tr>

    <tr><td colspan="2"><p>If you have any queries, please feel free to contact us. Or if you receive a better quote from elsewhere, please let us know - we would welcome the opportunity to compare the cover on each quote in detail for you and / or may be able to beat your lowest price.</p></td></tr>
    <tr><td colspan="2"><p>Regards,</p></td></tr>
    <tr><td colspan="2"><p>Leisureinsure LLP</p></td></tr>


    <tr><td colspan="2"></td></tr>   

    <tr></tr>
    <tr>
        <td colspan="2">
            <table align="left" class="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td align="center" valign="top" style="border: 1px solid #0750a4; border-radius: 8px; overflow: hidden; background-color:#0750a4;">
                        <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td height="12" style="height: 12px; line-height:12px;"></td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding: 0 24px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; mso-line-height-rule: exactly; line-height: 16px; font-weight: bold;color: #ffffff;">
                                    <span style="color: #ffffff;">
                                        <a style="text-decoration: none; color: #ffffff;" href="@Model.QuoteLink" target="_blank" title="BUY NOW">
                                            <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                View Quote
                                            </font>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding: 0 24px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; mso-line-height-rule: exactly; line-height: 16px; font-weight: bold;color: #ffffff;">
                                    <span style="color: #ffffff;">
                                        <a style="text-decoration: none; color: #ffffff;" href="@Model.BuyLink" target="_blank" title="BUY NOW">
                                            <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                Proceed to Purchase
                                            </font>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td height="12" style="height: 12px; line-height:12px;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

</table>








