﻿@inherits RazorEngine.Templating.TemplateBase<ItOps.Endpoint.ViewModels.NewBusinessVm>
@using System.Net.Configuration
@using System.Runtime.InteropServices
@using ItOps.Endpoint.Services
@{
    Layout = Template.Layout;
}



<table style="width: 100%; font-family: sans-serif;">

    <tr><td colspan="2"><p>Dear @Model.Name</p></td></tr>
    <tr><td colspan="2">Your policy number is: @Model.QuoteReference</td></tr>

    <tr>
        <td colspan="2">
            Thank you for your instructions. We take pleasure in enclosing Schedule of Insurance, and all other relevant documentation. The Terms, Conditions and Exclusions are exactly as per the quotation, but it is worth reiterating the importance of reading through these again to make sure the Insured is complaint, as failure to comply will invalidate the policy.
        </td>
    </tr>
    <tr><td colspan="2">Please note that payment for this policy is required within 30 days from today. Regardless of whether you collect any money from the Insured, your brokerage is liable for payment of all premiums, fees and taxes, in full.</td></tr>
    <tr>
        <td colspan="2">
            May we take this opportunity to thank you for your business. If you have any queries, please feel free to contact us.
        </td>
    </tr>
    <tr>
        <td colspan="2">
            Regards,
        </td>
    </tr>
    <tr><td colspan="2">Leisureinsure LLP</td></tr>



    <tr><td colspan="2"><p>Here are your terms of business: <a href="@Model.TermsOfBusiness">Download</a></p></td></tr>
    <tr><td colspan="2"><p>Here is your certificate: <a href="@Model.CertificateLink">Download</a></p></td></tr>

    @if (Model.PolicyType != "E")
    {
        if (Model.PolicyId != 27)
        {
            <tr><td colspan="2"><p>Here is your policy summary: <a href="@Model.PolicySummary">Download</a></p></td></tr>
        }
    }

    <tr><td colspan="2"><p>Here is your policy wording: <a href="@Model.PolicyWording">Download</a></p></td></tr>

</table>








