﻿
<div class="panel panel-sea">
    <div class="panel-heading">
        <h2>Administration Menu</h2>
    </div>
    <div class="panel-body">
        <ul class="plain">
            <li><a href="/admin/renewal">Quoting Engine</a></li>
            <!--<li><a href="/admin/quoteengine">Manual Quote</a></li>-->
            <li><a href="/admin/ratechecker">Rate Checker</a></li>
            <li><a href="/admin/underwriter">Underwriter Menu</a></li>
            <li><a href="/admin/landingpages">Landing Pages</a></li>
            <li><a href="/admin/broker/add">Add a Broker</a></li>
            <li><a href="/admin/underwriter/add">Add an Underwriter</a></li>
            <li><a href="/admin/underwriter/quotes/search">Find a quote</a></li>
            <li><a href="/admin/broker/review">Update broker details</a></li>            
            <li><a href="/admin/weberror">Web Errors</a></li>
            <li><a href="/admin/failedTAM">Failed TAM</a></li>
            <li><a href="/pdf/GetInstallments" target="_self">Download Installments</a></li>
            <!--<li><button class="btn-u btn-u-dark-blue" ng-click="menu.testSSIS()">test SSIS</button></li>-->

        </ul>
    </div>
</div>


