﻿

<div class="panel panel-default">
    <div class="panel-heading">
        <h1>Call Me Back</h1>
    </div>

    <div class="panel-body">
        <div class="col-sm-8">
            <div data-ng-hide="contact.thankYouVisible">
                <form class="form-horizontal" name="form" data-ng-submit="contact.callback(form.$valid)" novalidate>
                    <div class="form-group">
                        <label class="control-label col-sm-3" for="name">Name</label>
                        <div class="col-sm-9">
                            <input id="name" name="name" type="text" data-ng-model="contact.name" required data-ng-required="true" class="form-control">
                            <p ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">Please enter your name.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="phone">Phone</label>
                        <div class="col-sm-9">
                            <input id="phone" name="phone" type="text" data-ng-model="contact.phone" required class="form-control">
                            <p ng-show="form.phone.$invalid && !form.phone.$pristine" class="help-block">Please enter your phone number for us to call you back on.</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label col-sm-3" for="message">Message (optional)</label>
                        <div class="col-sm-9">
                            <textarea id="message" data-ng-model="contact.message" rows="4" cols="20" class="form-control"></textarea>
                        </div>
                    </div>

                    <div class="col-sm-offset-6">
                        <input type="submit" class="btn btn-success"  data-ng-disabled="contact.buttonsDisabled || form.$invalid" value="Request Callback">
                    </div>
                </form>
            </div>

            <div data-ng-show="contact.thankYouVisible">
                <p>Thank you, one of our team will be in touch shortly</p>
            </div>
        </div>
    </div>
</div>

