﻿<div class="contact-us">
    <div class="col-md-6 col-xs-12 contact-section contact-section-address">
        <div><h2 class="text-center">Get in Touch</h2></div>
        <div class="row">

            <ul class="list-unstyled">
                <li class="row">
                    <div class="col-xs-4 contact-section-label">
                        <i class="fa fa-map-marker"></i>&nbsp;Address
                    </div>
                    <div class="col-xs-8">
                        <address>
                            <p>Leisureinsure LLP</p>
                            <p>Network Point</p>
                            <p>Range Road</p>
                            <p>Witney</p>
                            <p>OX29 0YN</p>
                        </address>
                    </div>
                </li>
                <li class="row">
                    <div class="col-xs-4 contact-section-label">
                        <i class="fa fa-phone"></i>&nbsp;Telephone
                    </div>
                    <div class="col-xs-8">
                        01993 700761 (9.00 a.m. to 5.00 p.m.)
                    </div>
                </li>

                <li class="row">
                    <div class="col-xs-4 contact-section-label">
                        <i class="fa fa-fax"></i>&nbsp;Fax
                    </div>
                    <div class="col-xs-8">
                        0870 766 8392
                    </div>
                </li>

                <li class="row">
                    <div class="col-xs-4 contact-section-label">
                        <i class="fa fa-envelope"></i>&nbsp;Email
                    </div>
                    <div class="col-xs-8">
                        <a href="mailto:info@leisureinsure.co.uk">info@leisureinsure.co.uk</a>
                    </div>
                </li>
            </ul>
        </div>
    </div>

    <div class="col-md-6 col-xs-12 contact-section contact-section-contact-us">
        <div><h2 class="form-heading text-center">Send us a message</h2></div>
        <form class="form-horizontal" name="form" data-ng-submit="contact.submitMessage(form.$valid)" novalidate>
            <div class="form-group">
                <label class="control-label col-sm-3" for="name">Name</label>
                <div class="col-sm-9">
                    <input id="name" type="text" maxlength="50" data-ng-model="contact.name" data-ng-required="true" class="form-control">
                    <p ng-show="form.name.$invalid && !form.name.$pristine" class="help-block">Please enter your name.</p>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="company">Company</label>
                <div class="col-sm-9">
                    <input id="company" type="text" data-ng-model="contact.company" maxlength="50" class="form-control">
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="phone">Phone</label>
                <div class="col-sm-9">
                    <input id="phone" name="phone" type="text" data-ng-model="contact.phone" data-ng-required="!(contact.phone.length || contact.email.length) && (form.phone.$dirty || form.email.$dirty)" maxlength="50" class="form-control">
                    <div ng-messages="form.phone.$error">
                        <p ng-message="required">Please supply a telephone number or an email address</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="email">Email</label>
                <div class="col-sm-9">
                    <input id="email" type="email" name="email" data-ng-model="contact.email" data-ng-required="!(contact.phone.length || contact.email.length) && (form.phone.$dirty || form.email.$dirty)" maxlength="50" class="form-control">
                    <div ng-messages="form.email.$error">
                        <p ng-message="required">Please supply a telephone number or an email address</p>
                        <p ng-message="email">Please use the format 'someone@domain.com' for your email address</p>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-sm-3" for="message">Message</label>
                <div class="col-sm-9">
                    <textarea id="message" data-ng-model="contact.message" required="" rows="4" cols="20" class="form-control"></textarea>
                </div>
            </div>
            <div class="form-group">
                <label for="find-us" class="control-label col-sm-4">How did you find us?</label>
                <div class="col-sm-8">
                    <select id="find-us" class="form-control" data-ng-model="contact.marketing">
                        <option value="Advert">Advert</option>
                        <option value="Association">Association</option>
                        <option value="Broker">Broker</option>
                        <option value="Friend">Friend</option>
                        <option value="Google">Google</option>
                        <option value="Search Engine">Search Engine</option>
                        <option value="Other">Other</option>
                    </select>
                </div>
            </div>

            <div class="col-sm-offset-6 footer">
                <input type="submit" class="btn btn-success" data-ng-disabled="contact.buttonsDisabled" value="Send">
            </div>
        </form>
    </div>
</div>

