﻿
<div class="faq">
    <h1>Frequently Asked Questions</h1>
    

    <div class="acc-v1 margin-bottom-40 row" id="accordion">
        <div class="center-block">
            <div class="faqtext">
                <uib-accordion close-others="false">
                    <div uib-accordion-group heading="What is a limit of indemnity?" template-url="/App/StaticPages/accordion-group.html">
                        <p>This is the maximum amount Insurers will pay for an incident which results in a claim or claims being made against you. So, if you had a Public Liability limit of indemnity of £5m, that is the maximum amount your insurers will pay in the event of a valid claim. If a court awards a claimant more than that, you may be liable for the difference.</p>
                    </div>

                    <div uib-accordion-group heading="What level of Public Liability Cover should I buy?" template-url="/App/StaticPages/accordion-group.html">
                        This is really your decision. It might be worth speaking with your local council, a trade body, or the venue where you intend to operate, to see if they have a minimum requirement / suggestion. The higher the limit of indemnity you buy, the safer your personal assets are.
                        We offer £500,000, £1m, £2m, £5m and £10m. And can increase limits per day if required. For example, if you bought a policy with a £2m limit, we could increase that to say, £10m for one day for a small additional charge.
                    </div>

                    <div uib-accordion-group heading="What is Employers’ Liability Cover?" template-url="/App/StaticPages/accordion-group.html">
                        Employers’ liability insurance covers the cost of compensating employees who are injured at or become ill through work.
                    </div>

                    <div uib-accordion-group heading="Do I need Employers’ Liability Cover?" template-url="/App/StaticPages/accordion-group.html">
                        <p>
                            If you are an employer you are legally obliged to have employers’ liability insurance. You can be fined up to £2,500 for every day you do not have appropriate insurance. It matters not whether your employees are paid, voluntary / unpaid.
                            Some businesses are not required to have employers’ liability insurance, including:
                            <ul>
                                <li>companies with no employees</li>
                                <li>family businesses that employ only family members</li>
                            </ul>
                            To check if your business is exempt from employers’ liability insurance see the Health and Safety Executive (HSE) website.
                        </p>
                    </div>

                    <div uib-accordion-group heading="What’s the difference between ‘New for Old’ and ‘Indemnity’ with regards to Fire, Theft and Damage Cover?" template-url="/App/StaticPages/accordion-group.html">
                        <p>
                            New for Old’ cover is where insurers agree to pay the cost of loss or damage to property without deduction for depreciation /wear and tear.
                        </p>
                        <p>
                            ‘Indemnity’ cover generally only covers you for repairs to damaged items or reimburses you with the value of the product at that moment in time. This means that the insurer will take into account the age of the product, and any depreciation and deduct this from the amount you receive. So the value of that item at that point is what you will get back.
                        </p>
                    </div>

                    <div uib-accordion-group heading="When I’m insuring my property against Fire, Theft & Damage, is my property insured on a ‘New for Old’ basis?" template-url="/App/StaticPages/accordion-group.html">
                        <p>
                            Yes, provided the insured value meets the cost of the new item, or the cost of reinstatement.
                        </p>
                    </div>

                    <div uib-accordion-group heading="I need more cover than is available on your website. Does that mean you cannot help me?" template-url="/App/StaticPages/accordion-group.html">
                        <p>
                            It’s highly likely we can still help you. Please give our office a call as one of our underwriters will be happy to discuss your needs in more detail: 01993 700761.
                        </p>
                    </div>

                    <div uib-accordion-group heading="I cannot comply with some of your terms and conditions. Is there anything we can do about that?" template-url="/App/StaticPages/accordion-group.html">
                        <p>
                            Absolutely, our terms and conditions are not set in stone! Please contact us so that we can see if we can tailor the terms of your policy to suit your demands and needs.
                        </p>
                    </div>

                    <div uib-accordion-group heading="What is an excess?" template-url="/App/StaticPages/accordion-group.html">
                        <p>
                            This is the amount you (the policyholder) pays in the event of a claim. On most of our products you have the option to increase or reduce your excess. Increasing your excess will reduce your premium and vice versa.
                        </p>
                        <p>
                            Some of our policies also have an ‘excess waiver’ option. This means that for a small surcharge you can remove the possibility of you having to pay an excess on your first claim.
                        </p>
                    </div>

                    <div uib-accordion-group heading="How does the 2-year agreement work?" template-url="/App/StaticPages/accordion-group.html">
                        <p>
                            On some of our annual policies we offer a 2-year agreement condition. Very basically, this means that we will discount your premium on year 1, and agree to insure you for Year 2, for exactly the same discounted price you paid for the first year. In return you are duty bound to insure with us for the second year.
                        </p>
                        <p>
                            In cases where we offer this, we always provide you with full written details of this offer prior to you purchasing cover.
                        </p>
                    </div>

                    <div uib-accordion-group heading="I have taken out Event insurance with you. When does my policy start? " template-url="/App/StaticPages/accordion-group.html">
                        <p>
                            There are two areas to consider here:
                        </p>
                        <p>
                            Whether you are an Event organiser:
                        </p>
                        <p>
                            If you are an event organiser your policy starts the day you pay for it. By means of example, if you are organising an event for the 1st week of August and you pay for it on 1st March, your policy will start on the 1st of March. This is so the policy covers you for the activities involved in the planning of the event too, not just the event itself.
                        </p>
                        <p>
                            Whether your Event insurance includes Cancellation cover:
                        </p>
                        <p>
                            If your Event insurance policy with us includes cancellation cover, your policy starts the day you pay for it.
                        </p>
                    </div>

                    <div uib-accordion-group heading="Do you offer a ‘cooling off’ period? " template-url="/App/StaticPages/accordion-group.html">
                        <p>
                            Yes, all annual policies sold on this website have a cooling off period of 14 days. The ‘cooling off’ period begins either;

                            <ol>
                                <li>from the day of the conclusion of the contract; or</li>
                                <li>from the day on which you receive the contractual conditions and pre-contractual information</li>
                            </ol>

                            Policies of one-month duration or less are non-transferable and non-refundable
                        </p>
                    </div>

                    <div uib-accordion-group heading="What happens if I change my mind within the ‘cooling off’ period and I wish to cancel the insurance?" template-url="/App/StaticPages/accordion-group.html">
                        <p>
                            As we offer specialist insurance policies we're confident that they will meet your needs. If, however, you’re not completely satisfied with our insurance, you need to notify us in writing or by phone that you wish to cancel it. We will cancel the policy and your insurers will give you a full refund of your premium, providing you haven't claimed during this period. We (Leisureinsure) may charge an administration fee for this, but in every instance, will advise you of any potential fee applicable before you pay us anything.
                        </p>
                    </div>

                    <div uib-accordion-group heading="What happens if I wish to cancel after the ‘cooling off period’." template-url="/App/StaticPages/accordion-group.html">
                        <p>
                            Generally, you have the right to cancel this policy after the 14 day ‘cooling off’ period provided you have not made a claim, or notified us of a claim or potential claim. In that instance your insurer will charge you a proportional daily premium depending on how long the policy has been in force. We (Leisureinsure) may charge an administration fee for this, but in every instance, will advise you of any potential fee applicable before you pay us anything.
                        </p>
                        <p>
                            Please note that there are exceptions to Insurers charging proportional daily rates of premium:
                        </p>
                        <ul>
                            <li>
                                <p>
                                    <strong>Where you have made a claim </strong>
                                </p>
                                <p>
                                    If you have made a claim, or notified us of a claim or potential claim, no refund will be given.
                                </p>
                            </li>
                            <li>
                                <p>
                                    <strong>If your business activity or Event carries an uneven exposure</strong>
                                </p>
                                <p>
                                    In this instance, instead of being charged a premium for the number of days your policy has been in force, a premium will be charged based on the proportion of risk Insurers deem to have been exposed to. Some examples include;

                                    <ul>
                                        <li>A Bouncy Castle hire company will have more exposure during the summer than the winter</li>
                                        <li>Cancellation cover for an Event (e.g. Wedding) will carry more exposure in the build up to the Event than on the actual day</li>
                                        <li>A policy covering a Santa’s Grotto will have more exposure in December than the rest of the year</li>
                                        <li>School holiday football coaching will carry more exposure in August than any other month</li>
                                    </ul>

                                    In cases of uneven exposure, we will calculate the proportionate premium based on factors relevant to your particular policy, and business activity.

                                </p>
                            </li>
                        </ul>
                    </div>

                </uib-accordion>
            </div>
        </div>

    </div>
</div>


