﻿
<div class="panel panel-sea" >
    <div class="panel-heading">
        <h2>Please Login</h2>
    </div>
    <div class="panel-body form-horizontal">
        <div class="passwordtext">
            <p class="validation-summary-errors lead" data-ng-show="loginController.errorMessage">{{loginController.errorMessage}}</p>
        </div>
        <div  class="form-horizontal">
            <div class="form-group">
                <label class="control-label col-md-offset-1 col-md-4">Username</label>
                <div class="col-md-6">
                    <input class="form-control" type="text" data-ng-model="loginController.username" />
                </div>
            </div>
            <div class="form-group">
                <label class="control-label col-md-offset-1 col-md-4">Password</label>
                <div class="col-md-6">
                    <input class="form-control" type="password" data-ng-model="loginController.password" />
                </div>
            </div>

            <div class="modal-footer">
                <div class="col-xs-6 col-xs-offset-3"><a class="text-left" href="/account/forgotten-password" ng-click="modal.cancel()">forgot your password?</a></div>
                
                <div class="col-xs-3 "><submit class="btn btn-primary btn-default" type="button" ng-click="loginController.login()">Login</submit></div>
            </div>
        </div>
    </div>
</div>