﻿<h4 style="text-align: center; width: 100%;"><span style="color: rgb(15, 68, 150); font-weight: bolder;"><u>{{navigation.covers.coverSelected[0].coverName}} Cover</u></span></h4>
<p>Despite your best efforts to protect third parties whilst running your business, accidents do happen. This cover is there to protect you against injury or damage to third parties.</p>
<p>It also includes, at no additional cost:</p>
<label>Cover Includes:</label>
<ul class="custom-bullet">
    <li>Products Liability: Cover for injury or damage to third parties sustained by products you have supplied</li>
    <li>Defence costs and expenses</li>
</ul>
<p>You can choose which limit of indemnity you require, up to £10m, and there is an option for a nil excess too.</p>

<h4 style="text-align: center; width: 100%;"><span style="color: rgb(15, 68, 150); font-weight: bolder;"><u>Optional Material Damage Cover</u></span></h4>
<p>We understand that your property is essential for running your business. Therefore, you can choose this cover as an optional extra to protect your property against certain perils. For example;</p>
<ul class="custom-bullet">
    <li>Fire</li>
    <li>Theft</li>
    <li>Flood</li>
    <li>Malicious damage</li>
    <li>Subsidence</li>
</ul>