﻿
<div class="panel-body">
    <br />

    <form id="rateForm"
          name="rateForm"
          novalidate
          ng-submit="DetailsController.submitDetailsForm(detailForm,detailForm.$valid);"
          class="form-horizontal quoteform"
          role="form">

        <div class="col-md-12 container-fluid frmInputs">
            <div class="coverQuestion">
                <h3>Manage Indemnity, Premiums, Rates, Excess, Fees</h3>
                <hr />
                <br />
            </div>

            <div class="form-group" ng-class="{ 'has-error' : (rateForm.$submitted) && rateForm.policySelect.$invalid }">
                <label class="control-label col-sm-2">Select a Policy</label>
                <div class="col-sm-4">
                    <select class="form-control"
                            data-ng-model="RateCheckerController.selectedPolicy"
                            required
                            ng-options="policy.policyName for policy in RateCheckerController.policies track by policy.id"
                            name="policySelect"
                            data-ng-change="RateCheckerController.test()"></select>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : (rateForm.$submitted) && rateForm.coverSelect.$invalid }">
                <label class="control-label col-sm-2">Select a Cover</label>
                <div class="col-sm-4">
                    <select class="form-control"
                            data-ng-model="RateCheckerController.selectedCover"
                            required
                            ng-options="cover.coverName for cover in RateCheckerController.selectedPolicy.covers track by cover.id"
                            name="coverSelect"
                            data-ng-change="RateCheckerController.test()"></select>
                </div>
            </div>

            <div class="form-group" ng-class="{ 'has-error' : (rateForm.$submitted) && rateForm.rateSelect.$invalid }">
                <label class="control-label col-sm-2">Select a Rate</label>
                <div class="col-sm-4">
                    <select class="form-control"
                            data-ng-model="RateCheckerController.selectedRate"
                            required
                            ng-options="rate.rateName for rate in RateCheckerController.selectedCover.rates track by rate.id"
                            name="rateSelect"
                            data-ng-change="RateCheckerController.test()"></select>
                </div>
            </div>
            <div class="coverQuestion">
                <h3>Rate Details</h3>
                <hr />
            </div>

            <div class="form-group" ng-class="{ 'has-error' : (rateForm.$submitted) && rateForm.rateSelect.$invalid }">

                <div class="rateUpdate">
                    <div class="col-sm-12">
                        <label class="control-label">Rate</label>
                        <input type="text" ng-model="RateCheckerController.selectedRate.rate" />
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Rate DivBy (100 is a %)</label>
                        <input type="text" ng-model="RateCheckerController.selectedRate.divBy" />
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">First Rate</label>
                        <input type="text" ng-model="RateCheckerController.selectedRate.firstRate" />
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Discount First Rate</label>
                        <input type="text" ng-model="RateCheckerController.selectedRate.discountFirstRate" />
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Discount Subsequent Rate</label>
                        <input type="text" ng-model="RateCheckerController.selectedRate.discountSubsequentRate" />
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Indemnity</label>
                        <input type="text" ng-model="RateCheckerController.selectedRate.indemnity" />
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Excess</label>
                        <input type="text" ng-model="RateCheckerController.selectedRate.excess" />
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Minimum Rate</label>
                        <input type="text" ng-model="RateCheckerController.selectedRate.minimumRate" />
                    </div>
                    <div class="col-sm-12">
                        <input type="button" class="btn-success" value="Update Rate" ng-click="RateCheckerController.updateRate()" />
                    </div>
                    <br />
                    <div class="col-sm-12 help-block errorText" ng-show="RateCheckerController.updated">
                        <label> {{RateCheckerController.updatedRate}} has been updated</label>
                    </div>
                    <div ng-if="RateCheckerController.rateMessage != ''">
                        <p style="color:red">{{RateCheckerController.rateMessage}}</p>
                    </div>
                </div>
            </div>

            <div class="coverQuestion">
                <h3>Manage Locales</h3>
                <hr />
                <br />
            </div>

            <div class="form-group" ng-class="{ 'has-error' : (rateForm.$submitted) && rateForm.localeSelect.$invalid }">
                <label class="control-label col-sm-2">Select a Locale</label>
                <div class="col-sm-4">
                    <select class="form-control"
                            data-ng-model="RateCheckerController.selectedLocale"
                            required
                            ng-options="locale.country for locale in RateCheckerController.locales track by locale.localePK"
                            name="localeSelect"></select>
                </div>

            </div>

            <div class="form-group">
                <div class="rateUpdate">
                    <div class="col-sm-12">
                        <label class="control-label">Multiplier</label>
                        <input type="text" ng-model="RateCheckerController.selectedLocale.multiplier" />
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Exchange Rate</label>
                        <input type="text" ng-model="RateCheckerController.selectedLocale.exchangeRate" />
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Refer</label>
                        <input type="text" ng-model="RateCheckerController.selectedLocale.localeRefer" />
                    </div>
                    <div class="col-sm-12">
                        <label class="control-label">Tam Agency</label>
                        <input type="text" ng-model="RateCheckerController.selectedLocale.tamAgency" />
                    </div>
                </div>

                <div class="col-sm-12">
                    <input type="button" class="btn-success" value="Update Locale" ng-click="RateCheckerController.updateLocale()" />
                </div>

                <div class="col-sm-12 help-block errorText" ng-show="RateCheckerController.updatedLocale">
                    <label> {{RateCheckerController.updatedLocaleName}} has been updated</label>
                </div>

                <div ng-if="RateCheckerController.localeMessage != ''">
                    <p style="color:red">{{RateCheckerController.localeMessage}}</p>
                </div>
            </div>            
        </div>

        <input type="button" value="Debug" ng-click="RateCheckerController.Debug();" />
    </form>
</div>


