﻿<div class="panel panel-sea">
    <div class="panel-heading">
        <h2>Broker Menu</h2>
    </div>
    <div class="panel-body">
        <ul class="plain">
            <li><a href="/brokerQuotes">View saved quotes</a></li>
            <li><a href="/brokerDetails">Amend broker details</a></li>
        </ul>
    </div>
</div>
