﻿<fieldset disabled>
    <div class="panel panel-sea adminEditQuote">
        <div class="panel-heading">
            <h2>Edit Policy - QuoteReference: {{brokerPortalController.quote.quoteReference}}</h2>
        </div>
        <div class="panel-body">

            <table class="table table-condensed table-striped">
                <tr class="headerSection">
                    <td colspan="12">
                        <h3>Quote Details</h3>
                    </td>
                </tr>
                <tr>
                    <td colspan="1"><label class="form-control">Broker:{{brokerPortalController.quote.brokerName}}</label></td>

                    <td colspan="1">
                        <label class="form-control">Policy:{{brokerPortalController.selectedPolicy.name}}</label>
                    </td>
                    <td colspan="1"><label class="form-control">Email:</label></td>
                    <td colspan="9"><input class="form-control" type="email" ng-model="brokerPortalController.quote.contactEmail" /></td>

                </tr>

                <tr>
                    <td colspan="1"><label class="form-control">Occupation</label></td>
                    <td colspan="11"><input class="form-control" type="text" ng-model="brokerPortalController.quote.businessDescription" /></td>
                </tr>

                <tr>
                    <td colspan="1">
                        <label class="form-control">From: {{brokerPortalController.quote.dateFrom | date:'dd/MM/yyyy'}}</label>
                    </td>
                    <td colspan="1">
                        <label class="form-control">To: {{brokerPortalController.quote.dateTo | date:'dd/MM/yyyy'}}</label>
                    </td>
                    <td colspan="10"></td>
                </tr>
                <tr ng-if="quote.customer != null">
                    <td colspan="1"><label class="form-control">Customer</label></td>
                    <td colspan="2"><input class="form-control" type="text" ng-model="brokerPortalController.quote.customer.entityName" /></td>
                    <td colspan="9"></td>

                </tr>
                <tr ng-if="quote.customer == null">
                    <td colspan="1"><label class="form-control">Add Customer Details</label></td>
                    <td colspan="11"></td>
                </tr>
            </table>

        </div>
    </div>
    <div class="panel panel-dark-blue" data-ng-if="brokerPortalController.quote.documents.length > 0">
        <div class="panel-heading">
            <h2>Charges</h2>
        </div>
        <table class="table table-condensed table-striped">
            <tr ng-repeat="discount in brokerPortalController.quote.discounts">
                <td colspan="1"><label class="form-control">>{{discount.lineDescription}}</label></td>
                <td colspan="1"><input class="form-control" type="number" value="{{discount.price| number:2}}" /></td>
                <td colspan="10"></td>
            </tr>
            <tr>
                <td colspan="1"><label class="form-control">Net Premium</label></td>
                <td colspan="1"><input style="text-align:right" type="number" class="form-control" value="{{brokerPortalController.quote.netPremium| number:2}}" disabled /></td>
                <td colspan="10"></td>
            </tr>
            <tr>
                <td colspan="1"><label class="form-control">Tax ({{brokerPortalController.quote.taxRate *100}}%)</label></td>
                <td colspan="1"><input style="text-align:right" type="number" class="form-control" value="{{brokerPortalController.quote.tax| number:2}}" disabled /></td>
                <td colspan="10"></td>
            </tr>
            <tr data-ng-if="quotes.selectedQuote.legalFeesAdded == 1">
                <td colspan="1"><label class="form-control">Legal Premium (including tax {{quotes.taxRate}}%)</label></td>
                <td colspan="1"><input style="text-align:right;" type="number" class="form-control" value="brokerPortalController.quote.legalFees| number:2" disabled /></td>
                <td colspan="1"><button class="ladda-button btn btn-u btn-u-red" ng-click="quotes.addLegal(quotes.selectedQuote,0)">Delete</button></td>
                <td colspan="9"></td>
            </tr>
            <tr>
                <td colspan="1"><label class="form-control">Fees</label></td>
                <td colspan="1"><input style="text-align:right;" class="form-control" type="number" value="{{brokerPortalController.quote.leisureInsureFees| number:2}}" disabled /></td>
                <td colspan="10"></td>
            </tr>
            <tr>
                <td colspan="1"><label class="form-control">Total</label></td>
                <td colspan="1"><input style="text-align:right" type="number" class="form-control" value="{{brokerPortalController.quote.total| number:2}}" disabled /></td>
                <td colspan="10"></td>
            </tr>
            <tr data-ng-if="brokerPortalController.quote.isAgent == true">
                <td colspan="1"><label class="form-control">Agent Commission ({{brokerPortalController.quote.commissionPercentage}}%)</label></td>
                <td colspan="1"><input style="text-align:right" type="number" class="form-control" value="{{brokerPortalController.quote.commission| number:2}}" disabled /></td>
                <td colspan="10"></td>
            </tr>
            <tr data-ng-if="brokerPortalController.quote.legalFeesAdded == 1">
                <td colspan="1"><label class="form-control">Legal Premium</label></td>
                <td colspan="1"><input style="text-align:right" type="number" class="form-control" value="{{brokerPortalController.quote.legalFees| number:2}}" disabled /></td>
                <td colspan="10"></td>
            </tr>
        </table>
    </div>
    <div class="panel panel-dark-blue" data-ng-if="brokerPortalController.quote.documents.length > 0">
        <div class="panel-heading">
            <h2>Covers and Charges</h2>
        </div>
        <table class="table table-condensed table-striped">
            <tbody>
                <tr>
                <tr>
                    <td colspan="6">Cover</td>
                    <td colspan="1">Indemnity</td>
                    <td colspan="1">Period</td>
                    <td colspan="1">Excess</td>
                    <td colspan="1">Sum Insured</td>
                    <td colspan="1">Net Premium</td>
                    <td colspan="3"></td>
                </tr>
                <tr ng-repeat="section in brokerPortalController.quote.chargeSummaryItems">
                    <td colspan="6"><span ng-if="section.sectionTypeDescription === null">{{section.sectiondescription}}</span><span ng-show="section.sectionTypeDescription !== null">{{section.sectiondescription}} - {{section.sectionTypeDescription}}</span></td>
                    <td colspan="1"><input style="text-align:right" class="form-control" value="{{section.indemnity}}" disabled /></td>
                    <td colspan="1"><input style="text-align:right" type="text" class="form-control" value="{{section.periodOfCover}}" disabled /></td>
                    <td colspan="1"><input style="text-align:right" type="number" class="form-control" value="{{section.excess}}" disabled /></td>
                    <td colspan="1"><input style="text-align:right" type="number" class="form-control" value="{{section.sumInsured| number:2}}" disabled /></td>
                    <td colspan="1"><input style="text-align:right" type="number" class="form-control" value="{{section.net| number:2}}" disabled /></td>
                    <td colspan="3"></td>

                </tr>
            </tbody>
        </table>
    </div>
    <form class="form-horizontal" name="frmCustomer" novalidate>

        <!-- Review your documents -->
        <div class="panel panel-dark-blue" data-ng-if="brokerPortalController.quote.documents.length > 0">
            <div class="panel-heading">
                <h2>Documents you may wish to read</h2>
            </div>
            <div class="panel-body passwordtext">
                <p>Each link opens in a new window</p>
                <ul class="plain" data-ng-repeat="document in brokerPortalController.quote.documents" ng-if="document.documentType != 'Clause' && document.documentType != 'SoF' && document.documentType != 'Terms'">

                    <li data-ng-if="document.description != 'Statement of Fact'"><a href="/Content/CertificateDocuments/{{document.url}}" target="_blank">{{document.description}}</a></li>
                    <li data-ng-if="document.description === 'Statement of Fact'"><a href="/{{document.url}}" target="_blank">{{document.description}}</a></li>
                </ul>
            </div>
        </div>
        <div class="panel panel-dark-blue">
            <div class="panel-heading ">
                <h2>Important documents that you must read</h2>
            </div>
            <div class="panel-body passwordtext">
                <p>Each link opens in a new window</p>
                <ul class="plain" data-ng-repeat="document in brokerPortalController.quote.documents" ng-if="document.documentType == 'Clause' || document.documentType == 'SoF' || document.documentType == 'Terms'">
                    <li data-ng-if="document.description != 'Statement of Fact'"><a href="/Content/CertificateDocuments/{{document.url}}" target="_blank">{{document.description}}</a></li>
                    <li data-ng-if="document.description === 'Statement of Fact'"><a href="/{{document.url}}" target="_blank">{{document.description}}</a></li>
                </ul>
            </div>
        </div>

    </form>
</fieldset>

<div class="panel panel-dark-blue">
    <div class="panel-heading">
        <h2>Complete Customer details</h2>
    </div>
    <div class="panel-body">

        <div>
            <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.contactEmail.$touched || frmCustomer.$submitted) && frmCustomer.contactEmail.$invalid }">
                <label class="control-label col-sm-2" style="color:blue;">Email Information To</label>
                <div class="col-sm-10">
                    <input type="email" name="contactEmail" placeholder="Email that quote information will be sent to" title="Email@.com" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" class="form-control"
                           data-ng-model="brokerPortalController.contactEmail" required />
                    <div ng-show="frmCustomer.$submitted || frmCustomer.contactEmail.$touched">
                        <p ng-show="frmCustomer.contactEmail.$error.required" class="help-block">Email is a required field</p>
                        <p ng-show="frmCustomer.contactEmail.$error.pattern" class="help-block">Email should be in correct format</p>
                    </div>
                </div>
            </div>
            <div data-ng-if="brokerPortalController.chargeSummary.isAgent">

                <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.contactName.$touched || frmCustomer.$submitted) && frmCustomer.contactName.$invalid }">
                    <label class="control-label col-sm-2" style="color:blue;">Contact Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="contactName" placeholder="Contact Name" class="form-control"
                               data-ng-model="brokerPortalController.contactName" required />
                        <div ng-show="frmCustomer.$submitted || frmCustomer.contactName.$touched">
                            <p ng-show="frmCustomer.contactName.$error.required" class="help-block">
                                First Name is a required field
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.insuredEntSelect.$touched || frmCustomer.$submitted) && frmCustomer.insuredEntSelect.$invalid }">
                <label class="control-label col-sm-2">Insured Entity</label>
                <div class="col-sm-10">
                    <select class="form-control"
                            data-ng-model="brokerPortalController.customers[0].entityType"
                            required
                            name="insuredEntSelect"
                            data-ng-change="brokerPortalController.setEntityNamePlaceHolder()">
                        <option value="">Please Select</option>
                        <option value="Customer">The person named below</option>
                        <option value="Company">Limited Company</option>
                        <option value="TradingAs">Trading As</option>
                        <option value="Committee">Committee</option>
                        <option value="Charity">Charity</option>
                    </select>
                    <div ng-show="frmCustomer.$submitted || frmCustomer.insuredEntSelect.$touched">
                        <p ng-show="frmCustomer.insuredEntSelect.$error.required" class="help-block">Insured Entity is a required field</p>
                    </div>
                </div>
            </div>
            <div class="form-group" data-ng-switch="brokerPortalController.customers[0].entityType" data-ng-if="brokerPortalController.customers[0].entityType != 'Customer' && brokerPortalController.customers[0].entityType != null" ng-class="{ 'has-error' : (frmCustomer.entityNameTxt.$touched || frmCustomer.$submitted) && frmCustomer.entityNameTxt.$invalid }">
                <label data-ng-switch-when="Company" class="control-label col-sm-2">Company Name</label>
                <label data-ng-switch-when="TradingAs" class="control-label col-sm-2">Trading As Name</label>
                <label data-ng-switch-when="Committee" class="control-label col-sm-2">Committee Name</label>
                <label data-ng-switch-when="Charity" class="control-label col-sm-2">Charity Name</label>
                <div class="col-sm-10">
                    <input class="form-control" type="text" name="entityNameTxt" ng-required="true" data-ng-model="brokerPortalController.customers[0].entityName" placeholder="{{brokerPortalController.entityNamePlaceHolder}}">
                    <div ng-show="frmCustomer.$submitted || frmCustomer.entityNameTxt.$touched">
                        <p ng-show="frmCustomer.entityNameTxt.$error.required" class="help-block">This is a required field</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="custHeader">
            <div class="custData">
                <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.firstNameTxt.$touched || frmCustomer.$submitted) && frmCustomer.firstNameTxt.$invalid }">
                    <label class="control-label col-sm-2">First Name</label>
                    <div class="col-sm-10">
                        <input type="text" name="firstNameTxt" placeholder="First Name" class="form-control"
                               data-ng-model="brokerPortalController.customers[0].firstName" required />
                        <div ng-show="frmCustomer.$submitted || frmCustomer.firstNameTxt.$touched">
                            <p ng-show="frmCustomer.firstNameTxt.$error.required" class="help-block">
                                First Name is a required field
                            </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.lastNameTxt.$touched || frmCustomer.$submitted) && frmCustomer.lastNameTxt.$invalid }">
                <label class="control-label col-sm-2">Last Name</label>
                <div class="col-sm-10">
                    <input type="text" name="lastNameTxt" class="form-control" placeholder="Last Name"
                           data-ng-model="brokerPortalController.customers[0].lastName" required />
                    <div ng-show="frmCustomer.$submitted || frmCustomer.lastNameTxt.$touched">
                        <p ng-show="frmCustomer.lastNameTxt.$error.required" class="help-block">Last Name is a required field</p>
                    </div>
                </div>
            </div>
            <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.telephoneTxt.$touched || frmCustomer.$submitted) && frmCustomer.telephoneTxt.$invalid }">
                <label class="control-label col-sm-2">Telephone</label>
                <div class="col-sm-10">
                    <input type="text" name="telephoneTxt" placeholder="Telephone" title="Area code + Phone Number" class="form-control"
                           data-ng-model="brokerPortalController.customers[0].telephone" required pattern="^([0-9][ -]*){5,23}[^a-z]$" />
                    <div ng-show="frmCustomer.$submitted || frmCustomer.telephoneTxt.$touched">
                        <p ng-show="frmCustomer.telephoneTxt.$error.required" class="help-block">Phone Number is a required field</p>
                        <p ng-show="frmCustomer.telephoneTxt.$error.pattern" class="help-block">Phone Number should be in correct format</p>
                    </div>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="brokerPortalController.locationService.selectedLocale.strLocale != 'ga-IE'" ng-class="{ 'has-error' : (frmCustomer.postCodeTxt.$touched || frmCustomer.$submitted) && frmCustomer.postCodeTxt.$invalid }">
            <!--<input id="custQuote" class="form-control" name="customer.QuoteFK" data-ng-show="false" data-ng-model="customer.quotePK" />-->
            <label class="control-label col-sm-2">PostCode</label>
            <div class="col-sm-10">
                <input type="text" style="width:85%;display:inline-block" placeholder="Post Code" name="postCodeTxt"
                       class="form-control" data-ng-model="brokerPortalController.addresses[0].postcode" data-ng-change="getAddresses()"
                       data-ng-model-options="{ updateOn: 'blur', debounce: { default: 500, blur: 0 } }" required />
                <input class="btn btn-primary" style="display:inline-block;" type="button" value="Search Address" data-ng-click="brokerPortalController.getAddress()" />
                <div ng-show="frmCustomer.$submitted || frmCustomer.postCodeTxt.$touched">
                    <p ng-show="frmCustomer.postCodeTxt.$error.required" class="help-block">Post Code is a required field</p>
                </div>
            </div>
        </div>

        <div class="form-group col-sm-12" style="margin:0;padding:0;" ng-if="brokerPortalController.addressLookups.length > 0 && brokerPortalController.locationService.selectedLocale.strLocale != 'ga-IE'">
            <label ng-if="brokerPortalController.addressLookups.length > 0" class="control-label col-sm-2" style="color:blue !important;">Please Select An Address</label>
            <div class="col-sm-10">
                <select  ng-if="brokerPortalController.addressLookups.length > 0" ng-model="brokerPortalController.selectedAddress"
                        ng-change="brokerPortalController.populateAddress()" id="postCodeSelect"
                        size="1" class="form-control" style="width: 100%; margin-top: 5px;color:blue !important"
                        ng-options="addy.address1 for addy in brokerPortalController.addressLookups track by addy.addressID"></select>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.address1Txt.$touched || frmCustomer.$submitted) && frmCustomer.address1Txt.$invalid }">
            <label class="control-label col-sm-2">Address1</label>
            <div class="col-sm-10">
                <input type="text"
                       name="address1Txt"
                       placeholder="Address1"
                       title="Please complete"
                       class="form-control"
                       data-ng-model="brokerPortalController.addresses[0].address1"
                       required />
                <div ng-show="frmCustomer.$submitted || frmCustomer.address1Txt.$touched">
                    <p ng-show="frmCustomer.address1Txt.$error.required" class="help-block">Address1 is a required field</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Address2</label>
            <div class="col-sm-10">
                <input type="text"
                       placeholder="Address2"
                       class="form-control"
                       data-ng-model="brokerPortalController.addresses[0].address2" />
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Address3</label>
            <div class="col-sm-10">
                <input type="text"
                       placeholder="Address3"
                       class="form-control"
                       data-ng-model="brokerPortalController.addresses[0].address3" />
            </div>
        </div>
        <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.townTxt.$touched || frmCustomer.$submitted) && frmCustomer.townTxt.$invalid }">
            <label class="control-label col-sm-2">Town</label>
            <div class="col-sm-10">
                <input type="text"
                       name="townTxt"
                       placeholder="Town"
                       class="form-control"
                       data-ng-model="brokerPortalController.addresses[0].town"
                       required />
                <div ng-show="frmCustomer.$submitted || frmCustomer.townTxt.$touched">
                    <p ng-show="frmCustomer.townTxt.$error.required" class="help-block">Town is a required field</p>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (frmCustomer.countyTxt.$touched || frmCustomer.$submitted) && frmCustomer.countyTxt.$invalid }">
            <label class="control-label col-sm-2">County</label>
            <div class="col-sm-10">
                <input type="text"
                       name="countyTxt"
                       placeholder="County"
                       class="form-control"
                       data-ng-model="brokerPortalController.addresses[0].county"
                       required />
                <div ng-show="frmCustomer.$submitted || frmCustomer.countyTxt.$touched">
                    <p ng-show="frmCustomer.countyTxt.$error.required" class="help-block">County is a required field</p>
                </div>
            </div>
        </div>
        <div class="form-group">
            <label class="control-label col-sm-2">Country</label>
            <div class="col-sm-10">
                <input type="text"
                       data-ng-model="brokerPortalController.addresses[0].country"
                       placeholder="{{brokerPortalController.selectedLocale.country}}"
                       class="form-control"
                       disabled="disabled" />
            </div>
        </div>

        <div class="panel-body" style="margin-left:180px;margin-top:0;padding-top:0" data-ng-if="brokerPortalController.instructors.length > 1">
            <h5 class="col-sm-12"><b>Names of all instructors to be covered under this policy (including directors, partners and principals)</b></h5>
            <div class="col-md-12 noPadding" data-ng-repeat="i in brokerPortalController.instructors track by $index" data-ng-if="$index > 0">
                <div class="form-group col-sm-3">
                    <input type="text" placeholder="First Name" name="firstNameTxt{{$index}}" class="form-control" ng-class="{ 'has-error' : (frmCustomer.firstNameTxt{{$index}}.$touched || frmCustomer.$submitted) && frmCustomer.firstNameTxt{{$index}}.$invalid }"
                           data-ng-model="brokerPortalController.customers[$index].firstName" required />
                </div>
                <div class="form-group col-sm-3">
                    <input type="text" class="form-control" name="lastNameTxt{{$index}}" placeholder="Last Name" ng-class="{ 'has-error' : (frmCustomer.lastName{{Txt$index}}.$touched || frmCustomer.$submitted) && frmCustomer.firstNameTxt{{$index}}.$invalid }"
                           data-ng-model="brokerPortalController.customers[$index].lastName" required />
                </div>
                <div ng-show="frmCustomer.$submitted">
                    <p ng-show="frmCustomer.firstNameTxt{{$index}}.$error.required" class="help-block" style="color:red">Named instructors are required</p>

                </div>
            </div>
        </div>
    </div>
    <button class="btn btn-primary" data-ng-click="brokerPortalController.submitCustomer()">Submit customer details</button>
</div>

<div class="panel panel-dark-blue">
    <div class="panel-heading">
        <h2>Links and References</h2>
    </div>
    <div class="panel-body">
        <div class="col-md-12">
            <a class="col-md-3 btn btn-primary" href="javascript: void(0)" ng-click="brokerPortalController.ShowCert()">View Certificate</a>
            <a class="col-md-3 btn btn-primary" href="javascript: void(0)" ng-click="brokerPortalController.ShowQuote()">View Quote</a>
            <a class="col-md-3 btn btn-primary" href="javascript: void(0)" ng-click="brokerPortalController.showCheckout()">Purchase</a>

        </div>
    </div>
</div>
