﻿<div class="page col-xs-12">
    <div class="col-xs-8 certHeadLeft" style="padding:10px;">
        <img height="24" src="../../Content/Images/Logo.png" />
        <div class="col-xs-8 certHeadLeft" style="margin:0">
            <p>Company Number OC311741</p>
            <p>Authorised & regulated by the Financial Conduct Authority</p>
            <p>Registration number 430849</p>
        </div>
    </div>
    <div class="col-xs-4 certHeadRight"  style="margin:0">
        <p>Leisureinsure LLP</p>
        <p>Network Point</p>
        <p>Range Road</p>
        <p>Witney OX29 0YN</p>
        <p>Telephone: 01993 700761</p>
        <p>Facsimile: 0870 766 8392</p>
        <p style="color: blue !important;"><u>www.leisureinsure.co.uk</u></p>
    </div>

    <div class="col-xs-12" style="padding: 20px;">
        <div class="centre" style="border: groove; padding: 10px;">
            <p>Thank you for purchasing insurance from Leisureinsure LLP</p>

            <p>1. <u>Your schedule of Insurance</u></p>

            <p>This document includes:</p>

            <p>2. <u>Statement of Fact</u></p>
            <p>
                Please make sure that you can comply with this as failure to do so may invalidate this policy and your cover.
            </p>
            <p>3. <u>Information provided during your application (if applicable)</u></p>
            <p>
                If this policy was purchased without you completing a proposal form (i.e. if you purchased it on our website or over the phone),
                details of every question you were asked and every response you provided is listed.
            </p>
            <p>
                It is <b><i>very important</i></b> that you please check the answers you provided to the questions
                we asked to make sure they are correct as any inaccuracies therein <b><i>could invalidate this policy and your cover</i></b>.
            </p>
        </div>
    </div>
</div>

<div class="page col-xs-12 breakhere">
    <div class="col-xs-12 sectHeader">Schedule of Insurance</div>
    <div class="sections" style="margin-bottom:20px">

        <label class="col-xs-3">Policy Wording:</label><span class="col-xs-9">{{cert.schedule.policyWording}}</span>

        <label class="col-xs-3">Policy Number:</label><span class="col-xs-9">{{cert.certificatePK}}</span>

        <label class="col-xs-3">Period of Insurance:</label>

        <span class="col-xs-2">From: <span style="float:right;">{{cert.schedule.startDate|date:'dd/MM/yyyy'}}</span></span>
        <span class="col-xs-7"><span class="col-xs-1"></span>Time: {{cert.schedule.startDate|date:'hh:mm'}}</span>
        <label class="col-xs-3"></label>
        <div class="col-xs-2">To: <span style="float:right;">{{cert.schedule.endDate|date:'dd/MM/yyyy'}}</span></div>
        <div class="col-xs-7"><span class="col-xs-1"></span>Time: {{cert.schedule.endDate|date:'hh:mm'}}</div>
        <label class="col-xs-3"></label>
        <div class="col-xs-9">
            <p>All dates Inclusive local standard time at the Insured's address stated above.</p>
            <p>This policy will not automatically renew: notice is hereby given that cover will terminate and not be renewed at the expiry date unless a new agreement is reached between the Insurer and the Insured.</p>
        </div>
    </div>
    <div class="col-xs-12 sectHeader">The Insured</div>
    <div class="sections" style="margin-bottom:20px !important;">
        <label class="col-xs-3">Name:</label><span class="col-xs-8">{{cert.schedule.insuredName}}</span>
        <label class="col-xs-3">Correspondence Address:</label><span class="col-xs-8">{{cert.schedule.correspondenceAddress}}</span>
        <label class="col-xs-3">Premises:</label><span class="col-xs-8">{{cert.schedule.premises}}</span>
        <label class="col-xs-3">Business:</label><span class="col-xs-8">{{cert.schedule.business}}</span>
        <label class="col-xs-3">Territory:</label><span class="col-xs-8">{{cert.schedule.territorialLimits}}</span>
    </div>

    <div class="col-xs-12 sectHeader">The Premium</div>
    <div class="sections">
        <label class="col-xs-3">Premium:</label><span class="col-xs-8">{{cert.schedule.netPremium}}</span>

        <div class="col-xs-12" style="margin: 0; padding: 0;">
            <label class="col-xs-3">{{cert.schedule.taxType}}:</label><div class="col-xs-9">{{cert.schedule.tax}}</div>
        </div>
        <div class="col-xs-12" style="margin: 0; padding: 0;">
            <label class="col-xs-3" style="float: left;">Gross Premium:</label><span class="col-xs-9">{{cert.schedule.grossPremium}}</span>
        </div>
    </div>
    <p class="col-xs-12 sectHeader">Security</p>
    <div class="sections">
        <label class="col-xs-12">Catlin Insurance Company(UK) Ltd</label>
    </div>
</div>


<div class="col-xs-12">
    <div data-ng-repeat="s in cert.sections" class="breakless">

        <p class="col-xs-12 sectHeader">{{s.header}}</p>

        <div data-ng-repeat="sd in s.sectionDetail" data-ng-if="s.insured == 1">

                <p class="col-xs-12" data-ng-style="certLineStyle(sd.para)">
                    <label class="col-xs-3" data-ng-if="sd.label1.length">{{sd.label1}}</label>

                    <span data-ng-if="!sd.lineValue2.length && sd.label1.length" class="col-xs-8" data-ng-bind-html="sd.lineValue1"></span>

                    <span data-ng-if="!sd.lineValue2.length && !sd.label1.length" class="col-xs-12" data-ng-bind-html="sd.lineValue1"></span>
                    <span data-ng-if="sd.lineValue2.length">
                        <span class="col-xs-2" data-ng-bind-html="sd.lineValue1"></span><span class="col-xs-6" data-ng-bind-html="sd.lineValue2"></span>
                    </span>
                </p>

        </div>
        <div data-ng-if="s.sectionLists.length" style="padding:10px 0;width:100%">

                <table style="width:100%;border:groove;" cellpadding="10">
                    <tr style="border:groove;">

                        <th style="width:60%;padding-left:4px;">Item Description</th>
                        <th data-ng-if="s.section == 4 || s.section == 5" style="width:8%">Specification</th>
                        <th data-ng-if="s.section == 4" style="width:20%;text-align:center;">Territory</th>
                        <th data-ng-if="s.section == 5" style="width:20%;text-align:center;">Indemnity Period</th>
                        <th data-ng-if="s.section == 4 || s.section == 5" style="width:12%;text-align:right;padding-right:4px;">Sum Insured</th>
                        <th data-ng-if="s.section == 3" style="width:12%;text-align:right;padding-right:4px;">Wage Roll</th>
                    </tr>
                    <tr data-ng-repeat="lists in s.sectionLists" style="border:groove;padding:2px;">

                        <td style="width:60%;padding-left:4px;">{{lists.lineType}}</td>

                        <td data-ng-if="s.section == 4 || s.section == 5" style="width:8%;text-align:center;">{{lists.specification}}</td>
                        <td data-ng-if="s.section == 4 || s.section == 5" style="width:20%;text-align:center;">{{lists.territory}}</td>
                        <td data-ng-if="s.section == 4 || s.section == 5 || s.section == 3" style="width:12%;text-align:right;padding-right:4px;">{{lists.sumInsured}}</td>
                    </tr>
                </table>
            </div>

    </div>
</div>


