﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <base href="/">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leisure Insure</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <script type="text/javascript" src="~/Scripts/stacktrace-0.6.4.js"></script>
@*<script type="text/javascript">
    // your code...
    var trace = printStackTrace();
    alert(trace.join('\n\n')); // Output however you want!
    // more code of yours...
</script>*@
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top" style="margin-bottom: 0px; font-size: 14px;">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="navbar-collapse collapse">
                <ul class="nav navbar-nav" style="font-size: 14px;">
                    <li><a href="/home" style="padding: 0; margin: 0;">
                        <img src="../../Content/Images/LiLogo.jpg" height="40" style="border-radius: 5px;" /></a></li>
                </ul>
                <ul class="nav navbar-nav" style="font-size: 14px; float: right;">
                    <li>
                        <p style="margin-top: 2px; margin-bottom: 0px; color: white;">info@leisureinsure.co.uk</p>
                        <p style="margin: 0; color: white; float: right;">01993 700761</p>
                    </li>
                </ul>
            </div>

        </div>
    </div>
    <div class="container body-content" style="margin-top: 0;" data-ng-app="App">
        @RenderBody()
    </div>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/angularApp")
    @Scripts.Render("~/bundles/bootstrap")
    @RenderSection("scripts", required: false)

</body>
</html>
