﻿
<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />

    <meta name="viewport" content="initial-scale=1.0" />
    <meta name="format-detection" content="telephone=no" />
    <title>Your quote from Leisureinsure</title>
</head>
<body style="background-color:#a4cfef">

<div>
    @RenderBody()
</div>
    @RenderSection("scripts", false)
</body>
</html>
