﻿@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en-US">
<head>
    <meta charset="utf-8" />
    <base href="/pdf">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Leisure Insure</title>
    <title>{{metadata.title()}}</title>
    <meta name="description" content="{{metadata.description()}}" />
    <meta name="keywords" content="{{metadata.keywords()}}" />

    <!-- Open Graph Protocol Tags -->
    <meta name="og:url" content="{{metadata.ogUrl()}}" />
    <meta name="og:title" content="{{metadata.ogTitle()}}" />
    <meta name="og:description" content="{{metadata.ogDescription()}}" />
    <meta name="og:type" content="{{metadata.ogType()}}" />
    <meta name="og:image" content="{{metadata.ogImage()}}" />

    <!-- Twitter Card Tags -->
    <meta name="twitter:card" content="{{metadata.twitterCard()}}" />
    <meta name="twitter:title" content="{{metadata.twitterTitle()}}" />
    <meta name="twitter:description" content="{{metadata.twitterDescription()}}" />
    <meta name="twitter:site" content="{{metadata.twitterSite()}}" />
    <meta name="twitter:image:src" content="{{metadata.twitterImage()}}" />

    <!-- TrustBox script -->
    <script type="text/javascript" src="//widget.trustpilot.com/bootstrap/v5/tp.widget.sync.bootstrap.min.js" async></script>
    <!-- End Trustbox script -->

    @Styles.Render("~/bundles/cert")

    <link href="~/Content/css/slick.css" rel="stylesheet" />
    <link href="~/Content/css/slick-theme.css" rel="stylesheet" />

    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap-theme.min.css" integrity="sha384-fLW2N01lMqjakBkx3l/M9EahuwpSfeNvV63J5ezn3uZzapT0u7EYsXMjQV+0En5r" crossorigin="anonymous">
    <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/css/bootstrap-select.min.css">
    @Styles.Render("~/bundles/bootstrap-switch")

    @*<!-- initial angular load -->*@
    <script src="//code.jquery.com/jquery-2.2.4.min.js" integrity="sha256-BbhdlvQf/xTY9gja0Dq3HiwQF8LaCRTXxZKRutelT44=" crossorigin="anonymous"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular.js"></script>

</head>
<body style="align-content: center;font-family:Calibri;font-size:11px;font-size:100% !important" data-ng-app="App">
    <div class="container body-content" style="margin: 0; padding: 0;">
        @RenderBody()
    </div>
    @*<!-- JQuery  -->*@
    <script type="text/javascript" src="//cdn.jsdelivr.net/jquery.slick/1.6.0/slick.min.js"></script>

    @*<!-- Angular  -->*@
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-route.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-animate.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-resource.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-cookies.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.7/angular-sanitize.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-aria.min.js"></script>
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.3/angular-messages.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/moment.js/2.14.1/moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-moment/1.0.0-beta.6/angular-moment.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular-ui-bootstrap/1.3.3/ui-bootstrap-tpls.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/rxjs/4.1.0/rx.all.min.js"></script>
    <script src="//cdnjs.cloudflare.com/ajax/libs/rx-angular/1.1.3/rx.angular.min.js"></script>
    <script src="//anglibs.github.io/angular-location-update/angular-location-update.min.js"></script>

    @*<!-- App Hosted Libraries -->*@
    @Scripts.Render("~/bundles/libraries")

    @*<!-- bootstrap  -->*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/bootstrap-select/1.10.0/js/bootstrap-select.min.js"></script>
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js" integrity="sha384-0mSbJDEHialfmuBBQP6A4Qrprq5OVfW37PRR3j5ELqxss1yVqOtnepnHVP9aJ7xS" crossorigin="anonymous"></script>
    @Scripts.Render("~/bundles/bootstrap-switch")

    @*<!-- other libraries  -->*@
    <script src="//cdnjs.cloudflare.com/ajax/libs/underscore.js/1.8.3/underscore-min.js"></script>
    <script src="//cdn.tinymce.com/4/tinymce.min.js"></script>
    <script src="~/bower_components/angular-ui-tinymce/dist/tinymce.min.js"></script>

    @*<!-- app  -->*@
    @Scripts.Render("~/bundles/angularApp")
    @Scripts.Render("~/bundles/app")

    @*<!-- Filters -->*@

    @*<!-- Components -->*@

    @*<!-- Directives -->*@

    @*<!-- Interceptors -->*@

    @*<!-- Services -->*@

    @*<!-- Controllers -->*@

    @RenderSection("scripts", required: false)

</body>
</html>
