<table style="width: 100%; font-family:Calibri;">    

    <tr>
        <td colspan="2">
            <p>Your policy number is {{QuoteRef}}</p>
        </td>
    </tr>
	
	<tr>
        <td colspan="2">
            <p>Dear {{Name}},</p>
        </td>
    </tr>
	
	<tr><td colspan="2">&nbsp;</td></tr>  

    <tr>
        <td colspan="2">
            <p>We take pleasure in enclosing your Schedule of Insurance and Policy Documents which we trust you will find to be in order.</p>
        </td>
    </tr>
	
	<tr><td colspan="2">&nbsp;</td></tr>   
	
    <tr>
        <td colspan="2">
            <p>We would ask you to read all documents carefully, particularly the Terms, Conditions and Exclusions. If you cannot comply you should advise us immediately, as failure to comply will invalidate your policy. If you have any doubts about the cover provided, please do not hesitate to contact us.</p>
        </td>
    </tr>

    <tr><td colspan="2">&nbsp;</td></tr>       
	
	<tr>
        <td colspan="2">
            <p>We cannot stress too strongly that you should:</p>
        </td>
    </tr>
	
	<tr><td colspan="2">&nbsp;</td></tr> 
	
	<tr>
        <td colspan="2">
            <p>1. Ensure that you fully understand the Terms and Conditions as a breach of any Condition or Warranty could result in the Insurer avoiding a claim </p>
        </td>
    </tr>
	
	<tr><td colspan="2">&nbsp;</td></tr> 
	
	<tr>
        <td colspan="2">
            <p>2. If you are insuring property against loss or damage, ensure that the sums insured provided by you are adequate. Under insurance could result in partial settlement only of a claim </p>
        </td>
    </tr>
	
	<tr><td colspan="2">&nbsp;</td></tr> 
	
	<tr>
        <td colspan="2">
            <p>3. Ensure that you have disclosed everything of a material nature to Us - A material fact is one likely to influence acceptance and assessment of this proposal by underwriters. If you are in any doubt as to whether a fact is material or not, you must disclose it - non-disclosure could result in the Insurer avoiding payment of a claim. We have also produced a Briefing Note which you may find to be of some use. It can be viewed by following this link: {{BriefLink}}</p>
        </td>
    </tr>
   

    <tr><td colspan="2"><p>Thank you kindly for your business. If you do have any queries, please feel free to contact us.</p></td></tr>
	
	<tr><td colspan="2">&nbsp;</td></tr>           

    <tr><td colspan="2"><p>Regards</p></td></tr>
	
	<tr><td colspan="2">&nbsp;</td></tr>   

    <tr><td colspan="2"><p>Leisureinsure LLP</p></td></tr>
	
	<tr>
        <td>{{DocLinks}}</td>
    </tr>

</table>








