<table style="width: 100%; font-family:Calibri;">

    <tr>
        <td colspan="2">
            <p>Dear {{Name}},</p>
        </td>
    </tr>
	
	<tr><td colspan="2">&nbsp;</td></tr>  

    <tr>
        <td colspan="2">
            <p>Quotation Reference {{QuoteRef}}</p>
        </td>
    </tr>
	
	<tr><td colspan="2">&nbsp;</td></tr>  

    <tr>
        <td colspan="2">
            <p>Thank you for requesting an Insurance Quotation from us. We have identified your demands and needs (i.e. the exposures identified in the attached quotation) and based on that, we recommend the following product from our panel of insurers.</p>
        </td>
    </tr>
	
	<tr><td colspan="2">&nbsp;</td></tr>   
	
    <tr>
        <td colspan="2">
            <p>The total price quoted, based on the information you provided, is <span style="color:rgb(77,167,230);font-weight:bold;"> {{Total}}. </span> Please note that this price includes all taxes, and where applicable, any fees. In order to view the full quote, or buy the policy, please click on the link below; </p>
        </td>
    </tr>

    <tr><td colspan="2">&nbsp;</td></tr>   

    <tr></tr>
    <tr>
        <td colspan="2">
            <table style="width:140px" align="left" class="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td align="center" valign="top" style="border: 1px solid #0750a4; border-radius: 8px; overflow: hidden; background-color:#0750a4;">
                        <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td height="12" style="height: 12px; line-height:12px;"></td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding: 0 24px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; mso-line-height-rule: exactly; line-height: 16px; font-weight: bold;color: #ffffff;">
                                    <span style="color: #ffffff;">
                                        <a style="text-decoration: none; color: #ffffff;" href="{{QuoteLink}}" target="_blank" title="BUY NOW">
                                            <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                View Quote
                                            </font>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td height="12" style="height: 12px; line-height:12px;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>
    <tr>
        <td colspan="2">
            <table align="left" style="width:140px" class="center" cellpadding="0" cellspacing="0" border="0">
                <tr>
                    <td align="center" valign="top" style="border: 1px solid #0750a4; border-radius: 8px; overflow: hidden; background-color:#0750a4;">
                        <table width="100%" align="center" cellpadding="0" cellspacing="0" border="0">
                            <tr>
                                <td height="12" style="height: 12px; line-height:12px;"></td>
                            </tr>
                            <tr>
                                <td align="center" valign="top" style="padding: 0 24px;font-family:'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif; font-size: 16px; mso-line-height-rule: exactly; line-height: 16px; font-weight: bold;color: #ffffff;">
                                    <span style="color: #ffffff;">
                                        <a style="text-decoration: none; color: #ffffff;" href="{{BuyLink}}" target="_blank" title="BUY NOW">
                                            <font face="'Open Sans', 'Helvetica Neue', Helvetica, Arial, sans-serif">
                                                Buy Now
                                            </font>
                                        </a>
                                    </span>
                                </td>
                            </tr>
                            <tr>
                                <td height="12" style="height: 12px; line-height:12px;"></td>
                            </tr>
                        </table>
                    </td>
                </tr>
            </table>
        </td>
    </tr>

   <tr><td colspan="2">&nbsp;</td></tr>

    <tr><td colspan="2"><p>If you have any queries, please feel free to contact us. Please note that our annual policies do include a 14 day ‘Cooling Off’ period. Short term/Event policies are non-refundable.</p></td></tr>
	
	<tr><td colspan="2">&nbsp;</td></tr>   
	
    <tr><td colspan="2"><p>The following documents are important and we recommend you read them before purchasing from us.</p></td></tr>

    <tr>
        <td>{{DocLinks}}</td>
    </tr>

    <tr><td colspan="2"><p>Regards</p></td></tr>
	
	<tr><td colspan="2">&nbsp;</td></tr>   

    <tr><td colspan="2"><p>Leisureinsure LLP</p></td></tr>

</table>








