﻿body {
    /*font-family: Calibri;*/
    /*height: 92vh;*/
    /*padding-top: 40px;*/
    /*background: url(images/background.png);*/
    /*background-attachment: fixed;*/
}

@media print {

    h3 {
        /*font-size: 16px;*/
        font-size: 110% !important;
        font-weight: 700;
    }
}

@media print {
    html, body {
        padding: 0;
        margin: 0;
        /*font-size: 100% !important;*/
    }

        html, body certtext > div p {
            font-size: 90% !important;
        }


    .page {
        background: white;
        width: 100%;
        padding: 0px;
        margin: 0px;
        height: 100%;
        display: block;
    }


    /*tr {
        page-break-inside: avoid !important;
    }*/
    /* ... the rest of the rules ... */
}


/*tr {
    page-break-inside: avoid !important;
}*/

/*.donotbreak {
    page-break-inside: avoid !important;
}*/

.certdetail {
    display: block !important;
    border: groove;
}

.donotbreak {
    page-break-inside: avoid !important;
    display: block !important;
}

.certHead div p {
    margin-bottom: 1px;
    /*display: inline-block;*/
}

.certHeadLeft {
    margin: 0;
}

    .certHeadLeft div img {
        font-family: Calibri;
        font-size: 8px;
        display: block;
        float: left;
    }

    .certHeadLeft p {
        font-family: Calibri;
        font-size: 8px;
        margin: 0;
    }

.certHeadRight {
    text-align: right;
    font-family: Tahoma;
    font-size: 9px;
    float: left;
    font-weight: bold;
    margin: 0;
}

    .certHeadRight p {
        padding: 1px 20px;
        margin: 0;
    }

    .certHeadRight .link {
        color: rgb(0,0,255) !important;
    }


.breakhere {
    page-break-after: always !important;
}

.noPadding {
    padding-left: 0 !important;
    padding-right: 0 !important;
    margin: 0;
}

    .noPadding > * {
        padding-left: 0 !important;
        padding-right: 0 !important;
        padding-top: 4px;
        margin: 0;
    }

.lineBreak {
    color: white !important;
    background-color: white !important;
    line-height: 10px;
    float: left !important;
}

.sectHeader {
    color: white !important;
    background-color: gray !important;
    text-align: left;
    font-weight: bolder;
    margin: 0;
    margin-bottom: 20px !important;
    padding: 0;
    border: 0;
    padding-left: 4px !important;
    /*-webkit-margin-before: 0;*/
    /*-webkit-margin-after: 10px;*/
}

    .sectHeader [class*="col-"] {
        margin: 0;
        padding: 0;
    }

.sections label {
    float: left;
    display: block !important;
}

.sections {
    /*-webkit-margin-after: 10px;*/
    margin: 0px;
    padding: 10px;
    margin-bottom: 20px !important;
    page-break-inside: avoid !important;
    display: block;
}

    .sections label {
        height: 100%;
        float: left;
        text-align: left;
        vertical-align: middle;
    }

addressbox {
    margin: 0;
    margin-top: 20px !important;
    padding: 0;
}

    addressbox > * {
        margin: 0;
        padding: 0;
    }

.listRoman {
    list-style-type: lower-roman;
    font-size: 11px;
    font-size: 100%;
    margin-left: 10px !important;
}

.listAlpha {
    list-style-type: lower-alpha;
    font-size: 11px;
    font-size: 100%;
    margin-left: 10px !important;
}

.listUpperAlpha {
    list-style-type: upper-alpha;
    font-size: 11px;
    font-size: 100%;
    margin-left: 10px !important;
}

.elSectionOne {
    margin-bottom: 30px !important;
    padding-bottom: 30px !important;
}

.certificate {
    /*font-size:11px;*/
    font-size: 100% !important;
}

    .certificate > h3 {
        /*font-size:11px;*/
        font-size: 110% !important;
    }

.scheduleHeading {
    font-size: 16px !important;
}

certtext {
    font-size: 100% !important;
}

.divblock {
    margin: 0;
    padding: 0;
}

    .divblock > p {
        padding-bottom: 1px !important;
        padding-top: 0 !important;
        margin: 0;
    }

.mdTable {
    width: 100%;
    margin-top: 20px;
    padding-top: 20PX;
    margin-bottom: 20px !important;
    border: 1px solid black;
}

    .mdTable td,
    .mdTable th {
        border: 1px solid black;
        padding: 3px !important;
    }

    .mdTable th {
        text-align: center;
    }

    .mdTable td:nth-child(1) {
        padding-left: 5px !important;
        text-align: center;
    }

    .mdTable td:nth-child(2),
    .mdTable td:nth-child(3),
    .mdTable td:nth-child(4),
    .mdTable td:nth-child(5) {
        text-align: left;
    }



.elTable {
    width: 50%;
    margin-top: 20px;
    padding-top: 20PX;
    margin-bottom: 20px !important;
    border: 1px solid black;
}

    .elTable td, th {
        border: 1px solid black;
        padding: 3px !important;
    }

    .elTable th {
        text-align: center;
    }

    .elTable td:nth-child(1) {
        text-align: left;
    }

    .elTable td:nth-child(2) {
        text-align: center;
    }


.plTable {
    width: 50%;
    margin-top: 20px;
    padding-top: 20PX;
    margin-bottom: 20px !important;
    border: 1px solid black;
}

    .plTable td,
    .plTable th {
        border: 1px solid black;
        padding: 3px !important;
    }

        .plTable th,
        .plTable td:nth-child(1) {
            text-align: center;
        }

        .plTable td:nth-child(2) {
            text-align: left;
        }


.hazardTable {
    width: 100%;
    margin-top: 20px;
    padding-top: 20PX;
    border: 1px solid black;
}

    .hazardTable td,
    .hazardTable th {
        border: 1px solid black;
        padding: 3px;
    }

        .hazardTable td:nth-child(2) {
            text-align: center;
        }

    .hazardTable th {
        text-align: center;
    }

.certcol1 {
    display: inline-block !important;
    width: 25% !important;
    vertical-align: top;
}


.certcol2 {
    display: inline-block !important;
    width: 60% !important;
    vertical-align: top;
}

.certcol2Extra {
}

    .certcol2Extra span:nth-child(1) {
        display: inline-block !important;
        width: 30% !important;
        vertical-align: top;
    }

    .certcol2Extra span:nth-child(2) {
        display: inline-block !important;
        width: 50% !important;
        vertical-align: top;
    }
