﻿body {
    font-family: Helvetica Neue LT Pro,Calibri,Arial,sans-serif;
    /*height: 92vh;*/
    /*padding-top: 40px;*/
    /*background: url(images/background.png);*/
    background-attachment: fixed;
}

.navbar > * {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

input.ng-dirty.ng-invalid {
    color: red;
}
/* Set padding to keep content from hitting the edges */
.body-content {
    margin-top: 65px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 30px;
}

/* styles for validation helpers */
.field-validation-error {
    color: #b94a48;
}

.field-validation-valid {
    display: none;
}

input.input-validation-error {
    border: 1px solid #b94a48;
}

input[type="checkbox"].input-validation-error {
    border: 0 none;
}

.validation-summary-errors {
    color: #b94a48;
}

.validation-summary-valid {
    display: none;
}


input.ng-valid.ng-dirty {
    background-color: lightgreen;
}

input.ng-invalid.ng-dirty {
    background-color: lightcoral;
}


ul.plain {
    list-style: none;
}

.table {
    margin-bottom: 0px !important;
}

.navbar-default {
    background-color: white; /*rgb(102,102,102);*/
    min-height: 3em;
    align-content: center;
}

.navbar-nav > li > a {
    font-size: 20px;
}

.calls-to-action h2 {
    font-weight: bold;
    margin-top: 0px;
    margin-bottom: 20px;
    text-align: right;
}

.calls-to-action p > a {
    margin-bottom: 15px;
}

.fullwidth {
    width: 100%;
    padding-left: 0 !important;
    padding-right: 0 !important;
}

.home {
    border-radius: 15px;
    border: groove;
    margin: 0;
    padding: 4px;
    min-height: 88vh;
}

    .home .navigation {
        border-radius: 15px;
        border: groove;
        height: 100%;
        margin: 0;
        padding: 4px;
    }

.center-image {
    position: relative;
    overflow: visible !important;
    float: right;
    right: 50%;
}

    .center-image > img {
        position: relative;
        right: -50%;
    }

.navigation {
    margin: 0;
    padding: 0;
    vertical-align: middle;
    align-content: center;
}

    .navigation form-group {
        margin: 0;
        padding: 0;
        width: 100%;
        vertical-align: middle;
        align-content: center;
    }

    .navigation form-control {
        display: inline;
        word-wrap: break-word;
        white-space: normal;
    }

    .navigation label {
        height: 100%;
        float: left;
        margin-right: 5px;
        text-align: right;
        width: 35%;
        vertical-align: middle;
    }

    .navigation select {
        min-width: 0;
        display: inline;
    }

    .navigation input[type="checkbox"] {
        width: auto;
        height: auto;
    }

nav a.dropdown-toggle {
    padding-bottom: 0 !important;
}

    nav a.dropdown-toggle > img {
        margin-top: -7px;
    }

.carousel {
    padding-right: 0 !important;
}

    .carousel .item {
        height: 350px;
    }


div.carousel-inner div.image {
    max-width: 100%;
    max-height: 100%;
    min-height: 300px;
    background-size: cover;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-position: center;
    overflow: hidden;
}

.carousel-indicators {
    bottom: 80px !important;
}

    .carousel-indicators li.active {
        background-color: darkslategrey;
    }

    .carousel-indicators li {
        border-color: darkslategrey !important;
    }

.carousel-container {
    width: 99% !important;
}
.carousel-caption h3, .carousel-caption span {
    padding: 5px;
    background-color: #fff;
    background-color: rgba(255,255,255, 0.7);
    display: inline;
    clear: both;
    line-height: 1.7;
    font-size: 150%;
    font-weight: bold;
}

.carousel-caption span {
    position: relative;
}

.carousel-caption {
    position: absolute !important;
    top: -15px !important;
    right: 260px !important;
    bottom: 0 !important;
    left: 10px !important;
    text-align: left !important;
    text-shadow: none !important;
    color: #66a !important;
}

    .carousel-caption h3 {
        margin-top: 0;
    }

.carousel-top {
    margin-top: -105px;
}

.product-list p {
    padding: 10px;
    /*color: whitesmoke;*/
    font-weight: bold;
    font-size: larger;
    max-height: 53px;
    padding-bottom: 0;
}

.product-list {
    max-height: 200px;
}

.sub-heading {
    margin: 10px 2px 10px 16px !important;
    padding: 25px !important;
    font-weight: bold;
}

.discount {
    color: red;
    font-weight: bold;
    white-space: nowrap;
}

.product-list {
    margin-left: 10px;
}
    .product-list>div {
        padding-left: 0 !important;
        padding-right: 0 !important;
    }

.white-panel {
    -ms-border-radius: 20px 20px 10px 10px;
    border-radius: 20px 20px 10px 10px;
    background-color: white;
    overflow: hidden;
    padding: 5px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19) !important;
    margin: 6px;
    display: block !important;
}

.white-panel.button {
    max-height: 200px;
}

.currency {
    text-align: right;
}

.quote-body>figure>img {
    width: 100%;
    max-height: 200px;
}

.overlay {
    background-color: #000000;
    background-color: rgba(28, 152, 213, .7);
    bottom: 0;
    width: 100%;
    right: 0;
    position: absolute;
    text-align: right;
    color: whitesmoke;
}

    .overlay h1 {
        padding: 15px;
        margin: 0;
    }

.container-fluid container-fluid {
    margin: 0;
}

.faq.white-panel {
    padding: 0 15px 1px 15px;
}

.payment-card {
    display: block;
}
    .payment-card.image-container {
        height: 90px;
    }
    .payment-card.image {
        width: 70px;
    }
    .payment-card.heading {
        font-size: larger;
        font-weight: bold;
    }
    input[type=radio].payment-card {
        margin-top: 15px;
    }

.lngLableleft label {
    padding-top: 6px !important;
    padding-left: 20px !important;
    font-style: italic;
    height: 100%;
    float: left;
    margin-right: 5px;
    text-align: left !important;
    width: 75% !important;
    vertical-align: middle;
}

.lngLable label {
    height: 100%;
    float: left;
    margin-right: 5px;
    text-align: right;
    width: 75% !important;
    vertical-align: middle;
}

.lngLable select {
    height: 100%;
    float: left;
    margin-right: 5px;
    text-align: right;
    width: 20% !important;
    vertical-align: middle;
}

.lngLable60 {
    vertical-align: middle;
    height: 100%;
}

    .lngLable60 label {
        height: 100%;
        float: left;
        margin-right: 5px;
        text-align: right;
        width: 60% !important;
        vertical-align: middle;
    }

    .lngLable60 select {
        height: 100%;
        float: left;
        margin-right: 5px;
        text-align: right;
        width: 150px !important;
        vertical-align: middle;
    }



.lngSelect select {
    height: 100%;
    float: left;
    margin-right: 5px;
    text-align: right;
    width: 35% !important;
    vertical-align: middle;
}

.frmInputs form-control {
    display: inline;
    word-wrap: break-word;
    white-space: normal;
}

.frmInputs label {
    height: 100%;
    float: left;
    margin-right: 5px;
    text-align: right;
    vertical-align: middle;
}

.frmInputs form-group {
    margin-top: 0.3em;
    margin-right: 5px;
    padding: 0;
    width: 100%;
}

.frmInputs dtformat {
    width: auto !important;
    height: auto;
}

.frmInputs txtarea {
    overflow: hidden;
    min-width: 0;
    display: inline;
    text-align: right;
}



.frmInputs input[type="checkbox"] {
    width: auto;
    height: auto;
}


.frmInputs select {
    min-width: 0;
    display: inline;
}

.coverBtns > button {
    margin: 1px !important;
}



.frmInputs div {
    margin: 1px;
    padding: 0;
}

.btn-group {
    margin: 2px;
    padding: 2px;
}


input[type=number]::-webkit-inner-spin-button,
input[type=number]::-webkit-outer-spin-button,
input[type=time]::-webkit-inner-spin-button,
input[type=time]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
}

.navigation div {
    margin: 1px;
    border: 1px;
    padding: 0;
}



pre {
    padding: 0;
    margin: 10px 0;
}

.noMargin {
    padding: 0;
    margin: 0;
}


.jumbotron {
    background-color: white;
}

.coverHeader {
    text-align: center;
}

    .coverHeader coverName {
        display: inline-block;
        position: relative;
    }

.inner {
    display: inline-block;
    position: relative;
}

.overflow {
    float: right;
}

panel-header {
    padding: 6px 15px;
    text-align: center;
}

panel-body {
    padding: 6px 15px;
}

.banner .well {
    margin-top: 20px;
}

.banner ul {
    list-style: none;
    padding-left: 0;
}

    .banner ul > li {
        padding-top: 20px;
    }

.banner img {
    width: 100%;
    height: 100%;
}

.banner .well h3 {
    margin-top: 0;
}


.quote-banner {
    background-color: darkseagreen;
    background-color: rgba(0, 111, 0, 0.3);
    border-top: 0;
    padding: 30px;
}



.quote-body {
    max-width: 971px;
}

.charge-summary {
    overflow: hidden;
    position: relative;
    height:80%;
    overflow-y:auto;

    -ms-overflow-style: none;  
    overflow: -moz-scrollbars-none;
}
    .charge-summary::-webkit-scrollbar { 
        display: none;  
    }
    
    .charge-summary .panel-body {
        padding: 0;
    }

@media (min-width: 769px) {
    .charge-summary {
        position: fixed !important;
        margin-left: 71% !important;
    }

    .container {
        width: 100% !important;
    }
}

@media (min-width: 970px) {
    .charge-summary {
        position: fixed;
        margin-left: 72% !important;
    }
}

@media (min-width: 1245px) {
    .charge-summary {
        margin-left: 972px;
        max-width: 293px;
    }
}

.pdfModal .modal-dialog {
    display: inline-block;
    border: groove;
    border-width: thick;
    border-color: red;
    top: 0;
    position: fixed;
    vertical-align: auto;
    left: 20%;
    overflow: hidden;
    min-width: 50%;
    align-self: center;
    width: 60%;
}

.loginModal .modal-dialog {
    display: inline-block;
    border: groove;
    border-width: thick;
    top: 20%;
    position: fixed;
    vertical-align: auto;
    left: 35%;
    overflow: hidden;
    min-width: 200px;
    align-self: center;
    width: 30%;
}

.containerx {
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%,-30%);
}

.noPadding > *{
    padding:0;
    margin:0;


}
@media print {
    html, body {
        padding: 0;
        margin: 0;
    }

    .page {
        background: white;
        width: 100%;
        padding: 1px;
        margin: 1px;
        height: 288mm;
        border: groove;
        display: block;
    }


    .breakless {
        page-break-inside: avoid;
        /*border: groove;*/
    }

    tr {
        page-break-inside: avoid;
    }
    /* ... the rest of the rules ... */
}


tr {
    page-break-inside: avoid;
}

.certHead div p {
    margin-bottom: 1px;
    /*display: inline-block;*/
}

.certHeadLeft {
    margin: 0;
}

    .certHeadLeft div img {
        font-family: Calibri;
        font-size: 8px;
        display: block;
        float: left;
    }

    .certHeadLeft p {
        font-family: Calibri;
        font-size: 8px;
        margin: 0;
    }

.certHeadRight {
    text-align: right;
    font-family: Tahoma;
    font-size: 9px;
    float: left;
    font-weight: bold;
    margin: 0;
}

    .certHeadRight p {
        padding: 1px 20px;
        margin: 0;
    }

    .certHeadRight .link {
        color: rgb(0,0,255) !important;
    }


.aboutx {
    padding: 0;
    margin: 0;
    border: none;
    display: inline-block;
}

    .aboutx ul {
        padding: 4px;
        width: 49%;
        font-size: 14px;
        list-style: none;
        display: inline-block;
    }


.panelRightTop {
    /*height: 96vh;*/
    height: 100%;
}

.panelRight {
    font-family: Helvetica Neue LT Pro,Calibri,Arial,sans-serif;
}


    .panelRight label {
        color: rgb(15,68,150);
        width: 100%;
        padding-top: 6px;
    }


.strike {
    text-decoration: line-through;
}

.bold {
    font-weight: bold;
}

.red {
    color: red;
}

.has-error {
    color: red;
    background-color: yellow;
}

.orange {
    color: orange;
}

.btnactive {
    color: red !important;
}

#covers {
    page-break-inside: avoid;
}

/*.breakhere {
    page-break-after: always !important;    
}*/
.sections label{
    float:left;

}


    .sectHeader [class*="col-"] {
        margin: 0;
        padding: 0;
    }

.a4x {
    width: 210mm;
    margin: 0;
    padding: 0;
    align-content: center;
}

.premiumPanel {
    display: block;
    margin: 2px;
    border: groove;
    padding: 10px;
    border-radius: 15px;
}

div.centre {
    width: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px;
}

.sections {
    -webkit-margin-after: 10px;
    margin: 0px;
    padding: 10px;
    margin-bottom: 10px;
    page-break-inside: avoid;
}

    .sections label {
        height: 100%;
        float: left;
        text-align: left;
        vertical-align: middle;
    }

.popoverx {
    position: absolute;
    left: 50px;
    top: 50px;
    z-index: 1;
}

.pborder {
    border-left: groove;
    border-right: groove;
    margin: 0;
    padding: 0;
}

.donotbreak {
    page-break-inside: avoid !important;
}


footer {
    width: 100%;
    background-color: #e5e5e5;
}

    footer .footer-logos {
        background-color: #f2f2f2;
        padding: 30px;
    }

    footer img {
        height: 80px;
    }

    footer ul {
        list-style: none;
        padding-left: 0;
    }

h3.form-heading {
    margin-top: 0;
    margin-bottom: 17px;
}

.custom-bullet li {
    display: block;
}

    .custom-bullet li:before {
        /*Using a Bootstrap glyphicon as the bullet point*/
        content: "\e080";
        font-family: 'Glyphicons Halflings';
        font-size: 9px;
        float: left;
        margin-top: 4px;
        margin-left: -17px;
        /*color: #CCCCCC;*/
    }

.frmdivider {
    height: 1px;
    width: 100%;
    display: block; /* for use on default inline elements like span */
    margin: 9px 0;
    overflow: hidden;
    background-color: #e5e5e5;
}

.multiTable {
    border: 1px;
    
    
}
    .multiTable th {
        padding:4px 10px;
        text-align: right;
    }
    .multiTable td {
        text-align: right;
        padding:4px 10px;
    }




/*Cert*/

.coverSection{

    padding:0;
    margin:0;
        margin-bottom:20px;
}