﻿@model LeisureInsure.ViewModels.SitemapVm

@{
    Layout = null;
    var b = Model.BaseUrl;
    var lastChange = DateTime.Now.ToString("yyyy-MM-dd");
}

<?xml version="1.0" encoding="utf-8" ?>
<urlset xmlns="http://www.sitemaps.org/schemas/sitemap/0.9"
        xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        xsi:schemaLocation="http://www.sitemaps.org/schemas/sitemap/0.9 http://www.sitemaps.org/schemas/sitemap/0.9/sitemap.xsd">
    <url>
        <loc>@b</loc>
        <lastmod>@lastChange</lastmod>
        <changefreq>monthly</changefreq>
    </url>
    
    <url>
        <loc>@b/about-us</loc>
        <lastmod>@lastChange</lastmod>
        <changefreq>yearly</changefreq>
    </url>
    
    <url>
        <loc>@b/claims</loc>
        <lastmod>@lastChange</lastmod>
        <changefreq>yearly</changefreq>
    </url>
    <url>
        <loc>@b/complaints</loc>
        <lastmod>@lastChange</lastmod>
        <changefreq>yearly</changefreq>
    </url>    <url>
        <loc>@b/faq</loc>
        <lastmod>@lastChange</lastmod>
        <changefreq>yearly</changefreq>
    </url>
    
    <url>
        <loc>@b/call-me-back</loc>
        <lastmod>@lastChange</lastmod>
        <changefreq>yearly</changefreq>
    </url>
    
    <url>
        <loc>@b/about-us</loc>
        <lastmod>@lastChange</lastmod>
        <changefreq>yearly</changefreq>
    </url>
    
    <url>
        <loc>@b/account/forgotten-password</loc>
        <lastmod>@lastChange</lastmod>
        <changefreq>yearly</changefreq>
        <priority>0.1</priority>
    </url>

    @foreach (var page in Model.Pages)
    {
    <url>
        <loc>@page.Location</loc>
        <lastmod>@page.LastModified</lastmod>
        <changefreq>@page.ChangeFrequency</changefreq>
    </url>
    }
</urlset>