﻿<h4>Material Damage Cover</h4>
<p>We understand that your property is essential for running your business. That property may be, for example:
    <ul>
        <li>Buildings</li>
        <li>Fixtures and Fittings</li>
        <li>Paintball Markers</li>
        <li>Paintballs</li>
        <li>Stock</li>
        <li>Goods in transit</li>
    </ul>
</p>

<p>Therefore, you can choose this cover as an optional extra to protect your property against certain perils. For example
    <ul>
        <li>Fire</li>
        <li>Theft</li>
        <li>Flood</li>
        <li>Malicious Damage</li>
        <li>Subsidence</li>
    </ul>
</p>

