﻿<div class="outer-quote row">
    <figure class="quote-banner" style="position: relative;margin-bottom:-95px">
        <div class="img" style="background-image: url('/Content/Images/landingpages/{{ConfirmationController.policyData.policyImage}}');"></div>
        <div class="overlay">
            <h1>{{ConfirmationController.policyData.policyName}}</h1>
        </div>
    </figure>
    <div class="breadrow">
        <div class="registration-breadcrumb">
            <div class="bc-circle">
                <span class="step-name">Quote</span>
            </div>
            <div class="bc-divide">
                <span></span>
            </div>
            <div class="bc-circle">
                <span class="step-name">Personal Details</span>
            </div>
            <div class="bc-divide">
                <span></span>
            </div>
            <div class="bc-circle">
                <span class="step-name">Payment</span>
            </div>
            <div class="bc-divide">
                <span></span>
            </div>
            <div class="bc-circle">
                <span class="current"></span>
                <span class="step-name">Confirmation</span>
            </div>
        </div>
    </div>
</div>

<hr />

<form id="confirmForm"
      name="confirmForm"
      novalidate
      class="form-horizontal quoteform"
      role="form">

    <section class="confirmSection">
        <h1>Thank you for purchasing your policy from Leisureinsure.</h1>        
        <h3>
            You will shortly receive an email from info@leisureinsure.co.uk with your policy
            documents.
            If this email isn’t in your inbox, please check your Spam &/or Junk Mail Folders and,
            if you have not received it, please contact our offices on 01993 700761 quoting your
            Policy Number: {{ConfirmationController.policyData.quoteReference}}
        </h3>
    </section>

</form>

<div class="col-sm-12"><button data-ng-click="ConfirmationController.Debug()">Debug</button></div>






    ﻿

