﻿<h4>Material Damage Cover</h4>
<p>We understand that your property is essential for running your business. Therefore, you can choose this cover as an optional extra to protect your property against certain perils. For example:
    <ul>
        <li>Fire</li>
        <li>Theft</li>
        <li>Flood</li>
        <li>Malicious damage</li>
        <li>Subsidence</li>
    </ul>
    </p>

