﻿<h4>Money Cover</h4>
<p>
    Money cover is, as the name suggests, cover for any money that the organisation may have on their premises or in transit. If you have money in an overnight safe, or have employees who handle money or take it to the bank, then Money cover is worth considering.
 </p>
<p><strong>What does it cover?</strong>
</p>
<p>   Generally, it covers money whilst at the premises, in transit, in night safe and at private residences. Cover extends to include the replacement of keys and lock mechanisms following theft up to £1,000 and the fraudulent use of credit or charge cards up to £250.
</p>
