﻿<h4>Other Activities</h4>
<p>This product is specifically designed to meet the demands and needs of the trades listed.</p>
<p>What you will find here is:</p>
<ul class="custom-bullet">
    <li>
        A specialist Insurance package from a market leader – we’ve 25 years’ experience in insuring freelance sports Instructors
    </li>
    <li>
        Quote and Buy in minutes – Proof of cover by email, instantly
    </li>
    <li>
        14 day cooling-off period*
    </li>

    <li>
        The option to pay by monthly instalments
    </li>

</ul>

<p>*You have the right to cancel your policy within 14 days without providing a reason. For cancellation charges please see our terms of business.</p>







