﻿


<div class="panel panel-sea">
    <div class="panel-heading">
        <h2>Quote Engine</h2>
    </div>

    <div class="tab">
        <button class="tablinks" id="policySearchBtn" onclick="openTab(event, 'policySearchTab')">Policy Details</button>
        <!--<button class="tablinks" onclick="openTab(event, 'insCoverTab')">Insurance Cover</button>-->
        <button class="tablinks" onclick="openTab(event, 'publicLiabilityTab')">Public Liability</button>
        <button class="tablinks" onclick="openTab(event, 'empliabilityTab')">Employers Liability</button>
        <button class="tablinks" onclick="openTab(event, 'matDamageTab')">Material Damage</button>
        <button class="tablinks" onclick="openTab(event, 'businessInterupTab')">Business Interruption</button>
        <button class="tablinks" onclick="openTab(event, 'cancelTab')">Cancellation Cover</button>
        <button class="tablinks" onclick="openTab(event, 'accidentTab')">PA & Endorsements</button>
    </div>
    <div class="quoteEngine">
        <div id="policySearchTab" class="tabcontent">
            <form id="searchForm"
                  class="searchForm"
                  name="searchForm"
                  novalidate
                  enctype="multipart/form-data"
                  ng-submit="RenewalController.SubmitForm(searchForm.$valid)"
                  role="form">

                <fieldset>
                    <legend>Client Detail</legend>

                    <div class="form-group">
                        <label class="control-label">Select Client</label>
                        <select class="form-control"
                                ng-model="RenewalController.clientEngine"
                                ng-change="RenewalController.SelectClient();"
                                ng-options="client.name for client in RenewalController.clients track by client.id"
                                name="policyselect">
                            <option value="">New Client</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Tam Reference</label>
                        <input class="form-control" disabled type="text" name="tamRef" data-ng-model="renewals.tamRef" />
                    </div>


                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.clientname.$invalid }">
                        <label class="control-label">Name</label>
                        <input class="form-control"
                               ng-required="true"
                               type="text" name="clientname"
                               data-ng-model="RenewalController.clientEngine.name" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.clientname.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.clientattention.$invalid }">
                        <label class="control-label">Attention</label>
                        <input class="form-control"
                               ng-required="true"
                               type="text"
                               name="clientattention"
                               data-ng-model="RenewalController.clientEngine.attention" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.clientattention.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.clienttradingname.$invalid }">
                        <label class="control-label">Company/Trading Name</label>
                        <input class="form-control"
                               ng-required="true"
                               type="text"
                               name="clienttradingname"
                               data-ng-model="RenewalController.clientEngine.tradingName" />

                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.clienttradingname.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.clientcertname.$invalid }">
                        <label class="control-label">Name on Certificate</label>
                        <input class="form-control"
                               ng-required="true"
                               type="text"
                               name="clientcertname"
                               data-ng-model="RenewalController.clientEngine.certName" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.clientcertname.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.clientsector.$invalid }">
                        <label class="control-label">Sector</label>

                        <select class="form-control"
                                data-ng-model="RenewalController.clientEngine.sector"
                                ng-required="true"
                                name="clientsector"
                                data-ng-change="RateCheckerController.test()">

                            <option ng-repeat="sector in RenewalController.view.sectors track by sector.policyId">{{sector.policyName}}</option>

                        </select>

                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.clientsector.$error.required" class="help-block">This is a required field</p>
                        </div>


                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.clientstreet1.$invalid }">
                        <label class="control-label">Street 1</label>
                        <input class="form-control"
                               ng-required="true"
                               name="clientstreet1"
                               type="text"
                               data-ng-model="RenewalController.clientEngine.street1" />

                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.clientstreet1.$error.required" class="help-block">This is a required field</p>
                        </div>

                    </div>

                    <div class="form-group">
                        <label class="control-label">Street 2</label>
                        <input class="form-control"
                               name="clientstreet2"
                               type="text"
                               data-ng-model="RenewalController.clientEngine.street2" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Town</label>
                        <input class="form-control"
                               name="clienttown"
                               type="text"
                               data-ng-model="RenewalController.clientEngine.town" />
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.clientcity.$invalid }">
                        <label class="control-label">City</label>
                        <input class="form-control"
                               name="clientcity"
                               type="text"
                               ng-required="true"
                               data-ng-model="RenewalController.clientEngine.city" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.clientcity.$error.required" class="help-block">This is a required field</p>
                        </div>

                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.clientpostcode.$invalid }">
                        <label class="control-label">PostCode</label>
                        <input class="form-control"
                               ng-required="true"
                               name="clientpostcode"
                               type="text"
                               data-ng-model="RenewalController.clientEngine.postCode" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.clientpostcode.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.clientphone1.$invalid }">
                        <label class="control-label">Phone 1</label>
                        <input class="form-control"
                               ng-required="true"
                               name="clientphone1"
                               type="text"
                               data-ng-model="RenewalController.clientEngine.phone1" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.clientphone1.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Phone 2</label>
                        <input class="form-control"
                               name="clientphone2"
                               type="text"
                               data-ng-model="RenewalController.clientEngine.phone2" />
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.clientemail.$invalid }">
                        <label class="control-label">Email</label>
                        <input class="form-control"
                               ng-required="true"
                               name="clientemail"
                               type="text"
                               data-ng-model="RenewalController.clientEngine.email" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.clientemail.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Agency</label>
                        <select class="form-control" name="clientagency" type="text" data-ng-model="RenewalController.clientEngine.agency">
                            <option value="1">UK</option>
                            <option value="3">EIRE</option>
                        </select>
                    </div>

                </fieldset>

                <br />
                <br />

                <fieldset>
                    <legend>Policy Detail</legend>
                    <div class="form-group">
                        <label class="control-label">Select Policy</label>
                        <select class="form-control"
                                name="policyselect"
                                ng-change="RenewalController.SelectPolicy();"
                                ng-model="RenewalController.policyEngine"
                                ng-options="quote.quoteRef for quote in RenewalController.clientEngine.quotes track by quote.id">
                            <option value="">New Quote</option>
                        </select>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.policytamocc.$invalid }">
                        <label class="control-label">Tam  Occupation</label>
                        <input type="text" class="form-control" name="policytamocc" ng-required="true" data-ng-model="RenewalController.policyEngine.tamOccupation" />
                        <!--<option>EQUIP HIRER</option>
                        <option>SHOWMEN</option>
                        <option>EVENT - C&M</option>
                        <option>LEISURE CENTRE</option>
                        <option>EVENT - DCFI</option>
                        <option>EVENT</option>
                        <option>FIELDSPORTS</option>
                        <option>EVENT - FIELDSP</option>
                        <option>EVENT - C&P</option>
                        <option>WEDDING</option>
                        <option>BAR MITZVAH</option>
                        <option>Motorised</option>
                        <option>AIRSOFT SITE</option>
                        <option>CATERER-FREELAN</option>
                        <option>FREELANCE - ACT</option>
                        <option>FREELANCE - SPO</option>
                        <option>EVENT - XMAS LI</option>
                        <option>EVENT - EXHIBIT
                        <option>
                        <option>PAINTBALL SITE</option>
                        <option>EVENT - SUPP</option>
                        <option>EVENT - STREET</option>
                        <option>CATER - TRAILER</option>
                        <option>RESTAURANT CONT</option>-->

                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.policytamocc.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>


                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.policytype.$invalid }">
                        <label class="control-label">Type</label>
                        <select class="form-control" ng-required="true" name="policytype" type="text" data-ng-model="RenewalController.policyEngine.type">
                            <option>EVEN</option>
                            <option>COMB</option>
                        </select>
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.policytype.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.policystatus.$invalid }">
                        <label class="control-label">Status</label>
                        <select class="form-control" ng-required="true" name="policystatus" type="text" data-ng-model="RenewalController.policyEngine.status">
                            <option value="{{sector.code}}" ng-repeat="sector in RenewalController.view.statusList">{{sector.description}}</option>
                        </select>
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.policystatus.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.policycsr.$invalid }">
                        <label class="control-label">CSR</label>
                        <select class="form-control" ng-required="true" name="policycsr" type="text" data-ng-model="RenewalController.policyEngine.csr">
                            <option>LD</option>
                            <option>CM</option>
                            <option>CH</option>
                            <option>KS</option>
                            <option>AM</option>
                            <option>RE</option>
                            <option>BP</option>
                            <option>WU</option>
                        </select>
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.policycsr.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Note</label>
                        <input class="form-control" name="clientnote" type="text" data-ng-model="RenewalController.policyEngine.note" />

                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.policyDep.$invalid }">
                        <label class="control-label">Department</label>
                        <select class="form-control" ng-required="true" name="policyDep" type="text" data-ng-model="RenewalController.policyEngine.dep">
                            <option>Commercial</option>
                            <option>Consumer</option>
                        </select>
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.policyDep.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <!--This is to be autogenerated- LEIetc->
                    <!--<div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.policyNum.$invalid }">
                        <label class="control-label">Policy Number</label>
                        <input class="form-control" ng-required="true" name="policyNum" type="text" data-ng-model="RenewalController.policyEngine.policyNumber" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.policyNum.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>-->

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.policyPayMode.$invalid }">
                        <label class="control-label">Pay Mode</label>
                        <select class="form-control" ng-required="true" name="policyPayMode" data-ng-model="RenewalController.policyEngine.payMode">
                            <option value="{{paymode.code}}" ng-repeat="paymode in RenewalController.view.payModes">{{paymode.description}}</option>
                        </select>
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.policyPayMode.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.policyBilling.$invalid }">
                        <label class="control-label">Billing</label>
                        <select class="form-control" ng-required="true" name="policyBilling" data-ng-model="RenewalController.policyEngine.billing">
                            <option>Client</option>
                            <option>Agent</option>
                        </select>
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.policyBilling.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.policyCommision.$invalid }">
                        <label class="control-label">Our Commission (%)</label>
                        <input class="form-control" ng-required="true" name="policyCommision" type="number" data-ng-model="RenewalController.policyEngine.ourCommission" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.policyCommision.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Broker Commission (%)</label>
                        <input class="form-control" name="policyBrokerCommission" type="number" data-ng-model="RenewalController.policyEngine.brokerCommission" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Agent Code</label>
                        <select class="form-control" name="policyAgenctCode" type="text" data-ng-model="RenewalController.policyEngine.agentCode">
                            <option>Code1</option>
                            <option>Code2</option>
                            <option>Code3</option>
                            <option>TESTAG0</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Broker Contact</label>
                        <input class="form-control" name="policybrokercontact" type="text" data-ng-model="RenewalController.policyEngine.brokerContact" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Total Net Premium</label>
                        <input class="form-control" name="policyNet" type="number" data-ng-model="RenewalController.policyEngine.netPrem" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">LI Fee</label>
                        <input class="form-control" name="policyFee" type="number" data-ng-model="RenewalController.policyEngine.liFee" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Producer</label>
                        <select class="form-control"
                                data-ng-options="prod.description for prod in RenewalController.view.producers track by prod.code"
                                name="policyprod"
                                data-ng-model="RenewalController.policyEngine.producer"></select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Producer Commission</label>
                        <input class="form-control" disabled type="text" ng-model="RenewalController.policyEngine.producer.commission" />
                    </div>

                </fieldset>

                <fieldset>
                    <legend>Cover Detail</legend>
                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverEvent.$invalid }">
                        <label class="control-label">Business/Event Description</label>
                        <input class="form-control"
                               ng-required="true"
                               name="coverEvent"
                               type="text"
                               data-ng-model="RenewalController.policyEngine.cover.desc1" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.coverEvent.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverEvent2.$invalid }">
                        <label class="control-label">Business/Event Description 2</label>
                        <input class="form-control"
                               ng-required="true"
                               name="coverEvent2"
                               type="text"
                               data-ng-model="RenewalController.policyEngine.cover.desc2" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.coverEvent2.$error.required" class="help-block">This is a required field</p>
                        </div>

                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverStartDate.$invalid }">
                        <label class="control-label">Cover Start Date</label>
                        <input class="form-control"
                               name="coverStartDate"
                               ng-required="true"
                               type="date"
                               data-ng-model="RenewalController.policyEngine.cover.startDateDt" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.coverStartDate.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverEndDate.$invalid }">
                        <label class="control-label">Cover End Date</label>
                        <input class="form-control"
                               name="coverEndDate"
                               type="date"
                               ng-required="true"
                               data-ng-model="RenewalController.policyEngine.cover.endDateDt" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.coverEndDate.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverStartTime.$invalid }">
                        <label class="control-label">Cover Start Time</label>
                        <input class="form-control"
                               name="coverStartTime"
                               type="time"
                               ng-required="true"
                               data-ng-model="RenewalController.policyEngine.cover.startTimeDt" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.coverStartTime.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverEndTime.$invalid }">
                        <label class="control-label">Cover End Time</label>
                        <input class="form-control"
                               name="coverEndTime"
                               type="time"
                               ng-required="true"
                               data-ng-model="RenewalController.policyEngine.cover.endTimeDt" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.coverEndTime.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverPurchasedDate.$invalid }">
                        <label class="control-label">Purchased Date</label>
                        <input class="form-control"
                               name="coverPurchasedDate"
                               type="date"
                               ng-required="true"
                               data-ng-model="RenewalController.policyEngine.cover.purchasedDateDt" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.coverPurchasedDate.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverPurchasedTime.$invalid }">
                        <label class="control-label">Purchased Time</label>
                        <input class="form-control"
                               name="coverPurchasedTime"
                               type="time"
                               ng-required="true"
                               data-ng-model="RenewalController.policyEngine.cover.purchasedTimeDt" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.coverPurchasedTime.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverIssuedDate.$invalid }">
                        <label class="control-label">Issued Date</label>
                        <input class="form-control"
                               name="coverIssuedDate"
                               type="date"
                               ng-required="true"
                               data-ng-model="RenewalController.policyEngine.cover.issuedDateDt" />
                        <div ng-show="searchForm.$submitted">
                            <p ng-show="searchForm.coverIssuedDate.$error.required" class="help-block">This is a required field</p>
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Is this policy Events or Annual?</label>
                        <select class="form-control" name="coverPolicyType" data-ng-model="RenewalController.policyEngine.policyType">
                            <option>Annual</option>
                            <option>Events</option>
                        </select>
                    </div>


                    <div ng-if="RenewalController.policyEngine.policyType == 'Annual'">

                        <h3> Annual</h3>

                        <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverNightclub.$invalid }">
                            <label class="control-label">Nightclub</label>
                            <select class="form-control"
                                    name="coverNightclub"
                                    ng-required="true"
                                    data-ng-model="RenewalController.policyEngine.cover.nightClub">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                            <div ng-show="searchForm.$submitted">
                                <p ng-show="searchForm.coverNightclub.$error.required" class="help-block">This is a required field</p>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverBIHA.$invalid }">
                            <label class="control-label">BIHA</label>
                            <select class="form-control"
                                    name="coverBIHA"
                                    ng-required="true"
                                    data-ng-model="RenewalController.policyEngine.cover.biha">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                            <div ng-show="searchForm.$submitted">
                                <p ng-show="searchForm.coverBIHA.$error.required" class="help-block">This is a required field</p>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverShowman.$invalid }">
                            <label class="control-label">Showman</label>
                            <select class="form-control"
                                    name="coverShowman"
                                    ng-required="true"
                                    data-ng-model="RenewalController.policyEngine.cover.showman">
                                <option>Yes</option>
                                <option>No</option>
                            </select>
                            <div ng-show="searchForm.$submitted">
                                <p ng-show="searchForm.coverShowman.$error.required" class="help-block">This is a required field</p>
                            </div>
                        </div>

                        <div class="form-group">
                            <label class="control-label">Instructor Name</label>
                            <input class="form-control"
                                   name="coverNoInstructors"
                                   type="text"
                                   ng-model="RenewalController.instructorName" />

                            <input type="button" value="Add Instructor" class="btn btn-u btn-u-dark-blue" data-ng-click="RenewalController.AddInstructor();" />

                            <div ng-repeat="instructor in RenewalController.policyEngine.cover.instructors track by $index">
                                <label class="control-label">Instructor: {{$index+1}}</label>
                                <input class="form-control"
                                       name="addInstructor"
                                       type="text"
                                       ng-model="RenewalController.policyEngine.cover.instructors[$index]"
                                       ng-required="true" />
                                <input type="button" class="btn btn-u btn-u-dark-blue" ng-click="RenewalController.RemoveInstructor($index)" value="Remove Instructor" />

                            </div>
                        </div>

                    </div>

                    <div ng-if="RenewalController.policyEngine.policyType == 'Events'">

                        <h3>Event</h3>
                        <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverEventName.$invalid }">
                            <label class="control-label">Event Name</label>
                            <input class="form-control"
                                   name="coverEventName"
                                   type="text"
                                   ng-required="true"
                                   data-ng-model="RenewalController.policyEngine.cover.eventname" />
                            <div ng-show="searchForm.$submitted">
                                <p ng-show="searchForm.coverEventName.$error.required" class="help-block">This is a required field</p>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverNoVisitors.$invalid }">
                            <label class="control-label">No. Of Visitors</label>
                            <input class="form-control"
                                   name="coverNoVisitors"
                                   type="number"
                                   ng-required="true"
                                   data-ng-model="RenewalController.policyEngine.cover.numVisitors" />
                            <div ng-show="searchForm.$submitted">
                                <p ng-show="searchForm.coverNoVisitors.$error.required" class="help-block">This is a required field</p>
                            </div>
                        </div>

                        <div class="form-group" ng-class="{ 'has-error' : searchForm.$submitted && searchForm.coverNoEvents.$invalid }">
                            <label class="control-label">No. Of Events</label>
                            <input class="form-control"
                                   name="coverNoEvents"
                                   type="number"
                                   ng-required="true"
                                   data-ng-model="RenewalController.policyEngine.cover.numEvents" />

                            <div ng-show="searchForm.$submitted">
                                <p ng-show="searchForm.coverNoEvents.$error.required" class="help-block">This is a required field</p>
                            </div>

                        </div>

                    </div>

                    <h3>Cancellation</h3>


                    <div class="form-group">
                        <label class="control-label">Policy Wording</label>
                        <select class="form-control" name="coverWording" data-ng-model="RenewalController.policyEngine.cover.policyWording">
                            <option>S&LC0616-LIUK(AFFINITY)</option>
                            <option>S&LC0616-LIIRE(AFFINITY)</option>
                            <option>S&LC0616-LIUK</option>
                            <option>S&LC0616-LIIRE</option>
                            <option>S&LC0616-Events LI IRE</option>
                            <option>S&LC0616-Events LI UK</option>
                        </select>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Reason For Cancellation</label>
                        <select class="form-control"
                                data-ng-model="RenewalController.policyEngine.cover.cancellation"
                                name="coverCancelSelect"
                                data-ng-change="RateCheckerController.status()">
                            <option value="agent">Product unsuitable / misunderstood</option>
                            <option value="client">Product too expensive</option>
                            <option value="agent">Alternative product purchased</option>
                            <option value="client">Cover overlapped with pre-existing cover</option>
                            <option value="agent">Product cancelled within cooling off period</option>
                            <option value="client">Product cancelled by underwriter</option>
                            <option value="agent">Poor service/complaint</option>
                            <option value="client">Cover no longer required</option>
                            <option value="agent">Other (administrative reason)</option>
                            <option value="client">Not Known</option>
                        </select>

                    </div>

                    <h3>Endorsements</h3>

                    <div class="form-group">
                        <label class="control-label">Website Clauses</label>
                        <select class="form-control"
                                name="policyClause"
                                ng-options="clause.name for clause in RenewalController.view.clauses track by clause.id"
                                data-ng-model="RenewalController.policyEngine.policyClause"></select>

                        <input type="button" value="Add Clause" class="btn btn-u btn-u-dark-blue" data-ng-click="RenewalController.AddClause();" />

                    </div>

                    <div ng-repeat="instructor in RenewalController.policyEngine.clauses track by $index">
                        <div class="form-group">
                            <label class="control-label">Clause: {{$index+1}}</label>
                            <input class="form-control"
                                   name="addClause"
                                   disabled="disabled"
                                   type="text"
                                   ng-model="RenewalController.policyEngine.clauses[$index].name" />
                            <input type="button" class="btn btn-u btn-u-dark-blue" ng-click="RenewalController.RemoveClause($index)" value="Remove Clause" />
                        </div>
                    </div>

                    <div class="form-group">
                        <label class="control-label">Upload Custom Clause</label>
                        <input id="fileupload" accept="application/pdf" type="file" onchange="FileSelected(searchForm.fileupload)" name="fileupload" />

                        <input type="button" class="btn btn-u btn-u-dark-blue" data-ng-click="RenewalController.SavePDF();" value="Upload Clause PDF" />
                    </div>

                    <div ng-repeat="instructor in RenewalController.policyEngine.customClauses track by $index">
                        <div class="form-group">
                            <label class="control-label">Saved PDF Clause: {{$index+1}}</label>
                            <input class="form-control"
                                   name="addCustomClause"
                                   disabled="disabled"
                                   type="text"
                                   ng-model="RenewalController.policyEngine.customClauses[$index]" />
                            <input type="button" class="btn btn-u btn-u-dark-blue" ng-click="RenewalController.DeletePDF($index)" value="Remove PDF File" />
                        </div>
                    </div>

                    <input type="submit" class="btn btn-u btn-u-dark-blue pull-left" value="Add/Update Policy" />
                    <input type="button" class="btn btn-u btn-u-dark-blue pull-left" data-ng-click="RenewalController.Debug();" value="Debug" />
                    <input type="button" class="btn btn-u btn-u-dark-blue pull-left" data-ng-click="RenewalController.ViewQuote();" value="View Quote" />
                    <input type="button" class="btn btn-u btn-u-dark-blue pull-left" data-ng-click="RenewalController.EmailQuote();" value="Email Quote" />
                    
                    <div class="clear-both">
                    </div>

                    <div class="form-group">
                        <input type="button" style="width:20%" class="btn btn-u btn-u-dark-blue" data-ng-click="RenewalController.EmailTestQuote();" value="Email Test Quote" />
                        <input type="text" style="width:30%" class="form-control" placeholder="Test Email Address" ng-model="RenewalController.testQuoteAddress" />
                    </div>

                </fieldset>

                <div>
                    <label class="help-block errorText" ng-if="RenewalController.emailedQuote == true">A Quote has been emailed</label>
                </div>

                <div>
                    <label class="help-block errorText" ng-if="RenewalController.quoteRef != ''">You have created/updated {{RenewalController.quoteRef}}</label>
                </div>

                <div>
                    <label class="help-block errorText" ng-if="RenewalController.error != ''">There has been an error: {{RenewalController.error}}</label>
                </div>

                <div>
                    <label style="text-align:left" ng-show="searchForm.$submitted && searchForm.$invalid" class="help-block errorText">Please check all fields</label>
                </div>

            </form>

        </div>

    </div>


    <!-- ******************************************    End Policy Details ***************************************************-->
    <div id="publicLiabilityTab" class="tabcontent">
        <div class="panel-body">
            <form id="policyDetailForm" name="pubLiabilityForm" class="searchForm" novalidate ng-submit="pubLiabilityForm.$valid">

                <div class="form-group">
                    <label class="control-label">Total Net Premium</label>
                    <input class="form-control"
                           name="plCoverTotal"
                           type="text"
                           data-ng-model="RenewalController.policyEngine.plCover.total" />
                </div>

                <div class="form-group">
                    <label class="control-label">Public Liability</label>
                    <select class="form-control"
                            name="plIndemnity"
                            type="text"
                            ng-options="indemnity.indemnityString for indemnity in RenewalController.view.indemnities track by indemnity.id"
                            data-ng-model="RenewalController.policyEngine.plIndemnity">
                        <option value="">No Cover</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Products Liability</label>
                    <select class="form-control"
                            name="prodIndemnity"
                            type="text"
                            ng-options="indemnity.indemnityString for indemnity in RenewalController.view.indemnities track by indemnity.id"
                            data-ng-model="RenewalController.policyEngine.prodIndemnity">
                        <option value="">No Cover</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Professional Indemnity</label>
                    <select class="form-control"
                            name="profIndemnity"
                            type="text"
                            ng-options="indemnity.indemnityString for indemnity in RenewalController.view.indemnities track by indemnity.id"
                            data-ng-model="RenewalController.policyEngine.profIndemnity">
                        <option value="">No Cover</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Total Turnover</label>
                    <input class="form-control"
                           type="text"
                           data-ng-model="RenewalController.policyEngine.plCover.turnover" />
                </div>

                <div class="form-group">
                    <label class="control-label">Excess</label>
                    <input class="form-control"
                           type="text"
                           data-ng-model="RenewalController.policyEngine.plCover.excess" />
                </div>

                <table class="table table-bordered table-striped table-condensed quoteEngineItemTable">
                    <tr>
                        <th>Description</th>
                        <th>T/O</th>
                        <th>Excess</th>
                        <th>Rate</th>
                        <th>Premium</th>
                        <th>Sum Insured</th>
                    </tr>
                    <tr ng-repeat="item in RenewalController.policyEngine.plCover.itemsAdded track by $index"
                        ng-click="RenewalController.SelectItemPL($index);">
                        <td>{{item.itemDescription}}</td>
                        <td>{{item.turnover}}</td>
                        <td>{{item.excess}}</td>
                        <td>{{item.rate}}</td>
                        <td>{{item.premium}}</td>
                        <td>{{item.sumInsured}}</td>
                    </tr>
                </table>

                <br />

                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input class="form-control"
                           name="plItemDesc"
                           type="text"
                           ng-model="RenewalController.plItem.itemDescription" />
                </div>

                <div class="form-group">
                    <label class="control-label">Turnover</label>
                    <input class="form-control"
                           name="plItemTurnover"
                           type="text"
                           ng-model="RenewalController.plItem.turnover" />
                </div>

                <div class="form-group">
                    <label class="control-label">Excess</label>
                    <input class="form-control"
                           name="plItemExcess"
                           type="text"
                           ng-model="RenewalController.plItem.excess" />
                </div>

                <div class="form-group">
                    <label class="control-label">Rate</label>
                    <input class="form-control"
                           name="plItemRate"
                           type="text"
                           ng-model="RenewalController.plItem.rate" />
                </div>

                <div class="form-group">
                    <label class="control-label">Premium</label>
                    <input class="form-control"
                           name="plItemPremium"
                           type="text"
                           ng-model="RenewalController.plItem.premium" />
                </div>

                <div class="form-group">
                    <label class="control-label">Sum Insured (MD)</label>
                    <input class="form-control"
                           name="plItemPremium"
                           type="text"
                           ng-model="RenewalController.plItem.sumInsured" />
                </div>

                <input type="button"
                       value="Add Item"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       data-ng-click="RenewalController.AddItemPL();" />

                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       ng-click="RenewalController.RemovePLItem()"
                       value="Remove Item" />

                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       ng-click="RenewalController.UpdatePLItem()"
                       value="Update Item" />

                <input type="submit"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       ng-click="RenewalController.SubmitForm(pubLiabilityForm.$valid)"
                       value="Save Details" />

                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       data-ng-click="RenewalController.Debug();"
                       value="Debug" />

                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       data-ng-click="RenewalController.ViewQuote();"
                       value="View Quote" />

            </form>

            <div>
                <label class="help-block errorText" ng-if="RenewalController.quoteRef != ''">You have updated {{RenewalController.quoteRef}}</label>
            </div>

            <div>
                <label class="help-block errorText" ng-if="RenewalController.error != ''">There has been an error: {{RenewalController.error}}</label>
            </div>

        </div>
    </div>


    <div id="empliabilityTab" class="tabcontent">
        <div class="panel-body">
            <form id="empliabilityForm" name="empliabilityForm" class="searchForm" novalidate ng-submit="empliabilityForm.$valid">

                <div class="form-group">
                    <label class="control-label">Total Net Premium</label>
                    <input class="form-control" type="text" data-ng-model="RenewalController.policyEngine.elCover.total" />
                </div>

                <div class="form-group">
                    <label class="control-label">Employers Liability LOI</label>
                    <select class="form-control" type="text"
                            ng-options="indemnity.indemnityString for indemnity in RenewalController.elIndemnities track by indemnity.id"
                            data-ng-model="RenewalController.policyEngine.elIndemnity">
                        <option value="">No Cover</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">ERN</label>
                    <input class="form-control" type="text" data-ng-model="RenewalController.policyEngine.elCover.ern" />
                </div>

                <div class="form-group">
                    <label class="control-label">No. Employees/Volunteers</label>
                    <input type="text" class="form-control" data-ng-model="RenewalController.policyEngine.elCover.employeeTotal" />
                </div>

                <table class="table table-bordered table-striped table-condensed quoteEngineItemTable">
                    <tr>
                        <th>Duties</th>
                        <th>W/R</th>
                        <th>Rate</th>
                        <th>Premium</th>
                    </tr>

                    <tr ng-repeat="item in RenewalController.policyEngine.elCover.itemsAdded track by $index"
                        ng-click="RenewalController.SelectItemEL($index);">
                        <td>{{item.activity}}</td>
                        <td>{{item.wageRoll}}</td>
                        <td>{{item.rate}}</td>
                        <td>{{item.premium}}</td>
                    </tr>
                </table>

                <br />

                <div class="form-group">
                    <label class="control-label">Activity</label>
                    <input class="form-control"
                           name="plItemTurnover"
                           type="text"
                           ng-model="RenewalController.elItem.activity" />
                </div>

                <div class="form-group">
                    <label class="control-label">Wage Roll</label>
                    <input class="form-control"
                           name="plItemExcess"
                           type="number"
                           ng-model="RenewalController.elItem.wageRoll" />
                </div>

                <div class="form-group">
                    <label class="control-label">Rate</label>
                    <input class="form-control"
                           name="plItemRate"
                           type="number"
                           ng-model="RenewalController.elItem.rate" />
                </div>

                <div class="form-group">
                    <label class="control-label">Premium</label>
                    <input class="form-control"
                           name="plItemPremium"
                           type="number"
                           ng-model="RenewalController.elItem.premium" />
                </div>

                <input type="button"
                       value="Add Item"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       data-ng-click="RenewalController.AddItemEL();" />

                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       ng-click="RenewalController.RemoveELItem()"
                       value="Remove Item" />

                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       ng-click="RenewalController.UpdateELItem()"
                       value="Update Item" />

                <input type="submit"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       ng-click="RenewalController.SubmitForm(pubLiabilityForm.$valid)"
                       value="Save Details" />

                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       data-ng-click="RenewalController.Debug();"
                       value="Debug" />

                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       data-ng-click="RenewalController.ViewQuote();"
                       value="View Quote" />

            </form>

            <div>
                <label class="help-block errorText" ng-if="RenewalController.quoteRef != ''">You have updated {{RenewalController.quoteRef}}</label>
            </div>

            <div>
                <label class="help-block errorText" ng-if="RenewalController.error != ''">There has been an error: {{RenewalController.error}}</label>
            </div>

        </div>
    </div>

    <div id="matDamageTab" class="tabcontent">
        <div class="panel-body">
            <form id="matDamageForm" name="matDamageForm" class="searchForm" novalidate ng-submit="matDamageForm.$valid">

                <div class="form-group">
                    <label class="control-label">Total Net Premium</label>
                    <input class="form-control" type="text" data-ng-model="RenewalController.policyEngine.mdCover.total" />
                </div>

                <div class="form-group">
                    <label class="control-label">Risk Address</label>
                    <input class="form-control" type="text" data-ng-model="RenewalController.policyEngine.mdCover.mdAddress" />
                </div>

                <div class="form-group">
                    <label class="control-label">PostCode</label>
                    <input class="form-control" type="text" data-ng-model="RenewalController.policyEngine.mdCover.mdPostCode" />
                </div>

                <div class="form-group">
                    <label class="control-label">Total Sum Insured</label>
                    <input class="form-control" type="text" data-ng-model="RenewalController.policyEngine.mdCover.sumInsured" />
                </div>

                <div class="form-group">
                    <label class="control-label">Excess</label>
                    <input class="form-control" type="text" data-ng-model="RenewalController.policyEngine.mdCover.excess" />
                </div>

                <div class="form-group">
                    <label class="control-label">Subsidence Excess</label>
                    <input class="form-control" type="text" data-ng-model="RenewalController.policyEngine.mdCover.subsidence" />
                </div>


                <fieldset>

                    <legend>Bespoke Items</legend>

                    <table class="table table-bordered table-striped table-condensed quoteEngineItemTable">
                        <tr>
                            <th>Description</th>
                            <th>Sum Insured</th>
                            <th>Rate</th>
                            <th>Premium</th>
                            <th>Excess</th>
                        </tr>
                        <tr ng-repeat="item in RenewalController.policyEngine.mdCover.itemsAdded track by $index"
                            ng-click="RenewalController.SelectItemMD($index);">
                            <td>{{item.itemDescription}}</td>
                            <td>{{item.sumInsured}}</td>
                            <td>{{item.rate}}</td>
                            <td>{{item.premium}}</td>
                            <td>{{item.excess}}</td>
                        </tr>
                    </table>

                    <br />

                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <input class="form-control"
                               name="plItemTurnover"
                               type="text"
                               ng-model="RenewalController.mdItem.itemDescription" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Sum Insured</label>
                        <input class="form-control"
                               name="plItemExcess"
                               type="text"
                               ng-model="RenewalController.mdItem.sumInsured" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Rate</label>
                        <input class="form-control"
                               name="plItemRate"
                               type="text"
                               ng-model="RenewalController.mdItem.rate" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Premium</label>
                        <input class="form-control"
                               name="plItemPremium"
                               type="text"
                               ng-model="RenewalController.mdItem.premium" />
                    </div>

                    <!--<div class="form-group">
                        <label class="control-label">Excess</label>
                        <input class="form-control"
                               name="plItemPremium"
                               type="text"
                               ng-model="RenewalController.mdItem.excess" />
                    </div>-->

                    <input type="button"
                           value="Add Rate Item"
                           style="width:20%; margin:10px"
                           class="btn btn-u btn-u-blue"
                           ng-click="RenewalController.AddItemMD();" />

                    <input type="button"
                           style="width:20%; margin:10px"
                           class="btn btn-u btn-u-blue"
                           ng-click="RenewalController.RemoveMDItem()"
                           value="Remove Rate Item" />

                    <input type="button"
                           style="width:20%; margin:10px"
                           class="btn btn-u btn-u-blue"
                           ng-click="RenewalController.UpdateMDItem()"
                           value="Update Rate Item" />

                </fieldset>

                <br />

                <fieldset>

                    <legend>Covers</legend>


                    <div class="form-group">
                        <label class="control-label">Material Damage Covers</label>
                        <select class="form-control"
                                name="mdCovers"
                                type="text"
                                ng-change="RenewalController.SelectMDCover();"
                                ng-options="cover.coverHeader for cover in RenewalController.view.mdCovers track by cover.id"
                                data-ng-model="RenewalController.selectedMdCover">
                            <option value="">None</option>
                        </select>
                    </div>


                    <table class="table table-bordered table-striped table-condensed quoteEngineItemTable">
                        <tr>
                            <th>Description</th>
                            <th>Sum Insured</th>
                            <th>Rate</th>
                            <th>Premium</th>
                            <th>Excess</th>
                        </tr>
                        <tr ng-repeat="cover in RenewalController.policyEngine.mdCovers track by $index"
                            ng-click="RenewalController.SelectMDRow($index);">
                            <td>{{cover.coverHeader}}</td>
                            <td>{{cover.sumInsured}}</td>
                            <td>{{cover.rate}}</td>
                            <td>{{cover.total}}</td>
                            <td>{{cover.excess}}</td>
                        </tr>
                    </table>


                    <br />

                    <div class="form-group">
                        <label class="control-label">Description</label>
                        <input class="form-control"
                               name="mdCoverDesc"
                               type="text"
                               ng-model="RenewalController.mdCover.coverHeader" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Sum Insured</label>
                        <input class="form-control"
                               name="mdCoverSumInsured"
                               type="text"
                               ng-model="RenewalController.mdCover.sumInsured" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Rate</label>
                        <input class="form-control"
                               name="mdCoverRate"
                               type="text"
                               ng-model="RenewalController.mdCover.rate" />
                    </div>

                    <div class="form-group">
                        <label class="control-label">Premium</label>
                        <input class="form-control"
                               name="mdCoverPremium"
                               type="text"
                               ng-model="RenewalController.mdCover.total" />
                    </div>

                    <!--<div class="form-group">
                        <label class="control-label">Excess</label>
                        <input class="form-control"
                               name="mdCoverExcess"
                               type="text"
                               ng-model="RenewalController.mdCover.excess" />
                    </div>-->

                    <input type="button"
                           style="width:20%; margin:10px"
                           class="btn btn-u btn-u-blue"
                           ng-click="RenewalController.RemoveMDCover();"
                           value="Remove Cover" />

                    <input type="button"
                           style="width:20%; margin:10px"
                           class="btn btn-u btn-u-blue"
                           ng-click="RenewalController.UpdateMdCover();"
                           value="Update Cover" />

                    <input type="button"
                           style="width:20%; margin:10px"
                           class="btn btn-u btn-u-blue"
                           ng-click="RenewalController.AddMdCover();"
                           value="Add Cover" />

                </fieldset>


                <br />


                <input type="submit"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       ng-click="RenewalController.SubmitForm(pubLiabilityForm.$valid)"
                       value="Save Details" />


                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       data-ng-click="RenewalController.Debug();"
                       value="Debug" />

                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       data-ng-click="RenewalController.ViewQuote();"
                       value="View Quote" />

            </form>

            <div>
                <label class="help-block errorText" ng-if="RenewalController.quoteRef != ''">You have updated {{RenewalController.quoteRef}}</label>
            </div>

            <div>
                <label class="help-block errorText" ng-if="RenewalController.error != ''">There has been an error: {{RenewalController.error}}</label>
            </div>

        </div>
    </div>

    <div id="businessInterupTab" class="tabcontent">
        <div class="panel-body">
            <form id="businessInteruptForm" name="businessInteruptForm" class="searchForm" novalidate ng-submit="businessInteruptForm.$valid">

                <div class="form-group">
                    <label class="control-label">Total Net Premium</label>
                    <input class="form-control" type="text" data-ng-model="RenewalController.policyEngine.biCover.total" />
                </div>

                <div class="form-group">
                    <label class="control-label">Total Sum Insured</label>
                    <input class="form-control" type="text" data-ng-model="RenewalController.policyEngine.biCover.sumInsured" />
                </div>

                <div class="form-group">
                    <label class="control-label">Excess</label>
                    <input class="form-control" type="text" data-ng-model="RenewalController.policyEngine.biCover.excess" />
                </div>

                <table class="table table-bordered table-striped table-condensed quoteEngineItemTable">
                    <tr>
                        <th>Rate</th>
                        <th>Premium</th>
                        <th>Indeminity Period</th>
                        <th>Description</th>
                        <th>Sum Insured</th>
                        <th>Excess</th>
                    </tr>
                    <tr ng-repeat="item in RenewalController.policyEngine.biCover.itemsAdded track by $index"
                        ng-click="RenewalController.SelectItemBI($index);">
                        <td>{{item.rate}}</td>
                        <td>{{item.premium}}</td>
                        <td>{{item.indemnityPeriod}}</td>
                        <td>{{item.itemDescription}}</td>
                        <td>{{item.sumInsured}}</td>
                        <td>{{item.excess}}</td>
                    </tr>
                </table>
                <br />

                <div class="form-group">
                    <label class="control-label">Rate</label>
                    <input class="form-control"
                           name="biRate"
                           type="text"
                           ng-model="RenewalController.biItem.rate" />
                </div>

                <div class="form-group">
                    <label class="control-label">Premium</label>
                    <input class="form-control"
                           name="biPremium"
                           type="text"
                           ng-model="RenewalController.biItem.premium" />
                </div>

                <div class="form-group">
                    <label class="control-label">Indemnity Period</label>
                    <select class="form-control"
                            name="biIndemnity"
                            type="text"
                            ng-model="RenewalController.biItem.indemnityPeriod">
                        <option>6 Months</option>
                        <option>12 Months</option>
                        <option>18 Months</option>
                        <option>24 Months</option>
                        <option>36 Months</option>
                    </select>
                </div>

                <div class="form-group">
                    <label class="control-label">Description</label>
                    <input class="form-control"
                           name="biDescription"
                           type="text"
                           ng-model="RenewalController.biItem.itemDescription" />
                </div>

                <div class="form-group">
                    <label class="control-label">Sum Insured</label>
                    <input class="form-control"
                           name="biSumInsured"
                           type="text"
                           ng-model="RenewalController.biItem.sumInsured" />
                </div>

                <div class="form-group">
                    <label class="control-label">Excess</label>
                    <input class="form-control"
                           name="biPremium"
                           type="text"
                           ng-model="RenewalController.biItem.excess" />
                </div>

                <input type="button"
                       value="Add Item"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       data-ng-click="RenewalController.AddItemBI();" />

                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       ng-click="RenewalController.RemoveBIItem()"
                       value="Remove Item" />

                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       ng-click="RenewalController.UpdateBIItem()"
                       value="Update Item" />

                <input type="submit"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       ng-click="RenewalController.SubmitForm(pubLiabilityForm.$valid)"
                       value="Save Details" />

                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       data-ng-click="RenewalController.Debug();"
                       value="Debug" />

                <input type="button"
                       style="width:20%; margin:10px"
                       class="btn btn-u btn-u-dark-blue"
                       data-ng-click="RenewalController.ViewQuote();"
                       value="View Quote" />

            </form>

            <div>
                <label class="help-block errorText" ng-if="RenewalController.quoteRef != ''">You have updated {{RenewalController.quoteRef}}</label>
            </div>

            <div>
                <label class="help-block errorText" ng-if="RenewalController.error != ''">There has been an error: {{RenewalController.error}}</label>
            </div>

        </div>
    </div>

    <div id="cancelTab" class="tabcontent">
        <div class="panel-body">
            <form id="cancellationForm" name="cancellationForm" class="searchForm" novalidate ng-submit="cancellationForm.$valid">

                <div class="form-group">
                    <label class="control-label">Total Net Premium</label>
                    <input class="form-control" type="text" data-ng-model="renewals.cancellation_netPremium" />
                </div>

                <div class="form-group">
                    <label class="control-label">Cancellation Sum Insured</label>
                    <input type="number" name="coverCancellSum" ng-model="RenewalController.policyEngine.cover.cancelSumInsured" />
                </div>

                <div class="form-group">
                    <label class="control-label">Bad Weather?</label>
                    <input style="width:5%" class="form-control" type="checkbox" data-ng-model="renewals.cancellation_badweather" />
                </div>

                <table class="table table-bordered table-striped table-condensed">
                    <tr>
                        <th>Sum Insured</th>
                        <th>Rate</th>
                        <th>Premium</th>
                        <th>Excess</th>
                        <th>Specification</th>
                    </tr>
                </table>
            </form>
        </div>
    </div>

    <div id="accidentTab" class="tabcontent">
        <div class="panel-body">
            <form id="accidentForm" name="accidentForm" class="form-horizontal" novalidate ng-submit="accidentForm.$valid">

                <div class="form-group">
                    <label class="control-label">Accident Premium</label>
                    <input class="form-control" type="text" data-ng-model="renewals.accident_netPremium" />
                </div>

                <div class="form-group">
                    <table class="table table-bordered table-striped table-condensed">
                        <tr>
                            <th>Description</th>
                            <th>Sum Insured</th>
                            <th>Specification</th>
                        </tr>
                    </table>
                </div>

                <div class="form-group">
                    <label class="control-label">Sickness Premium</label>
                    <input class="form-control" type="text" data-ng-model="renewals.accident_sickPremium" />
                </div>

                <div class="form-group">
                    <label class="control-label">Weekly Allowance</label>
                    <input class="form-control" type="text" data-ng-model="renewals.accident_weeklyAllowance" />
                </div>

                <fieldset>
                    <legend>Endorsements Available</legend>
                    <table class="table table-bordered table-striped table-condensed">
                        <tr>
                            <th>Description</th>
                            <th>Code</th>
                        </tr>
                    </table>
                </fieldset>

            </form>
        </div>
    </div>

</div>




