﻿<div class="outer-quote row">
    <figure class="quote-banner" style="position: relative;margin-bottom:-95px">
        <div class="img" style="background-image: url('/Content/Images/landingpages/{{NewPaymentController.navigationData.pictureUrl}}');"></div>
        <div class="overlay">
            <h1>{{NewPaymentController.policyData.policyName}}</h1>
        </div>
    </figure>
    <div class="breadrow">
        <div class="registration-breadcrumb">
            <div class="bc-circle">
                <span class="step-name">Quote</span>
            </div>
            <div class="bc-divide">
                <span></span>
            </div>
            <div class="bc-circle">
                <span class="step-name">Personal Details</span>
            </div>
            <div class="bc-divide">
                <span></span>
            </div>
            <div class="bc-circle">
                <span class="current"></span>
                <span class="step-name">Payment</span>
            </div>
            <div class="bc-divide">
                <span></span>
            </div>
            <div class="bc-circle">
                <span class="step-name">Confirmation</span>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="price-total-panel">
    <h2> Total Payable:  </h2> <h2>{{NewPaymentController.policyData.locale.currencySymbol}}{{ NewPaymentController.policyData.total | number : 2}} </h2>
    <span ng-if="NewPaymentController.policyData.brokerName != null && NewPaymentController.policyData.net > 0">
        Total Net: {{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.policyData.net | number : 2}}
        LeisureInsure Fee: {{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.policyData.leisureInsureFee | number : 2}}
        Tax: {{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.policyData.tax | number : 2}}
        Agent Commission: {{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.policyData.brokerCommission | number : 2}}
    </span>
    <div>
        <h5>All insurance taxes and fees, where applicable, are included in the above price</h5>
    </div>
</div>

<form id="paymentForm"
      name="paymentForm"
      novalidate
      ng-submit="NewPaymentController.submitPaymentForm(paymentForm,paymentForm.$valid);"
      class="form-horizontal quoteform"
      role="form">


    <section class="paymentSection">
        <div class="col-sm-12"><h3>Your quote reference - {{NewPaymentController.policyData.quoteReference}} </h3></div>

    </section>

    <div class="clearfix"></div>

    <section class="paymentSection">
        <div class="col-sm-12"><h3>Your summary of cover</h3> </div>
        <div class="clearfix"></div>
        <div class="col-sm-8 summaryCover">
            <div ng-if="cover.coverRequired == true" ng-repeat="cover in NewPaymentController.policyData.covers">
                <div class="col-sm-5">
                    <p ng-if="cover.indemnity > 0">
                        <label>{{cover.coverHeader}}</label> - {{NewPaymentController.policyData.locale.currencySymbol}}{{cover.indemnity | number}}
                    </p>
                    <p ng-if="cover.sumInsured > 0">
                        <label>{{cover.coverHeader}}</label> - {{NewPaymentController.policyData.locale.currencySymbol}}{{cover.sumInsured | number}}
                    </p>
                    <p ng-if="cover.net >= 0 && cover.indemnity == 0 && cover.sumInsured == 0">
                        <label>{{cover.coverHeader}}</label>
                    </p>
                </div>
                <div class="col-sm-3">

                    <span ng-if="cover.excess == 0">Excess - Nil</span>
                    <span ng-if="cover.excess > 0">Excess - {{NewPaymentController.policyData.locale.currencySymbol}}{{cover.excess}}</span>


                </div>
                <div class="col-sm-4">

                    <label><span ng-if="cover.total == 0">Included</span></label>
                    <label><span ng-if="cover.total > 0">{{NewPaymentController.policyData.locale.currencySymbol}}{{cover.total | number:2}}</span></label>

                </div>
                <div class="clearfix"></div>
            </div>
            <div ng-if="NewPaymentController.policyData.legalFeesAdded == true">
                <div class="col-sm-5" ng-if="NewPaymentController.policyData.legalFeesAdded == true">
                    <label>
                        Legal Care
                    </label>
                </div>
                <div class="col-sm-3"></div>
                <div class="col-sm-4">
                    <label><span>{{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.policyData.legalFees | number:2}}</span></label>
                </div>
            </div>

            <br />
            <div class="col-sm-5">
                <label>
                    Total (including insurance tax and {{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.policyData.leisureInsureFee | number:2}} arrangement fee)
                </label>
            </div>
            <div class="col-sm-3"></div>

            <div class="col-sm-4">

                <label><span>{{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.policyData.total | number:2}}</span></label>

            </div>
        </div>
        <div class="clearfix"></div>
    </section>


    <section class="paymentSection" ng-if="NewPaymentController.policyData.brokerName != null">
        <div class="col-sm-12"><h3>Agent Summary</h3> </div>

        <div class="col-sm-6">
            <div class="col-sm-5">
                <label>
                    LeisureInsure Fee
                </label>
            </div>

            <div class="col-sm-7">
                <label><span>{{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.policyData.leisureInsureFee | number:2}}</span></label>
            </div>

            <div class="col-sm-5">
                <label>
                    Agent Commission
                </label>
            </div>

            <div class="col-sm-7">
                <label><span>{{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.policyData.brokerCommission | number:2}}</span></label>
            </div>

            <div class="col-sm-5">
                <label>
                    Net Premium
                </label>
            </div>
            <!--<div class="col-sm-3"></div>-->

            <div class="col-sm-7">
                <label><span>{{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.policyData.net | number:2}}</span></label>
            </div>

            <div class="col-sm-5">
                <label>
                    Tax
                </label>
            </div>
            <!--<div class="col-sm-3"></div>-->

            <div class="col-sm-7">
                <label><span>{{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.policyData.tax | number:2}}</span></label>
            </div>
        </div>
        <div class="clearfix"></div>
    </section>

    <hr />



    <section class="paymentSection" ng-if="NewPaymentController.policyData.locale.localePK == 1">

        <div class="col-sm-12"><h3>Optional Extras</h3> </div>

        <div class="col-sm-12">
            <div class="col-sm-3">
                <label>Legal Care Cover: {{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.policyData.legalFees | number:2}}</label>
            </div>

            <div class="col-sm-3" ng-if="NewPaymentController.policyData.legalFeesAdded == false">
                <input type="button" value="Add Legal Care" ng-click="NewPaymentController.AddLegal()" class="btn-u btn-u-blue" />
            </div>
            <div class="col-sm-3" ng-if="NewPaymentController.policyData.legalFeesAdded == true">
                <input type="button" value="Remove Legal Care" ng-click="NewPaymentController.RemoveLegal()" class="btn-u btn-u-blue" />
            </div>
        </div>

        <div class="clearfix"></div>
    </section>

    <hr />

    <section class="paymentSection">

        <div class="col-sm-12"><h3>Documents you may wish to read</h3> </div>
        <div class="col-sm-12">
            <div class="col-sm-12" ng-if="doc.mustRead == false" ng-repeat="doc in NewPaymentController.policyData.documents">
                <a href="{{doc.docLink}}" target="_blank">{{doc.docType}}</a>
            </div>
        </div>

        <div class="clearfix"></div>
    </section>

    <hr />

    <div class="clearfix"></div>

    <section class="paymentSection">

        <div class="col-sm-12"><h3>Important documents that you must read</h3> </div>

        <div class="col-sm-12">
            <div class="col-sm-12" ng-if="doc.mustRead == true" ng-repeat="doc in NewPaymentController.policyData.documents">
                <a href="{{doc.docLink}}" target="_blank">{{doc.docType}}</a>
            </div>

            <div class="col-sm-12" style="margin-top:10px;">
                <label ng-class="{'errorText': (paymentForm.$submitted) && paymentForm.termsAndCond.$invalid}">Please tick to confirm that you have read, agree to, and comply (where necessary) to the 'Important Documents' immediately above.</label>

                <div ng-class="{'errorText': (paymentForm.$submitted) && paymentForm.termsAndCond.$invalid}" name="termsAndCond" ng-click="NewPaymentController.TermsClicked(paymentForm)" required="true" ng-model="termsAndCond" style="width:45px;height:40px;border:1px solid #000;">
                    <img id="termsTick" style="display:none" src="../../Content/Images/tick.png" alt="Alternate Text" />
                </div>
            </div>
        </div>

        <div class="clearfix"></div>
    </section>

    <hr />

    <section class="dateSection">
        <div class="col-sm-12"><h3>Select Dates</h3> <h5>   (This will appear on your certificate)</h5> </div>
        <div class="form-group" ng-class="{ 'has-error' : (paymentForm.$submitted) && paymentForm.datepicker.$invalid}">
            <label class="control-label col-sm-2">
                <span>Cover Required From</span>
            </label>
            <div class="col-sm-10">
                <input data-li-date-picker
                       data-dpName="datefrom"
                       type="text"
                       data-ng-pattern=""
                       data-min-date="NewPaymentController.dates.minDate"
                       data-max-date="NewPaymentController.dates.maxDate"
                       data-min-exp-date="NewPaymentController.dates.minExpDate"
                       data-max-exp-date="NewPaymentController.dates.maxExpDate"
                       data-start-date="NewPaymentController.dates.dateFrom"
                       data-number-of-days="NewPaymentController.dates.minToMaxDays" />

                <div ng-show="paymentForm.$submitted || paymentForm.datepicker.$touched">
                    <p ng-show="paymentForm.datepicker.$error.required" class="help-block">This is a required field</p>
                </div>
            </div>
        </div>

        <div class="form-group" ng-if="NewPaymentController.policyData.dates.dateToRequired" ng-class="{ 'has-error' : (paymentForm.$submitted) && paymentForm.datepickerto.$invalid}">
            <label class="control-label col-sm-2">Cover Required To</label>
            <div class="col-sm-10">
                <input data-li-date-pickerto
                       data-dpName="dateto"
                       type="text"
                       data-ng-pattern="ci.ngPattern"
                       data-min-exp-date="NewPaymentController.dates.minExpDate"
                       data-max-exp-date="NewPaymentController.dates.maxExpDate"
                       data-min-date="NewPaymentController.dates.minDate"
                       data-max-date="NewPaymentController.dates.maxDate"
                       data-end-date="NewPaymentController.dates.dateTo" />
                <div ng-show="paymentForm.$submitted || paymentForm.datepickerto.$touched">
                    <p ng-show="paymentForm.datepickerto.$error.required" class="help-block">This is a required field</p>
                </div>
            </div>
        </div>
        <div class="clearfix"></div>
        <hr />
    </section>



    <!--Show finance options for totals 100 or more but not for Ireland-->
    <section class="paymentSection" ng-if="NewPaymentController.policyData.locale.localePK == 1 && NewPaymentController.policyData.total >= 100 && NewPaymentController.policyData.brokerName == null">
        <div class="paymentHeader">
            <div class="col-sm-12"><h3>Please choose your payment method</h3> </div>
        </div>

        <label class="control-label col-sm-2">Do you wish to pay by 8 monthly instalments (subject to approval by the Finance Company)?</label>
        <div class="col-sm-10">
            <div class="radioInput" ng-click="NewPaymentController.instalment = true; NewPaymentController.PayByInstalment();">
                <input type="radio" ng-value="true" name="instalment" ng-click="NewPaymentController.PayByInstalment();" ng-model="NewPaymentController.instalment" />
                Yes
            </div>

            <div class="radioInput" ng-click="NewPaymentController.instalment = false; NewPaymentController.RemoveInstalment()">
                <input type="radio" ng-value="false" name="instalment" ng-model="NewPaymentController.instalment" ng-click="NewPaymentController.RemoveInstalment();" />
                No
            </div>
            <div>Please note that the finance will be provided by Leisure Premium Finance trading as Fox Finance, not Leisureinsure LLP</div>
        </div>
        <div class="clearfix"></div>
        <hr />
    </section>

    <section class="paymentSection" ng-if="NewPaymentController.instalment == true">

        <div class="col-sm-12"><h3>Please complete your direct debit details</h3>  <h5> The deposit is payable using a debit or credit card, while the instalments will be collected via direct debit.</h5></div>
        <div class="col-sm-12">
            <h5> We will only take your deposit of {{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.instalmentData.deposit | number:2}}</h5>
        </div>
        <div>
            <div class="form form-horizontal animate">
                <div class="form-group">
                    <label class="control-label col-xs-5">Total to Pay (Including Interest) </label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" value="{{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.instalmentData.totalToPay | number:2}}" disabled="disabled" ng-required="true" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-5">Deposit to Pay Now </label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" value="{{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.instalmentData.deposit | number:2}}" disabled="disabled" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-5">Number of Direct Debit instalments</label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" value="{{NewPaymentController.instalmentData.numberOfPayments| number:0}}" disabled="disabled" />
                    </div>
                </div>

                <div class="form-group">
                    <label class="control-label col-xs-5">Each instalment at </label>
                    <div class="col-xs-7">
                        <input type="text" class="form-control" value="{{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.instalmentData.eachPayment | number:2}}" disabled="disabled" />
                    </div>
                </div>


                <div class="form-group" ng-class="{ 'has-error' : (paymentForm.$submitted) && paymentForm.sortCodeTxt.$invalid }">

                    <label class="control-label col-xs-5">Sort Code</label>
                    <div class="col-xs-7">
                        <input type="text" name="sortCodeTxt" class="form-control" data-ng-model="NewPaymentController.instalmentData.sortCode" ng-required="true" />
                        <div ng-show="paymentForm.$submitted">
                            <p ng-show="paymentForm.sortCodeTxt.$error.required" class="help-block">
                                Sort Code is a required field
                            </p>
                        </div>
                    </div>

                </div>

                <div class="form-group" ng-class="{ 'has-error' : (paymentForm.$submitted) && paymentForm.accNoTxt.$invalid }">
                    <label class="control-label col-xs-5">Account Number:</label>
                    <div class="col-xs-7">
                        <input type="text" pattern="\d*" name="accNoTxt" class="form-control" data-ng-model="NewPaymentController.instalmentData.accountNumber" ng-required="true">
                        <div ng-show="paymentForm.$submitted">
                            <p ng-show="paymentForm.accNoTxt.$error.required" class="help-block">
                                Account number is a required field
                            </p>
                            <p ng-show="paymentForm.accNoTxt.$error.pattern" class="help-block">
                                Account number cannot contain strings
                            </p>
                        </div>
                    </div>

                </div>

                <div class="form-group" ng-class="{ 'has-error' : (paymentForm.$submitted) && paymentForm.accountTypeSelect.$invalid }">
                    <label class="control-label col-xs-5">Is the name of the account that the money will be taken from a business name or a person’s name?</label>
                    <div class="col-xs-7">
                        <select class="form-control" name="accountTypeSelect" data-ng-model="NewPaymentController.instalmentData.accountType" ng-required="true">
                            <option value="">Select</option>
                            <option value="P">Personal Account</option>
                            <option value="B">Business Account</option>
                        </select>
                    </div>
                </div>

                <div class="form-group" data-ng-if="NewPaymentController.instalmentData.accountType == 'B'" ng-class="{ 'has-error' : (paymentForm.$submitted) && paymentForm.businessNameTxt.$invalid }">
                    <label class="control-label col-xs-5">Business Name:</label>
                    <div class="col-xs-7">
                        <input type="text" name="businessNameTxt" class="form-control" data-ng-model="NewPaymentController.instalmentData.businessName" ng-required="true" />
                        <div ng-show="paymentForm.$submitted">
                            <p ng-show="paymentForm.businessNameTxt.$error.required" class="help-block">
                                Business name is a required field
                            </p>
                        </div>
                    </div>

                </div>

                <div data-ng-if="NewPaymentController.instalmentData.accountType == 'P'">
                    <div class="form-group" ng-class="{ 'has-error' : (paymentForm.$submitted) && paymentForm.titleTxt.$invalid }">
                        <label class="control-label  col-xs-5">Title:</label>
                        <div class="col-xs-7">
                            <select class="form-control" name="titleTxt" data-ng-model="NewPaymentController.instalmentData.title" ng-required="true">
                                <option value="Mr">Mr</option>
                                <option value="Mrs">Mrs</option>
                            </select>
                            <div ng-show="paymentForm.$submitted">
                                <p ng-show="paymentForm.titleTxt.$error.required" class="help-block">
                                    Title is a required field
                                </p>
                            </div>
                        </div>
                    </div>

                    <div class="form-group" ng-class="{ 'has-error' : (paymentForm.$submitted) && paymentForm.nameTxt.$invalid }">
                        <label class="control-label col-xs-5">Name:</label>
                        <div class="col-xs-7">
                            <input type="text" name="nameTxt" class="form-control" data-ng-model="NewPaymentController.instalmentData.name" ng-required="true" />
                            <div ng-show="paymentForm.$submitted">
                                <p ng-show="paymentForm.nameTxt.$error.required" class="help-block">
                                    Name is a required field
                                </p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group instalmentTick" ng-class="{ 'has-error' : (paymentForm.$submitted) && paymentForm.authDebitCheck.$invalid }">
                    <div class="col-xs-9 control-label">
                        <label class="control-label">
                            I confirm that the bank details provided are correct.<br />
                            I am the account holder and therefore the only person required to authorise direct debits from the above account.<br />
                            I understand that once I have paid the deposit, should I fail to proceed with the direct debit payments, my policy may be null and void, or prematurely cancelled, and in either case,
                            Leisure Premium Finance Ltd will retain £15 of my deposit. <br />
                            I have read and accept the above statements:
                        </label>
                    </div>

                    <div class="col-xs-1 instalmentCheck">
                        <input type="checkbox" name="authDebitCheck" class="form-control input-sm" data-ng-model="NewPaymentController.instalmentData.accountHolder" ng-required="true" />
                    </div>
                    <div class="clearfix"></div>
                </div>

                <div class="directDebitGuar">
                    <header>
                        <h3>The Direct Debit Guarantee</h3>
                        <img src="../../Content/Images/ddlogo.png" />
                    </header>
                    <ul>
                        <li>
                            <p>
                                The Guarantee is offered by all banks and building societies that accept instructions to pay Direct Debits
                            </p>
                        </li>
                        <li>
                            <p>
                                If there are any changes to the amount, date or frequency of your Direct Debit the organisation will notify you (normally 10 working days) in advance of your account being debited or as otherwise agreed. If you request the organisation to collect a payment, confirmation of the amount and date will be given to you at the time of the request
                            </p>
                        </li>
                        <li>
                            <p>
                                If an error is made in the payment of your Direct Debit, by the organisation or your bank or building society, you are entitled to a full and immediate refund of the amount paid from your bank or building society.
                                If you receive a refund you are not entitled to, you must pay it back when the organisation asks you to
                            </p>
                        </li>
                        <li>
                            <p>
                                You can cancel a Direct Debit at any time by simply contacting your bank or building society. Written confirmation may be required. Please also notify the organisation.
                            </p>
                        </li>
                    </ul>
                </div>

            </div>
        </div>
        <div class="clearfix"></div>
        <hr />
    </section>



    <section class="paymentSection" ng-if="NewPaymentController.policyData.brokerName == null">
        <div class="paymentHeader">
            <div class="col-sm-4"><h3>Please complete your payment details</h3> </div>
            <div class="col-sm-8"><img src="../../Content/Images/stripe.png" alt="Alternate Text" /></div>
        </div>
        <div class="clearfix"></div>
        <div ng-if="NewPaymentController.instalment == true">
            <div class="col-sm-12">
                <h5> The deposit is payable using a debit or credit card, while the instalments will be collected via direct debit.</h5>
            </div>
            <div class="col-sm-12">
                <h5> We will only take your deposit of {{NewPaymentController.policyData.locale.currencySymbol}}{{NewPaymentController.instalmentData.deposit | number:2}}</h5>
            </div>
        </div>
        <div class="clearfix"></div>

        <div class="form-group" ng-class="{ 'has-error' : (paymentForm.$submitted) && paymentForm.ccNumber.$invalid }">
            <label class="control-label col-sm-2">Credit Card Number</label>
            <div class="col-sm-10">
                <input type="tel"
                       autocomplete="cc-number"
                       ng-keypress="NewPaymentController.ShowCardImage()"
                       data-stripe="number"
                       placeholder="•••• •••• •••• ••••"
                       autofocus
                       name="ccNumber"
                       class="form-control cc-number"
                       ng-model="NewPaymentController.paymentCard.number"
                       required />
                <span class="form-control-feedback" aria-hidden="true"></span>
                <div ng-show="paymentForm.$submitted">
                    <p ng-show="paymentForm.ccNumber.$error.required" class="help-block">
                        Credit Card is a required field
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (paymentForm.$submitted) && paymentForm.ccexp.$invalid }">
            <label class="control-label col-sm-2">Expires</label>
            <div class="col-sm-10">
                <input type="tel"
                       data-stripe="number"
                       placeholder="MM/YY"
                       autofocus
                       name="ccexp"
                       class="form-control cc-exp"
                       ng-model="NewPaymentController.paymentCard.exp"
                       required />
                <span class="form-control-feedback" aria-hidden="true"></span>
                <div ng-show="paymentForm.$submitted">
                    <p ng-show="paymentForm.ccexp.$error.required" class="help-block">
                        Expiry Date is a required field
                    </p>
                </div>
            </div>
        </div>

        <div class="form-group" ng-class="{ 'has-error' : (paymentForm.$submitted) && paymentForm.cccvc.$invalid }">
            <label class="control-label col-sm-2">CVC</label>
            <div class="col-sm-10">
                <input type="tel"
                       autocomplete="off"
                       data-stripe="cvc"
                       placeholder="•••"
                       autofocus
                       name="cccvc"
                       class="form-control cc-cvc"
                       ng-model="NewPaymentController.paymentCard.cvc"
                       required />
                <span class="form-control-feedback" aria-hidden="true"></span>
                <div ng-show="paymentForm.$submitted">
                    <p ng-show="paymentForm.cccvc.$error.required" class="help-block">
                        CVC Number is a required field
                    </p>
                </div>
            </div>
        </div>

        <div class="clearfix"></div>

        <hr />
    </section>

    <section class="paymentSection">
        <div class="form-group">
            <div class="col-sm-12">
                <h4 id="cardInfo" class="help-block errorText"></h4>
            </div>
        </div>
    </section>

    <section class="buttonSection col-sm-12">
        <div class="prevBtn col-sm-4">
            <input type="button" value="Previous" ng-click="NewPaymentController.PreviousPage()" class="btn-u btn-u-blue" />
        </div>

        <div class="centreBtn col-sm-4" ng-if="NewPaymentController.policyData.brokerName != null">
            <input type="button" value="View Quote" class="btn-u btn-u-blue" ng-click="NewPaymentController.ViewCert()" />
        </div>

        <div class="nextBtn col-sm-4">
            <input type="submit" id="purchaseBtn" value="Purchase" class="btn-u btn-u-light-green" />
            <h3 style="text-align:right" ng-show="paymentForm.$submitted && paymentForm.$invalid" class="help-block errorText">Please check highlighted fields</h3>
        </div>
        <div class="clearfix"></div>
    </section>

    <div class="clearfix"></div>


</form>

<div class="col-sm-12"><button data-ng-click="NewPaymentController.Debug()">Debug</button></div>






    ﻿

