﻿<div class="panel panel-sea">
    <div class="panel-heading">
        <h2>Search for a policy</h2>
    </div>
    <div class="panel-body">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>Quote Reference</th>
                    <th>Broker Code</th>
                    <th>Email</th>
                    <th>Date Created</th>
                </tr>
            </thead>
            <tr data-ng-repeat="quote in failedTAM.quotes">
                <td><a ng-href="/admin/underwriter/quotes/edit/{{quote.quoteRef}}">{{quote.quoteRef}}</a></td>
                <td>{{quote.tamBrokerCode}}</td>
                <td>{{quote.contactEmail}}</td>
                <td>{{quote.dateAdded | date:'dd/MM/yyyy HH:mm'}}</td>
                <td><button class="btn btn-success" data-ng-click="failedTAM.addToTam(quote.quotePK)">Add To TAM</button></td>
            </tr>
        </table>
    </div>
</div>