﻿@model LeisureInsure.ViewModels.PaymentResponseVm

@{
    Layout = null;
}

<table>
    <tr>
        <td>Merchant Id</td>
        <td>@Model.MerchantId</td>
    </tr>
    <tr>
        <td>Order Id</td>
        <td>@Model.OrderId</td>
    </tr>
    <tr>
        <td>Currency</td>
        <td>@Model.Currency</td>
    </tr>
    <tr>
        <td>Amount</td>
        <td>@Model.Amount</td>
    </tr>
    <tr>
        <td>Timestamp</td>
        <td>@Model.Timestamp</td>
    </tr>
    <tr>
        <td>Hash</td>
        <td>@Model.Hash</td>
    </tr>
    <tr>
        <td>Auto Settle</td>
        <td>@Model.AutoSettleFlag</td>
    </tr>
    <tr>
        <td>Result</td>
        <td>@Model.Result</td>
    </tr>
    <tr>
        <td>Message</td>
        <td>@Model.Message</td>
    </tr>
    <tr>
        <td>Auth Code</td>
        <td>@Model.AuthCode</td>
    </tr>
    <tr>
        <td>Pasref</td>
        <td>@Model.PasRef</td>
    </tr>
    <tr>
        <td>Quote Ref</td>
        <td>@Model.QuoteReference</td>
    </tr>
</table>

