﻿<div class="panel panel-sea">
    <div class="panel-heading">
        <h2>Add a new Underwriter</h2>
    </div>
    <div class="panel-body">
        <div uib-alert ng-repeat="alert in alerts" ng-class="'alert-' + (alert.type || 'warning')" class="alert" close="underwriter.closeAlert($index)"><p>{{alert.msg}}</p></div>
        <form class="form form-with-validation"  name="addUnderwriter">
            <div class="form-group"  >
                <label class="control-label">Tam Code (Username)</label>
                <div>
                    <input type="text" data-ng-model="underwriter.tamCode" class="form-control" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Password</label>
                <div>
                    <input type="text" data-ng-model="underwriter.password" class="form-control" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">First Name</label>
                <div>
                    <input type="text" data-ng-model="underwriter.firstname" class="form-control" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Last Name</label>
                <div>
                    <input type="text" data-ng-model="underwriter.lastname" class="form-control" required/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Telephone</label>
                <div>
                    <input type="text" data-ng-model="underwriter.telephone" class="form-control"/>
                </div>
            </div>
            <div class="form-group">
                <label class="control-label">Email</label>
                <div>
                    <input type="email" data-ng-model="underwriter.email" class="form-control"/>
                </div>
            </div>

            <div class="form-group">
                <input type="button" class="btn-u btn-u-red pull-right" data-ng-click="underwriter.addUnderwriter()" value="Add Underwriter"/>
            </div>
        </form>
    </div>
 </div>

