﻿
<div class="panel panel-aqua">
    <div class="panel-heading">
        <h3>Start a new policy purchase</h3>
    </div>
    <div class="panel-body">
        <div class="form-group">
            <label for="quote-reference">Quote Reference</label>
            <input type="text" name="quote-reference" id="quote-reference" data-ng-model="underwriter.quoteReference" />
        </div>
        
        <div class="form-group">
            <label for="agent-code">Agent Tam Code</label>
            <input type="text" name="agent-code" id="agent-code" data-ng-model="underwriter.agentCode" />
        </div>
        
        <div>
            <button ladda-button="laddaStartProcess" class="btn-u btn-u-green ladda-button" data-ng-click="underwriter.confirmAgentPolicy()" data-style="expand-right">Confirm Agent Policy</button>
        </div>
        <br />
        <div>
            <button ladda-button="laddaStartProcess" class="btn-u btn-u-green ladda-button" data-ng-click="underwriter.confirmClientPayment()" data-style="expand-right">Confirm Client Payment</button>
        </div>
</div>
