﻿<div class="outer-quote row">
    <figure class="quote-banner" style="position: relative;margin-bottom:-95px">
        <div class="img" style="background-image: url('/Content/Images/landingpages/{{PLInputsController.navigationData.pictureUrl}}');"></div>
        <div class="overlay">
            <h1>{{PLInputsController.navigationData.title}}</h1>
        </div>
    </figure>
    <div class="breadrow">
        <div class="registration-breadcrumb">
            <div class="bc-circle">
                <span class="current"></span>
                <span class="step-name">Quote</span>
            </div>
            <div class="bc-divide">
                <span></span>
            </div>
            <div class="bc-circle">
                <span class="step-name">Personal Details</span>
            </div>
            <div class="bc-divide">
                <span></span>
            </div>
            <div class="bc-circle">
                <span class="step-name">Payment</span>
            </div>
            <div class="bc-divide">
                <span></span>
            </div>
            <div class="bc-circle">
                <span class="step-name">Confirmation</span>
            </div>
        </div>
    </div>
</div>

<hr />

<div class="price-total-panel">
    <div ng-if="PLInputsController.policyData.refer == false || PLInputsController.policyData.refer == null">
        <h2> Total Payable:  </h2> <h2>{{PLInputsController.policyData.locale.currencySymbol}}{{ PLInputsController.policyData.total | number : 2}} </h2>
        <span ng-if="PLInputsController.policyData.brokerName != null && PLInputsController.policyData.net > 0">
            Total Net: {{PLInputsController.policyData.locale.currencySymbol}}{{PLInputsController.policyData.net | number : 2}}
            LeisureInsure Fee: {{PLInputsController.policyData.locale.currencySymbol}}{{PLInputsController.policyData.leisureInsureFee | number : 2}}
            Tax: {{PLInputsController.policyData.locale.currencySymbol}}{{PLInputsController.policyData.tax | number : 2}}
            Agent Commission: {{PLInputsController.policyData.locale.currencySymbol}}{{PLInputsController.policyData.brokerCommission | number : 2}}
        </span>
        <div>
            <h5>All insurance taxes and fees, where applicable, are included in the above price</h5>
        </div>
    </div>
    <div ng-if="PLInputsController.policyData.refer == true">
        <label class="help-block errorText">
           Referral
        </label>
    </div>
</div>

<form id="policyForm"
      name="policyForm"
      novalidate
      ng-submit="PLInputsController.submitPolicyForm(policyForm,policyForm.$valid);"
      class="form-horizontal quoteform"
      role="form">

    <div class="col-md-12 container-fluid frmInputs">
        <div data-ng-repeat="cover in PLInputsController.policyData.covers" repeat-end="PLInputsController.FormComplete(policyForm)">

           
            <!-- when cover type is different from cover name show a question to group them-->
            <!--<div class="questionGroup" data-ng-if="PLInputsController.SetCoverType(cover.coverTypeDesc,cover.coverHeader)">-->
            <div class="questionGroup" data-ng-if="cover.sectionHeader">
                <!--MD Section-->
                <div ng-if="cover.coverTypeId == 3">
                    <div class="coverQuestion">
                        <span class="headerQuestion">Do you require {{cover.coverTypeDesc}}?</span>
                    </div>
                    <div class="formInput">
                        <div class="radioInput" data-ng-click="PLInputsController.ShowCoverSection(cover.coverTypeId,cover.id);">
                            <input type="radio" ng-value="true" name="coverSection{{cover.id}}" ng-click="PLInputsController.ShowCoverSection(cover.coverTypeId,cover.id);" ng-model="PLInputsController.policyData.mdSectionAdded" />
                            Yes
                        </div>

                        <div class="radioInput" data-ng-click="PLInputsController.HideCoverSection(cover.coverTypeId,cover.id);">
                            <input type="radio" ng-value="false" name="coverSection{{cover.id}}" ng-click="PLInputsController.HideCoverSection(cover.coverTypeId,cover.id);" ng-model="PLInputsController.policyData.mdSectionAdded" />
                            No
                        </div>
                    </div>
                    <h5 ng-if="PLInputsController.policyData.covers.length > 17">
                        Buildings must be built entirely of brick, stone, concrete or other non-combustible construction and roofed with concrete,
                        asphalt, tiles, slates, metal, or sheets or slabs composed of non-combustible materials and not have flat felt roofing that exceeds 25% of the entire roof
                    </h5>
                </div>

                <!--BI Section-->
                <div ng-if="cover.coverTypeId == 22">
                    <div class="coverQuestion">
                        <span class="headerQuestion">Do you require {{cover.coverTypeDesc}}?</span>
                    </div>
                    <div class="formInput">
                        <div class="radioInput" data-ng-click="PLInputsController.ShowCoverSection(cover.coverTypeId,cover.id);">
                            <input type="radio" ng-value="true" name="coverSection{{cover.id}}" ng-click="PLInputsController.ShowCoverSection(cover.coverTypeId,cover.id);" ng-model="PLInputsController.policyData.biSectionAdded" />
                            Yes
                        </div>

                        <div class="radioInput" data-ng-click="PLInputsController.HideCoverSection(cover.coverTypeId,cover.id);">
                            <input type="radio" ng-value="false" name="coverSection{{cover.id}}" ng-click="PLInputsController.HideCoverSection(cover.coverTypeId,cover.id);" ng-model="PLInputsController.policyData.biSectionAdded" />
                            No
                        </div>
                    </div>
                </div>
            </div>

            <div ng-if="cover.coverType == 'Mandatory'">
                <span class="headerQuestion">Please answer the following questions on {{cover.coverHeader}} cover</span>
                <hr />
            </div>
            <!--only show this question if cover is optional  -->
            <div class="questionGroup" ng-if="cover.coverType === 'Optional' && cover.showCover"> 

                <div class="coverQuestion" ng-if="cover.sectionType == true">
                    <h4>{{cover.question}}</h4>
                    <h5 ng-if="cover.requiredInfo != null">{{cover.requiredInfo}}</h5>
                </div>

                <div class="coverQuestion" ng-if="cover.sectionType == false">
                    <span class="headerQuestion">{{cover.question}}</span>
                    <h5 ng-if="cover.requiredInfo != null">{{cover.requiredInfo}}</h5>
                </div>

                <div class="formInput">
                    <div class="radioInput" data-ng-click="PLInputsController.AddOptionalCover(policyForm,cover.id);">
                        <input type="radio" ng-value="true" name="coverRequired{{cover.id}}" ng-click="PLInputsController.AddOptionalCover(policyForm,cover.id);" ng-model="cover.coverRequired" />
                        Yes
                    </div>

                    <div class="radioInput" data-ng-click="PLInputsController.RemoveOptionalCover(policyForm,cover.id);">
                        <input type="radio" ng-value="false" name="coverRequired{{cover.id}}" ng-click="PLInputsController.RemoveOptionalCover(policyForm,cover.id);" ng-model="cover.coverRequired" />
                        No
                    </div>
                </div>

            </div>


            <!--<div ng-if="cover.coverType === 'Optional' && cover.coverRequired == true" class="coverQuestion">
                <h5>Please answer the following questions on {{cover.coverHeader}} cover</h5>
            </div>-->
            <div class="questionGroup" ng-if="cover.coverRequired == true">
                <div data-ng-repeat="rateview in cover.rates track by $index" data-ng-switch="rateview.inputTypeId" data-ng-if="rateview.display == 1">
                    <!--Input text field-->
                    <div data-ng-switch-when="2" class="form-group" ng-class="{ 'has-error' : (policyForm.$submitted)  && policyForm.{{rateview.inputName}}.$invalid }">

                        <label class="control-label">{{rateview.rateName}}</label>

                        <input name="{{rateview.inputName}}"
                               type="text"
                               data-id="rateview.Id"
                               data-ng-pattern="rateview.ngPattern"
                               class="form-control"
                               maxlength="500"
                               ng-pattern=""
                               data-ng-model="rateview.rateValue"
                               ng-change="rateview.rateValue=rateview.rateValue.toUpperCase();"
                               data-ng-model-options="{ updateOn: 'blur' }"
                               data-ng-required="{{rateview.ngRequired}}" />

                    </div>

                    <!--Input number field-->
                    <div data-ng-switch-when="3" class="form-group" ng-class="{ 'has-error' : (policyForm.$submitted)  && policyForm.{{rateview.inputName}}.$invalid }">

                        <label class="control-label">{{rateview.rateName}}</label>

                        <input name="{{rateview.inputName}}"
                               type="number"
                               data-id="rateview.Id"
                               string-to-number
                               data-ng-pattern="rateview.ngPattern"
                               class="form-control inputNum"                               
                               maxlength="500"
                               ng-pattern=""
                               data-ng-model="rateview.rateValueNum"                               
                               data-ng-model-options="{ updateOn: 'blur' }"
                               data-ng-required="{{rateview.ngRequired}}" />

                    </div>

                    <!--Checkbox-->
                    <div data-ng-switch-when="13" class="form-group" ng-class="{ 'has-error' : (policyForm.$submitted)  && policyForm.{{rateview.inputName}}.$invalid }">

                        <label class="control-label">{{rateview.rateName}}</label>
                        <div class="checkboxSection">
                            <input name="{{rateview.inputName}}"
                                   type="checkbox"
                                   data-id="rateview.Id"
                                   class="form-control"
                                   ng-true-value="'true'"
                                   ng-false-value="'false'"
                                   ng-click="PLInputsController.CheckRate(rateview);"
                                   data-ng-model="rateview.rateValue" />
                        </div>
                    </div>

                    <!--Input text area-->
                    <div data-ng-switch-when="11" class="form-group" ng-class="{ 'has-error' : (policyForm.$submitted)  && policyForm.{{rateview.inputName}}.$invalid }">

                        <label class="control-label">{{rateview.rateName}}</label>

                        <textarea name="{{rateview.inputName}}"
                                  data-id="rateview.Id"
                                  data-ng-pattern="rateview.ngPattern"
                                  class="form-control"
                                  maxlength="500"
                                  ng-pattern=""
                                  data-ng-model="rateview.rateValue"
                                  data-ng-model-options="{ updateOn: 'blur' }"
                                  data-ng-required="{{rateview.ngRequired}}"></textarea>
                    </div>

                    <!--Input text field with exempt tick box-->
                    <div data-ng-switch-when="24" class="form-group" ng-class="{ 'has-error' : (policyForm.$submitted)  && policyForm.{{rateview.inputName}}.$invalid }">

                        <label class="control-label">{{rateview.rateName}}</label>

                        <input name="{{rateview.inputName}}"
                               type="text"
                               data-id="rateview.Id"
                               data-ng-pattern="rateview.ngPattern"
                               class="form-control"
                               maxlength="500"
                               data-ng-model="rateview.rateValue"
                               data-ng-model-options="{ updateOn: 'blur' }"
                               ng-required="!cover.ernExempt"
                               ng-disabled="cover.ernExempt" />
                        <div class="rightColumn exemptDiv">
                            <label for="exemptCheck">Exempt</label>
                            <input type="checkbox" id="exemptCheck" ng-value="true" ng-model="cover.ernExempt" />
                        </div>
                    </div>

                    <!--Currency Field-->
                    <div data-ng-switch-when="18" class="form-group quote-input" ng-class="{ 'has-error' : (policyForm.$submitted) && policyForm.{{rateview.inputName}}.$invalid }">
                        <label class="control-label">{{rateview.rateName}}</label>
                        <input name={{rateview.inputName}}
                               type="text"
                               data-id="rateview.id"
                               class="form-control"
                               data-ng-model-options="{ updateOn: 'blur' }"
                               data-ng-model="rateview.rateValue"
                               maxlength="500"
                               data-ng-required="{{rateview.ngRequired}}"
                               data-ng-change="PLInputsController.FormatCurrency(cover.id,rateview.id)" />

                        <div ng-show="policyForm.$submitted">
                            <p ng-show="policyForm.{{rateview.inputName}}.$error.required" class="help-block">This is a required field</p>
                            <p ng-show="policyForm.{{rateview.inputName}}.$error.pattern" class="help-block">{{rateview.rateName}} should be numeric and a positive number</p>
                        </div>

                    </div>

                    <!--radio yes/no-->
                    <div data-ng-switch-when="19" class="form-group" ng-class="{ 'custom-error' : (policyForm.$submitted)  && policyForm.{{rateview.inputName}}.$invalid }">

                        <label class="control-label">{{rateview.rateName}}</label>

                        <div class="formInput" name="{{rateview.inputName}}" ng-model="rateview.rateValue" ng-required="1">
                            <div class="radioInput" ng-click="rateview.rateValue = 'yes'; PLInputsController.YesNoSelected(rateview,policyForm);">
                                <input data-id="rateview.Id" name="yesno{{rateview.id}}"
                                       ng-click="PLInputsController.YesNoSelected(rateview,policyForm)"
                                       type="radio"
                                       value="yes"
                                       ng-model="rateview.rateValue"
                                       data-groupindex="0">
                                Yes
                            </div>

                            <div class="radioInput" ng-click="rateview.rateValue = 'no'; PLInputsController.YesNoSelected(rateview,policyForm);">
                                <input data-id="rateview.Id" name="yesno{{rateview.id}}"
                                       ng-click="PLInputsController.YesNoSelected(rateview,policyForm)"
                                       type="radio" value="no"
                                       ng-model="rateview.rateValue"
                                       data-groupindex="0">
                                No
                            </div>
                        </div>
                    </div>

                    <!--select list-->
                    <div data-ng-switch-when="7" id="{{rateview.inputName}}" class="form-group" ng-class="{ 'has-error' : policyForm.$submitted && policyForm.{{rateview.inputName}}.$invalid }">

                        <label class="control-label">{{rateview.rateName}}</label>

                        <select class="form-control"
                                name="{{rateview.inputName}}"
                                ng-data-valid="policyForm.rateview.inputName.$valid}}"
                                data-ng-pattern="rateview.ngPattern"
                                data-ng-disabled="rateview.ngDisabled == 1"
                                data-ng-model="rateview.inputSelected"
                                data-ng-change="PLInputsController.optionSelected(rateview)"
                                data-ng-options="rx.rateName for rx in rateview.options track by rx.id"
                                data-ng-required="rateview.ngRequired"
                                ng-class="{'dropdownOneLine': ci.oneLine}">
                            <option value="" data-ng-model="ci.inputSelected">
                                Select
                            </option>
                        </select>
                    </div>

                    <!--label-->
                    <div data-ng-switch-when="1" class="form-group" ng-class="{ 'has-error' : (policyForm.$submitted)  && policyForm.{{rateview.inputName}}.$invalid }">
                        <div class="rightColumn">
                            <h5>{{rateview.rateName}}</h5>
                        </div>
                    </div>

                    <!--button-->
                    <div data-ng-switch-when="10" class="form-group" ng-class="{ 'has-error' : (policyForm.$submitted)  && policyForm.{{rateview.inputName}}.$invalid }">

                        <div class="rightColumn">
                            <input type="button" class="btn-u btn-u-blue" value="{{rateview.rateName}}" data-ng-click="PLInputsController.AddListItem(rateview,policyForm)" />
                        </div>
                    </div>

                    <!--item specification length - width- extra info - extra cover-->
                    <div data-ng-switch-when="21" class="form-group" ng-class="{ 'has-error' : (policyForm.$submitted)  && policyForm.{{rateview.inputName}}.$invalid }">
                        <div class="rightColumn">

                            <label style="width:100%" ng-if="PLInputsController.showLengthWidth == true">
                                Please enter the number of items of each type of equipment, it’s base dimensions (length & width) in feet, and any additional descriptive information.
                                If you require Material Damage cover (Fire, Theft and Accidental Damage), please enter the Total Replacement Value (New for Old) of the relevant Item(s).
                            </label>
                            <label style="width:100%" ng-if="PLInputsController.showLengthWidth == false">
                                Please enter the number of items of each type of equipment, and any additional descriptive information.
                                If you require Material Damage cover (Fire, Theft and Accidental Damage), please enter the Total Replacement Value (New for Old) of the relevant Item(s).
                            </label>
                            <!--noItems-->
                            <div class="specInput" ng-class="{ 'custom-error' : policyForm.noItems.$invalid}">
                                <input data-id="rateview.Id"
                                       placeholder="No. of Items"
                                       name="noItems"
                                       type="number"
                                       ng-value="0"
                                       ng-change="PLInputsController.ValidateNoItems(policyForm,rateview.noItems)"
                                       ng-pattern="/^\d+$/"
                                       data-ng-model="rateview.noItems">
                            </div>
                            <!--length-->

                            <div class="specInput" ng-if="PLInputsController.showLengthWidth == true" ng-class="{ 'custom-error' : policyForm.length.$invalid}">
                                <input data-id="rateview.Id" ng-change="PLInputsController.ValidateLength(policyForm,rateview.length)" placeholder="Length" name="length" type="text" data-ng-model="rateview.length">
                            </div>
                            <!--width-->
                            <div class="specInput" ng-if="PLInputsController.showLengthWidth == true" ng-class="{ 'custom-error' : policyForm.width.$invalid}">
                                <input data-id="rateview.Id" ng-change="PLInputsController.ValidateWidth(policyForm,rateview.width)" placeholder="Width" name="width" type="text" data-ng-model="rateview.width">
                            </div>

                            <!--extra info-->
                            <div class="specInput freeInput">
                                <input data-id="rateview.Id" placeholder="Extra info eg blue and yellow" name="extraInfo" type="text" data-ng-model="rateview.itemExtra">
                            </div>
                            <!-- extra cover -->
                            <div class="specInput freeInput">
                                <input data-id="rateview.Id" placeholder="Value of Equipment" name="extraCover"
                                       type="text"
                                       data-ng-model="rateview.extraCover"
                                       ng-change="PLInputsController.FormatCurrency(cover.id,rateview.id)"
                                       data-groupindex="0">
                            </div>
                            <div>
                                <label ng-show="(policyForm.$submitted) && policyForm.noItems.$error.required" class="errorText">Number Of Items is a required field</label>
                                <label ng-show="(policyForm.$submitted) && policyForm.noItems.$error.pattern" class="errorText">Number of items should be numeric</label>
                                <label ng-show="(policyForm.$submitted) && policyForm.length.$error.required" class="errorText">Length is a required field</label>
                                <label ng-show="(policyForm.$submitted) && policyForm.width.$error.required" class="errorText">Width is a required field</label>
                            </div>

                            <div data-ng-repeat="item in cover.itemsAdded track by $index">
                                <div class="listitem">
                                    <span value="{{item.rateId}}">
                                        {{item.quantity}}x {{item.itemDescription}}
                                        <span ng-if="item.length.length > 0">Height:{{item.length}}</span>
                                        <span ng-if="item.width.length > 0">Width:{{item.width}}</span>
                                        <span ng-if="item.extraInfo.length > 0">Extra Info:{{item.extraInfo}}</span>
                                        <span ng-if="item.extraCover.length > 1">Material Damage:{{item.extraCover}} </span>
                                    </span>
                                    <input type="button" class="btn-u btn-u-blue" ng-click="PLInputsController.RemoveListItem($index,cover.id)" value="X" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--item specification description - wage roll etc -->
                    <div data-ng-switch-when="23" class="form-group" ng-class="{ 'has-error' : (policyForm.$submitted)  && policyForm.{{rateview.inputName}}.$invalid }">
                        <div class="rightColumn">
                            <div data-ng-repeat="item in cover.itemsAdded track by $index">
                                <div class="listitem">
                                    <span value="{{item.rateId}}">1 X {{item.itemDescription}} | Wage Roll:{{item.rateValue}} </span>
                                    <input type="button" class="btn-u btn-u-blue" ng-click="PLInputsController.RemoveListItem($index,cover.id)" value="X" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--item specification description -->
                    <div data-ng-switch-when="27" class="form-group" ng-class="{ 'has-error' : (policyForm.$submitted)  && policyForm.{{rateview.inputName}}.$invalid }">

                        <div class="rightColumn">
                            <div data-ng-repeat="item in cover.itemsAdded track by $index">
                                <div class="listitem">
                                    <span value="{{item.rateId}}">1 X {{item.itemDescription}} {{item.rateValue}}  </span>
                                    <input type="button" class="btn-u btn-u-blue" ng-click="PLInputsController.RemoveListItem($index,cover.id)" value="X" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--item description only (sports etc) -->
                    <div data-ng-switch-when="28" class="form-group" ng-class="{ 'has-error' : (policyForm.$submitted)  && policyForm.{{rateview.inputName}}.$invalid }">

                        <div class="rightColumn">
                            <div data-ng-repeat="item in cover.itemsAdded track by $index">
                                <div class="listitem">
                                    <span value="{{item.rateId}}">{{item.itemDescription}} {{item.rateValue}}  </span>
                                    <input type="button" class="btn-u btn-u-blue" ng-click="PLInputsController.RemoveListItem($index,cover.id)" value="X" />
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--table-->
                    <div data-ng-switch-when="14" class="form-group" ng-class="{ 'custom-error' : (policyForm.$submitted || !PLInputsController.validManCover)  && policyForm.indemTable.$invalid }">


                        <table class="table-responsive table-striped table-bordered indemnitytable" ng-model="indemTable" name="indemTable">
                            <tr data-ng-repeat="row in cover.table.rows" data-ng-click="row.selected = true;PLInputsController.SelectIndemnity(row.rowid,cover.id,policyForm)">
                                <th ng-if="cell.header == true" data-ng-repeat="cell in row.cells">{{cell.description}}</th>
                                <td ng-if="cell.description == 'Radio'" data-ng-repeat="cell in row.cells">
                                    <input name="radioIndem"
                                           ng-value="true"
                                           ng-model="row.selected"
                                           type="radio"
                                           data-ng-click="PLInputsController.SelectIndemnity(row.rowid,cover.id,policyForm)" />
                                </td>
                                <td ng-if="cell.header == false && cell.description != 'Radio'" data-ng-repeat="cell in row.cells">{{cell.description}}</td>
                            </tr>
                        </table>
                    </div>
                </div>

                <!--<hr />-->
            </div>
        </div>
    </div>
    <section class="buttonSection col-sm-12">
        <div class="nextBtn text-right">
            <input type="submit" value="Next" class="btn-u btn-u-blue" />
        </div>
    </section>
    <section style="clear:both" class="col-sm-12">
        <label style="text-align:left" ng-show="policyForm.$submitted && policyForm.$invalid" class="help-block errorText">Please check highlighted fields</label>
        <label style="text-align:left" ng-show="PLInputsController.validManCover == false" class="help-block errorText">The mandatory cover Public Liability is not complete</label>
        <label style="text-align:left" ng-show="PLInputsController.validOpCover == false" class="help-block errorText">Please make sure you add the items to your optional cover</label>
        <label style="text-align:left" ng-show="PLInputsController.policyData.refer == true" class="help-block errorText">
            Thank you for your enquiry. Due to the information you have provided,
            your enquiry needs to be referred to an underwriter for further consideration. <br /> If you would like to proceed with this referral, please can you click on the button below to complete your contact details
        </label>
    </section>

    <section class="buttonSection col-sm-12">
        <div class="nextBtn" ng-show="PLInputsController.policyData.refer == true">
            <input type="button" value="Contact Underwriter" class="btn-u btn-u-green" />
        </div>
    </section>

</form>



<button data-ng-click="PLInputsController.Debug()">Debug</button>



    ﻿

