﻿
<table class="table table-hover table-striped">

    <tbody>
    <tr ng-repeat="landingPage in landingPageController.landingPages()">
        <td>{{landingPage.title}}</td>
        <td><input type="button" class="btn btn-danger" data-ng-click="landingPageController.delete(landingPage.id)" value="Delete"/></td>
        <td><input type="button" class="btn btn-primary" data-ng-click="landingPageController.edit(landingPage.id)" value="Edit" /></td>
    </tr>
    <tr>
        <td></td>
        <td></td>
        <td><input type="button" class="btn btn-success" data-ng-click="landingPageController.addLandingPage()" value="Add new page"/></td>
    </tr>
    </tbody>
</table>
